/* exo-2-regular - cyrillic_latin */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/exo-2-v6-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Exo 2'), local('Exo2-Regular'),
    url('../fonts/exo-2-v6-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/exo-2-v6-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/exo-2-v6-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/exo-2-v6-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/exo-2-v6-cyrillic_latin-regular.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-800 - cyrillic_latin */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/exo-2-v6-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
    src: local('Exo 2 Extra Bold'), local('Exo2-ExtraBold'),
    url('../fonts/exo-2-v6-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/exo-2-v6-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/exo-2-v6-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/exo-2-v6-cyrillic_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/exo-2-v6-cyrillic_latin-800.svg#Exo2') format('svg'); /* Legacy iOS */
}
/*Common style*/
body a {
    text-decoration: none;
    color: #000;
}
body {
    font: 400 16px "Exo 2", sans-serif;
}
.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.manu-block, .sub-menu, .contact-block, .main-logo, .heating-menu:before, .water-menu:before, .sollar-menu:before, .number-head:before, .location-head:before, .design, .installation, .service, .ww-item1, .ww-item2, .ww-item3, .ww-item4, .ww-item5, .ww-item6, .heating-item, .heating-item li:before, .water-item, .water-item li:before, .solar-item, .solar-item li:before, .next-ts, .prev-ts, .next-h, .next-w, .next-s, .prev-h, .prev-w, .prev-s, .prev, .map, .contacts, .number:before, .location:before, .email:before, #heating-block h2:after, #water-block h2:after, #solar-block h2:after, .ts-item {
    display: inline-block;
}
.manu-block, .sub-menu, .contact-block, .main-logo, #heating-block h2:after, #water-block h2:after, #solar-block h2:after {
    vertical-align: middle;
}
.hide-gallery, .background, .mobile-menu, .burger-menu {
    display: none;
}
.heating-menu:before, .water-menu:before, .sollar-menu:before, .number-head:before, .location-head:before, .img, .ww-img, .next-ts, .prev-ts, .next-h, .next-w, .next-s, .prev-h, .prev-w, .prev-s, .prev, .number:before, .location:before, .email:before, #heating-block h2:after, #water-block h2:after, #solar-block h2:after, .burger-menu {
    background: url("../img/sprite.svg") no-repeat;
}
.heating-menu:before, .water-menu:before, .sollar-menu:before, .number-head:before, .location-head:before, .heating-item li:before, .water-item li:before, .solar-item li:before, .number:before, .location:before, .email:before, #heating-block h2:after, #water-block h2:after, #solar-block h2:after {
    content: "";
}
.heating-item, .ww-item1, .ww-item2, .ww-item3, .ww-item4, .ww-item5, .ww-item6, .solar-item, .water-item {
    vertical-align: top;
}
.arrows, .heating-item, .water-item {
    cursor: pointer;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
}
/*section {*/
    /*margin: 0 10px;*/
/*}*/
/*END Common style*/
.header-block {
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.sollar-menu {
    border-right: 2px solid #f99c32;
    padding-right: 35px;
}
.main-logo {
    margin: 15px 0 0 90px;
}
.manu-block {
    font-size: 16px;
    margin: 15px 35px 0 120px;
}
.sub-menu {
    font-size: 14px;
    margin: 15px 120px 0 0;
    color: #808080;
}
.contact-block {
    color: #f87400;
}
.number-head {
    font: 800 16px "Exo 2", sans-serif;
    margin-bottom: 10px;
}
.heating-menu, .water-menu {
    margin-right: 70px;
}
.about-menu{
    margin-right: 21px;
}
.main-slider {
    margin-top: 100px;
}
.main-slider img {
    width: 100%;
}
.sollar-menu:before, .water-menu:before, .heating-menu:before {
    margin: 0 18px -2px 0;
}
.sollar-menu:before {
    width: 17px;
    height: 17px;
    background-position: -30.7px 0;
}
.water-menu:before {
    width: 11px;
    height: 17px;
    background-position: -16.7px 0;
}
.heating-menu:before {
    width: 14px;
    height: 17px;
}
.number-head:before, .number:before {
    width: 12px;
    height: 11px;
    background-position: -50.7px 0;
}
.location-head:before, .location:before {
    width: 10px;
    height: 11px;
    background-position: -65.7px 0;
}
.number-head:before, .location-head:before {
    margin-right: 16px;
}
.service-block {
    margin: 80px 10px 100px;
}
.service-block h3 {
    font: 800 24px "Exo 2", sans-serif;
}
.design, .installation, .service {
    text-align: center;
    width: 29%;
}
.design, .installation {
    margin-right: 5%;
}
.img {
    width: 76px;
    height: 76px;
    margin: 45px auto;
}
.design .img {
    background-position: 0 -20px;
}
.installation .img {
    background-position: -76px -20px;
}
.service .img {
    background-position: -158px -20px;
}
.why-we {
    text-align: center;
    padding-top: 48px;
    background-color: #f0f3f9;
}
.why-we h2 {
    font: 800 30px "Exo 2", sans-serif;
    margin-bottom: 100px;
}
.why-we .container {
    max-width: 800px;
}
.ww-item1, .ww-item2, .ww-item3, .ww-item4, .ww-item5, .ww-item6 {
    width: 30%;
    margin: 0 12px 90px;
}
.ww-img {
    margin: 0 auto 20px;
}
.ww-item1 .ww-img {
    width: 76px;
    height: 78px;
    background-position: 0 -99px;
}
.ww-item2 .ww-img {
    width: 79px;
    height: 78px;
    background-position: -79px -99px;
}
.ww-item3 .ww-img {
    width: 64px;
    height: 75px;
    background-position: -160px -99px;
}
.ww-item4 .ww-img {
    width: 66px;
    height: 63px;
    background-position: 0 -180px;
}
.ww-item5 .ww-img {
    width: 57px;
    height: 73px;
    background-position: -69px -180px;
}
.ww-item6 .ww-img {
    width: 125px;
    height: 75px;
    background-position: -128px -180px;
}
#heating-block, #water-block, #solar-block {
    padding: 150px 0 0;
    margin: 0 10px;
    text-align: center;
}
#heating-block h2, #water-block h2, #solar-block h2, #works h4, .about-us h2, .contacts-block h2 {
    font: 800 30px "Exo 2", sans-serif;
}
#heating-block p, #water-block p, #solar-block p {
    color: #666666;
    margin: 15px 0 50px;
}
.heating-item, .water-item, .solar-item {
    width: 31.25%;
    height: 334px;
    text-align: left;
    color: #fff;
}
#heating-block .heating-item:nth-child(3) {
    background: url("../img/direction/radiator.jpg") no-repeat;
    margin-right: 2.5%;
    background-size: cover;
}
#water-block .water-item:nth-child(3) {
    background: url("../img/direction/water-supply.jpg") no-repeat;
    margin-right: 2.5%;
    background-size: cover;
}
#solar-block .solar-item:nth-child(3) {
    background: url("../img/direction/solar-pl.jpg") no-repeat;
    margin-right: 2.5%;
    background-size: cover;
}
#heating-block .heating-item:nth-child(4) {
    background: url("../img/direction/kotl.jpg") no-repeat;
    margin-right: 2.5%;
    background-size: cover;
}
#solar-block .solar-item:nth-child(4) {
    background: url("../img/direction/solar-va.jpg") no-repeat;
    margin-right: 2.5%;
    background-size: cover;
}
#water-block .water-item:nth-child(4) {
    background: url("../img/direction/water-disposal.jpg") no-repeat;
    margin-right: 2.5%;
    background-size: cover;
}
#heating-block .heating-item:nth-child(5) {
    background: url("../img/direction/pol.jpg") no-repeat;
    background-size: cover;
}
#solar-block .solar-item:nth-child(5) {
    background: url("../img/direction/solar-db.jpg") no-repeat;
    background-size: cover;
}
#water-block .water-item:nth-child(5) {
    background: url("../img/direction/water-filter.jpg") no-repeat;
    background-size: cover;
}
.heating-item h3, .water-item h3, .solar-item h3 {
    margin: 44px 0 40px 29px;
    font: 800 24px "Exo 2", sans-serif;
}
.heating-item ul, .water-item ul, .solar-item ul {
    margin-left: 25px;
}
.heating-item li, .water-item li, .solar-item li {
    margin-bottom: 15px;
}
.heating-item li:before, .water-item li:before, .solar-item li:before {
    width: 12px;
    height: 12px;
    background-color: #f99c32;
    margin-right: 10px;
}
#works {
    text-align: center;
    padding-top: 150px;
}
#works h4 {
    font-size: 24px;
}
.next-h, .next-w, .next-s, .prev-h, .prev-w, .prev-s, .next-ts, .prev-ts {
    width: 23px;
    height: 15px;
}
.next-h, .next-w, .next-s, .next-ts {
    background-position: -78.7px 0;
}
.prev-h, .prev-w, .prev-s, .prev-ts {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -78.7px 0;
    margin-right: 15px;
}
.arrows {
    text-align: right;
    margin: 15px 30px 20px 0;
}
.works-slider-h span, .works-slider-w span, .works-slider-s span {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 17px;
    background-color: #f99c32;
    color: #fff;
}
.works-slider-h span {
    background-color: #d24a2b;
}
.map, .contacts {
    width: 48%;
    vertical-align: top;
}
.contacts {
    margin-right: 3%;
}
.about-us h2 {
    margin: 0 0 48px 40px;
}
.about-us p {
    text-indent: 40px;
    line-height: 24px;
    margin-bottom: 70px;
}
.contacts-block h2 {
    margin: 0 0 60px 40px;
}
.contacts-block div{
    color: #f87400;
    font-size: 18px;
}
.email:before {
    width: 15px;
    height: 10px;
    background-position: -104.7px 0;
}
.number:before, .location:before, .email:before {
    margin-right: 21px;
}
.number, .location, .email {
    margin-bottom: 25px;
}
footer {
    margin-top: 190px;
    text-align: center;
}
.footer-logo {
    width: 184px;
    margin-bottom: 60px;
}
.footer-menu a {
    font-size: 18px;
}
.footer-menu a:nth-child(1), .footer-menu a:nth-child(2) {
    margin-right: 70px;
}
.corp {
    margin: 80px 0 50px;
    font-size: 14px;
    color: #808080;
}
#heating-block h2:after {
    width: 36px;
    height: 43px;
    background-position: 0 -257.5px;
}
#water-block h2:after {
    width: 30px;
    height: 43px;
    background-position: -39px -257.5px;
}
#solar-block h2:after {
    width: 43px;
    height: 43px;
    background-position: -72px -257.5px;
}
#heating-block h2:after, #water-block h2:after, #solar-block h2:after {
    margin-left: 30px;
}
#final-block {
    padding-top: 160px;
    margin: 0 10px;
}
.typical-schematic {
    margin-top: 100px;
    text-align: left;
}
.typical-schematic h3 {
    font: 800 24px "Exo 2", sans-serif;
}
.ts-title {
    border-left: 3px solid #f99c32;
    padding: 5px 0 5px 27px;
    margin-bottom: 60px;
}
.ts-title p {
    margin: 8px 0 0 0;
}
.ts-point {
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}
.ts-point img {
    height: 250px;
}
.ts-item {
    cursor: pointer;
    margin: 0 50px;
}
.ts-point-title {
    position: absolute;
    bottom: 0;
    background: rgba(210,74,43,0.9);
    padding: 10px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
}
.works-item {
    position: relative;
    height: 282px;
    width: 500px;
    overflow: hidden;
    margin: 0 20px;
    box-sizing: border-box;
}
.works-slider-h img, .works-slider-w img, .works-slider-s img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.works-slider-w .works-item span {
    background-color: #6b89c9;
}
.ww-text {
    word-break: break-word;
}