.main-menu li:hover {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.main-menu li:hover {
	color: #4446cf;
}
.phone-block a:hover {
	text-decoration: underline !important;
}