
.vacancy-modal, .pick-vacancy, .th-menu a, .th-menu-block a, .n-callback-button {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.vacancy-modal:hover {
    background-color: rgba(0,0,0,0.9);
}
.pick-vacancy:hover {
    background-color: rgba(255,232,0,0.6);
}
.th-menu a:hover, .th-menu-block a:hover {
    color: #dbbd66;
}
.n-callback-button:hover {
    background-color: #f7d060;
}
