@media (max-width: 1200px) {
    h1{
        max-width: 700px;
        font-size: 40px;
    }
    h2 {
        font-size: 40px;
    }
    .scr1-block {
        top: 21%;
    }
    .logo-integral {
        max-width: 300px;
    }
    .text {
        line-height: 24px;
        font-size: 17px;
    }
    .scr2-block .text {
        max-width: 500px;
    }
}
@media (max-width: 1023px) {
    .logo-integral {
        max-width: 300px;
    }
    h1 {
        max-width: 500px;
        font-size: 30px;
    }
    .text {
        max-width: 400px;
    }
    .scr2-block .text {
        max-width: 330px;
    }
    form {
        max-width: 500px;
    }
}
@media (max-width: 767px) {
    .logo-integral {
        max-width: 150px;
    }
    .text {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .button {
        padding: 12px 40px;
        font-size: 14px;
    }
    h1 {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 600;
    }
    h2 {
        font-size: 18px;
        font-weight: 500;
    }
    .text {
        font-size: 12px;
        line-height: 16px;
        max-width: 170px;
        margin-bottom: 10px;
    }
    .scr2-block {
        top: 20%;
    }
    .scr2-block .text, .scr3-block .text {
        max-width: 100%;
        text-align: center;
    }
    .scr3-block {
        top: 30%;
    }
    h3 {
        font-size: 30px;
        color: #fff;
    }
    input {
        font-size: 12px;
        padding: 10px;
        color: #fff;
        border-color: #fff;
    }
    .scr4-block {
        bottom: 10%;
        color: #fff;
    }
    input::placeholder {
        font-size: 12px;
        color: #fff;
    }
    .scr4 .button {
        margin-top: 50px;
    }
}



