@media (max-width: 1200px) {
    
}
@media (max-width: 1023px) {
    .logo-integral {
        max-width: 300px;
    }
}
@media (max-width: 767px) {
    .logo-integral {
        max-width: 150px;
    }
    .text {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .button {
        padding: 12px 40px;
        font-size: 14px;
    }
}



