					/*media 1200*/
@media (max-width:1200px) {
	.head-logo {
		margin-left: 50px;
	}
	.burger-menu-head {
		display: block;
	}
	.wwc1-2 {
		margin-top: 95px;
		display: flex;
		justify-content: center;
	}
	.why-we-card1 {
		margin-right: 25px;
	}
	.why-we-card2 {
		margin: 0;
	}
	.wwc3-flex {
		display: flex;
		justify-content: center;
		margin-top: 28px;
	}
	.main-menu, .img-menu, .home-menu-text, 
	.footer-menu, .vertical-line1{
		display: none;
	}
	.vertical-line2 {
		margin-right: 25px;
	}
	.logo-768 {
		display: inline-block;
	}
	.about-us img {
		display: block;
		float: none;
		margin: 50px auto 0px;
	}
	.about-us-text {
		width: auto;
		margin: 50px 10px 0px;
	}
	.only-us-icon {
		margin-left: 0;
	}
	.only-us-img {
		display: block;
    	float: none;
    	margin: 0 auto;
	}
	.only-us-right {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.price-right p {
		margin: 76px 10px 150px;
		max-width:none;
	}
	.contact-us input, textarea {
		max-width: 348px;
	}
	.form-hr, .form-hrlast {
		width:345px;
	}
	.contact-us-button {
		margin: 0px 0px 50px;
	}
	.contact-us form {
		margin-left: 10px;
	}
	.contact-us-right {
		margin-left: 40px;
	}
	.map {
		margin-top: 0px;
	}
	.footer-contact {
		margin: 107px 0px 0px 0px;
	}
	.footer-phone, .footer-email, .footer-location {
		margin-right: 0px;
	}
	.language-drop-menu {
		right: 95px;
	}
	.category2, .category3 {
		height: 233px;
		width: 270px;
	}
	.category {
		margin: 40px auto 0px;
		width: 900px;
	}
	.img-category {
		position: relative;
		width: 270px;
		height: 206px;
	}
	.img1, .img2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	}
	.category-name2, .category-name3 {
		font: 300 18px "Source Sans Pro", sans-serif;
	}
	.category2, .category3 {
		margin: 0;
	}
	.product {
		width: 48%;
	}
}
			/*media 1000*/
@media (max-width:1000px) {
	.text-slider h2 {
		font-size: 30px;
	}
	.text-slider p {
		font-size: 24px;
	}
	.dots {
		width: 100%;
		text-align: center;
		right: 0;
	}
}
			/*media 900*/
@media (max-width:900px) {
	.category {
		width: 600px;
	}
} 	/*media 768*/
@media (max-width:768px) {
	.sidebar {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #fff;
		z-index: 1001;
		height: 100%;
		overflow: auto;
	}
	.open-filter {
		display: block;
		font: 400 17px "Source Sans Pro", sans-serif;
		margin: 40px 10px 0 40px;
	}
	.open-filter:before {
		display: inline-block;
		content: "";
		width: 14px;
		height: 14px;
		background: url("../img/open-filter.svg");
		margin-right: 10px;
	}
	.list-products {
		margin: 40px 10px;
	}
	.mobile-top-filter {
		display: block;
	}
}
