@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&subset=cyrillic');
/*Common style*/
body a {
	text-decoration: none !important;
	-webkit-text-decoration: none !important;
	-moz-text-decoration: none !important;
	-ms-text-decoration: none !important;
	-o-text-decoration: none !important;
}
body {
	font-family: "Source Sans Pro", sans-serif;
}
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
content: "";
display: table;
clear: both;
}
.go-top {
  position: fixed; 
  bottom: 50px; 
  right: 50px; 
  cursor:pointer; 
  display:none;
  width: 29px;
  height: 17px;
  background: url(../img/up.png);
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.preloader {
	background-image: url(../img/facebook_blue.svg), url(../img/youtube_blue.svg), url(../img/language_blue.svg),
		 url(../img/search_blue.svg), url(../img/up_pointer.png);
}
.main-filter-button {
	user-select: none;
}
/* End common style*/
/*----------------------main page----------------------------------------------------*/
/*Header*/
.burger-menu-head, .close-burger-menu-head {
	display: none;
	width: 19px;
	height: 17px;
	float: right;
	margin: 40px 50px 0px 0px;
}
.burger-menu-head {
	background-image: url(../img/burger_menu.svg);
}
.close-burger-menu-head {
	background-image: url(../img/close_burger_menu.svg);
	background-repeat: no-repeat;
}
.home-1stpage {
	position: relative;
	background-image: url(../img/background_foto_video.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top, center;
	height: 1100px;
}
.img-menu, .logo-768 {
	position: absolute;
    top: 46%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.logo-768 {
	display: none;
}
.home-menu-text {
	width: 768px;
	margin: 0 auto;
}
.home-menu-text a {
	text-transform: uppercase;
	font: 300 36px "Source Sans Pro", sans-serif;
	color:#fff;
}
.home-menu-text .stone {
	position: absolute;
	margin-top: 380px;
	margin-left: 40px;
}
.home-menu-text .service {
	animation-delay: 0.2s;
	position: absolute;
	margin-top: 250px;
	margin-left: 323px;
}
.home-menu-text .articles {
	animation-delay: 0.4s;
	position: absolute;
	margin-top: 380px;
	margin-left: 590px;
}
.home-menu-text .gallery {
	animation-delay: 0.6s;
	position: absolute;
	margin-top: 580px;
	margin-left: 590px;
}
.home-menu-text .catalog {
	animation-delay: 0.8s;
	position: absolute;
	margin-top: 720px;
	margin-left: 323px;
}
.home-menu-text .stock {
	animation-delay: 1s;
	position: absolute;
	margin-top: 580px;
	margin-left: 40px;
}
.scroll-down {
	display: inline-block;
	margin: 879px 0px 0px 50%;
}
.menu, .menu2 {
	background-color: #fff;
	z-index: 1000;
	width: 100%;
	height: 96px;
    box-shadow: 0px 1px 4.95px 0.05px rgba(89, 89, 88, 0.2);
}
.menu2 {
	position: absolute;
}
.container-menu {
	background-color: #fff;
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.head-logo-410 {
	display: none;
}
.head-logo, .head-logo-410 {
	position: absolute;
	margin: 20px 10px;
}
.main-menu {
	float:right;
}
.main-menu li{
	display: inline-block;
	margin-top: 43px;
	margin-right: 25px;
}
.main-menu a, .drop-main-menu a {
	text-transform: uppercase;
	font: 700 14px "Source Sans Pro", sans-serif;
	color:#000;
}
.vertical-line2 {
	display: inline-block;
	float: right;
	height: 30px;
	border-right: 1px solid #dcdcdc;
	margin: 33px 10px 0px 0px;
}
.vertical-line1 {
	display: inline-block;
	float: right;
	height: 30px;
	border-right: 1px solid #dcdcdc;
	margin: 33px 25px 0px 0px;
}
.search {
	cursor: pointer;
	width: 15px;
	height: 15px;
	background-image: url(../img/search.svg);
	float: right;
	margin: 41px 25px 0px 0px;
}
.language {
	cursor: pointer;
	width: 15px;
	height: 15px;
	background-image: url(../img/language.svg);
	float: right;
	margin: 41px 25px 0px 0px;
}
.shop {
	display: inline-block;
	width: 18px;
	height: 17px;
	float: right;
	margin: 39px 25px 0px 0px;
	background-image: url(../img/shop.svg);
}
.search-drop-down, .language-drop-menu, .drop-burger-menu {
	display: none;
	position: absolute;
	background-color: #fff;
	top: 96px;
	right: 10px;
    box-shadow: 0px 1px 4.95px 0.05px rgba(89, 89, 88, 0.2);
}
.language-drop-menu {
	width: 66px;
	height: 81px;
}
.language-drop-menu a {
	text-transform: uppercase;
	font: 700 16px "Source Sans Pro", sans-serif;
	color: #7f7e7e;
}
.language-drop-menu div {
	margin: 14px 18px 0px;
}
.search-drop-down {
	width: 300px;
	height: 47px;
}
.search-drop-down img {
	margin: 16px 16px 16px 25px;
	color: #00aef0;
}
.search-drop-down form {
	display: inline-block;
	position: fixed;
}
.search-drop-down input {
	font: 300 16px "Source Sans Pro", sans-serif;
	color: #00aef0;
	margin-top: 13px;
	max-width: 229px;
	width: 100%;
	border: none;
	outline: none;
}
.search-drop-down ::-webkit-input-placeholder {
	color: #00aef0;
}
.search-drop-down input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { 
	display: none; 
}
.drop-burger-menu {
	padding: 30px 0px;
	width: 150px;
	height: 308px;
}
.drop-main-menu li {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	color: #000;
}
.feedback {
	cursor: pointer;
	display: none;
	position: fixed;
	z-index: 1001;
	top: 481px;
	left: 30px;
	width: 49px;
	height: 42px;
	background-image: url(../img/feedback.svg);
}
.modal-feedback-bg {
	display: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(0,0,0,0.65);
	z-index:1002;
}
.modal-feedback {
	display: none;
	justify-content: center;
	position: fixed;
	top:0;
	width: 100%;
	height: 310px;
  	box-shadow: 0px 1px 14.85px 0.15px rgba(0, 0, 0, 0.6);
	background-color: #fff;
	z-index: 1003;
}
.modal-file, .modal-call, .modal-contact {
	display: inline-block;
	width: 333px;
	text-align: center;
}
.modal-h {
	display: inline-block;
	margin-top: 25px;
	font: 700 18px "Source Sans Pro", sans-serif;
}
.modal-feedback p {
	height: 25px;
	margin: 20px 0px 46px;
	font: 300 14px "Source Sans Pro", sans-serif;
}
.modal-contact div {
	font: 300 16px "Source Sans Pro", sans-serif;
	text-align: left;
	margin:0px 0px 20px 10px;
}
.modal-call input, .modal-file input {
	font: 400 14px "Source Sans Pro", sans-serif;
	width: 270px;
	height: 30px;
	margin-bottom: 10px;
	padding: 0px 15px;
	border: 1px solid #cccccc ;
	line-height: 30px;
	border-radius: 2px;
}
.modal-contact img {
	margin-right: 16px;
}
.modal-call button, .modal-file button {
	margin-top: 26px;
	cursor: pointer;
    border-radius: 2px;
    padding: 8px 26px 9px;
    font: 400 14px "Source Sans Pro", sans-serif;
    color: #00aef0;
    border: 1px solid #00aef0;
    background-color: #fff;
    outline: none;
}
.modal-file-change {
	font: 400 14px "Source Sans Pro", sans-serif;
	color: #000;
	position: relative;
	width: 300px;
    height: 30px; 
    border-radius: 2px;
	border: 1px solid #cccccc;
	margin: 0 auto 15px;
	
}
.modal-file-change input[type="file"]{
    display: none;
}
.modal-file-change label {
    display: block; 
	position: absolute;
    width: 50%;
    height: 100%;
    cursor: pointer;
}
.modal-file-change span {
	float: left;
    margin: 5px 0px 0px 15px;
}
#filename {
	float: right;
    background: #fff;
    border: none;
    width: 135px;
    padding: 0 15px 0px 0px;
    margin: 0;
}
/*End Header*/
/*About-us*/
.about-us {
	margin: 150px 0px;
}
.about-us img {
	float: right;
	margin-right: 10px;
}
.about-us h2 {
	text-transform: uppercase;
	margin-left: 50px;
	font: 700 36px "Source Sans Pro", sans-serif;
}
.about-us-text {
	display: inline-block;
	width: 565px;
	margin-top: 50px;
	font: 300 16px "Source Sans Pro", sans-serif;
	line-height: 24px;
	text-indent: 36px;
}
.p-style {
	color:#00aef0;
	font-weight: 400;
}
/*End About us*/
/*Why we?*/
.why-we {
	margin-top: 150px;
}
.home-page-h2 {
	text-transform: uppercase;
	text-align: center;
	font: 700 30px "Source Sans Pro", sans-serif;
}
.hr-line {
    margin: 0 auto;
	width: 239px;
	margin-bottom: 50px;
}
.hr1 {
	margin: 35px 0px 6px;
	float: left;
	height: 1px;
	color: #00aef0;
	
}
.hr2 {
	margin: 0px 0px 50px;
	float: right;
	height: 1px;
	color: #00aef0;
	
}
.wwc1-2, .wwc3-flex {
	display: inline-block;
}
.why-we-card1, .why-we-card2, .why-we-card3 {
	position: relative;
	display: inline-block;
	background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 5.94px 0.06px rgba(0, 0, 0, 0.1);
    width: 360px;
    height: 342px;
}
.why-we-card1, .why-we-card2 {
	margin-right: 50px;
}
.why-we-card1 img, .why-we-card2 img, 
.why-we-card3 img {
    display: block;
	margin: 40px auto 0px;
	top: 40px;
}
.why-we-card1 h3, .why-we-card2 h3, 
.why-we-card3 h3 {
	padding-top: 30px;
	text-align: center;
	font: 700 18px "Source Sans Pro", sans-serif;
}
.why-we .why-we-card1 p, .why-we .why-we-card2 p, 
.why-we .why-we-card3 p {
	position: absolute;
	font-size: 18px;
	margin: 0 10%;
	top: 222px;
	text-align: center;
	font: 300 16px "Source Sans Pro", sans-serif;
}
.why-we-ptext {
	text-align: center;
	font: 300 16px "Source Sans Pro", sans-serif;
	line-height: 24px;
	margin: 50px 16% 150px;
}
/*End Why we*/
/*Only US*/
.b-home {
	font-weight: 700;
}
.only-us-icon {
	margin: 0px 30px 0px 60px;
}
.only-us-text {
	display: inline-block;
	text-align: center;
	max-width: 475px;
	font: 300 16px "Source Sans Pro", sans-serif;
	line-height: 24px;
}
.only-us-right {
	display: inline-block;
	margin: 60px 0px 0px;
}
.only-us-img {
	float: left;
}
.only-us-ptext p {
	text-align: center;
	font: 300 16px "Source Sans Pro", sans-serif;
	line-height: 24px;
	margin: 110px 10px 150px;
}
/*Price*/
.price-right p {
	display: inline-block;
	margin: 76px 10px 226px 50px;
	max-width: 565px;
	text-align: center;
	font: 300 16px "Source Sans Pro", sans-serif;
	line-height: 24px;
}
/*End Price*/
/*Contact us*/
.contact-us-form {
	margin-top: 50px;
}
.contact-us input,textarea {
	font: 300 16px "Source Sans Pro", sans-serif;
	margin: 0px 0px 15px 15px;
	max-width: 500px;
	width: 100%;
	border: none;
	outline: none;
}
.contact-us textarea {
	height: 150px;
	resize: none;
}
.form-hr {
	margin:0px 0px 50px;
}
.form-hrlast {
	margin:0px 0px 30px;
}
.contact-us-button {
	cursor: pointer;
	border-radius: 2px;
	padding: 10px 30px;
	margin-left: 364px;
	font: 400 16px "Source Sans Pro", sans-serif;
	color: #00aef0;
	border: 1px solid #00aef0;
	background-color: #fff;
	outline: none;
}
.contact-us form
{
	float:left;
}
.contact-us-right {
	display: inline-block;
	margin-left: 190px;
}
.contact-us-icon {
	float: left;
	margin-bottom: 40px;
}
.contact-us-text {
	text-align: center;
	font: 300 18px "Source Sans Pro", sans-serif;
	margin: 11px 10px 0px 93px;
	max-width: 268px;
}
/* End Contact us*/
/* Map*/
.map {
	margin-top: 150px;
}
/* End Map*/
/* SEO-text*/
.seo-text {
	margin: 50px 10px;
	font: 300 14px "Source Sans Pro", sans-serif;
	color: #999999;
	text-indent: 36px;
}
/* End SEO-text*/
/* Footer*/
.footer {
	background-color: #fafafa;
	height: 412px;
}
.footer-item {
	height: 412px;
	background-repeat: no-repeat;
	background-image: url(../img/world_map.png);
	background-position: center;
}
.footer-logo {
	margin: 50px 0px 0px 10px;
}
.footer-text {
	font: 300 14px "Source Sans Pro", sans-serif;
	margin: 30px 0px 30px 10px;
	line-height: 18px;
	width: 289px;
}
.footer-facebook, .footer-youtube {
	display: inline-block;
	height: 35px;
	width: 40px;
}
.footer-facebook {
	margin: 0px 20px 0px 95px;
	background: url(../img/facebook.svg);
}
.footer-youtube {
	background: url(../img/youtube.svg);
}
.footer-cop {
	font: 300 14px "Source Sans Pro", sans-serif;
	position: absolute;
	margin: 374px 0px 0px 10px;
}
.footer-left {
	float: left;
}
.footer-right {
	float: right;
	margin-right: 10px;
}
.footer-contact {
	margin: 107px 0px 0px 35%;
}
.footer-contact-text {
	display: inline-block;
	font: 300 16px "Source Sans Pro", sans-serif;
	line-height: 18px;
	margin-left: 15px;
	width: 270px;
}
.footer-phone, .footer-email, .footer-location {
	margin: 0px 16px 40px 0px;
}
.footer-menu {
	margin-top: 115px;
	font: 400 14px "Source Sans Pro", sans-serif;
}
.footer-menu a {
	color:#000;
	margin-left: 25px;
}
/* End Footer*/
/*----------------------END main page-----------------------------------------------------*/
/*----------------------KATALOG-----------------------------------------------------------*/
/*Slider*/
.single-item {
	margin-top: 96px;
}
.text-slider{
	position: absolute;
	bottom: 0;
	margin-left: 130px;
	color: #fff;
}
.text-slider h2 {
	font: 700 48px "Source Sans Pro", sans-serif;
	margin-bottom: 10px;
}
.text-slider p {
	font: 300 36px "Source Sans Pro", sans-serif;
}
.text-slider button {
	outline: none;
	margin: 58px 0px 100px;
	text-transform: uppercase;
	font: 400 16.7px "Source Sans Pro", sans-serif;
	color: #fff;
	cursor: pointer;
	width: 128px;
	height: 41px;
	border: 1px solid #00adee;
	border-radius: 2px;
	background: transparent;
}
.slider-button a {
	
}
.dots {
	position: absolute;
	bottom: 20px;
	right: 19%;
}
.dots li
{
    position: relative;
	display: inline-block;
    width: 32px;
	height: 10px;
    margin: 0 5px;
    cursor: pointer;
}
.dots li button
{
    display: block;
    width: 32px;
	height: 10px;
	border: 1px solid #00adee;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;
}
.dots li button:hover,
.dots li button:focus
{
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	outline: none;
	background-color: #00adee;
}
.dots li button:hover:before,
.dots li button:focus:before
{
    opacity: 1;
}
.dots li button:before
{
	position: absolute;
    top: 0;
    left: 0;
    content: '';
	width: 30px;
	height: 8px;
    border: 1px solid #00adee;
}
.dots li.slick-active button:before
{
    background-color: #00adee;
}
.arrows-sldier {
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 40%;
}
.prev, .next {
	display: inline-block;
	width: 13px;
	height: 41px;
	cursor: pointer;
}
.prev {
	margin-left: 50px;
	background-image: url(../img/arrow_left.png);
}
.next {
	float: right;
	margin-right: 50px;
	background-image: url(../img/arrow_right.png);
}
/*END Slider*/
/* Crumbs */
.crumbs {
	margin: 40px 10px;
}
.crumbs2 {
	margin: 136px 10px 40px 10px;
}
.crumbs img, .crumbs2 img {
	margin-right: 12px;
}
.crumbs a, .crumbs2 a {
	color:#000;
	font: 400 16px "Source Sans Pro", sans-serif;
}
#active-page {
	color:#00adee;
}
.line-crumbs {
	display: inline-block;
	height: 24px;
	margin: -6px 21px;
	border-right: 1px solid #c9c9c9;
	-moz-transform: rotate(16.3deg);
    -ms-transform: rotate(16.3deg);
    -webkit-transform: rotate(16.3deg);
    -o-transform: rotate(16.3deg);
    transform: rotate(16.3deg);
}
/* END Crumbs */
/* katalog */
.line-h1 {
	display: inline-block;
	height: 45px;
	width: 3px;
	background-color: #00adee;
	margin: 0px 22px -11px 10px;
}
.container h1 {
	display: inline-block;
	font: 300 30px "Source Sans Pro", sans-serif;
}
.category {
	font-size:0;
	margin-top: 40px;
}
.category1, .category2, .category3 {
	position: relative;
	display: inline-block;
	padding: 15px;
}
.category1 {
	height: 233px;
	width: 270px;
}
.category2 {
	margin-top: 20px;
	height: 173px;
	width: 210px;
}
.category3 {
	margin-top: 20px;
	height: 120px;
	width: 120px;
}
.img1 {
	display: block;
	margin: 0 auto;
}
.img2 {
	display: none;
	margin: 0 auto;
}
.img2a {
	display: none;
}
.category-name, .category-name2, .category-name3 {
	position: absolute;
	left: 50%;
	bottom: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	color:#595958;
	text-transform: uppercase;
}
.category-name {
	font: 300 18px "Source Sans Pro", sans-serif;
}
.category-name2 {
	font: 300 15px "Source Sans Pro", sans-serif;
}
.category-name3 {
	font: 300 14px "Source Sans Pro", sans-serif;
}
/* END katalog */
/* list product */
.list-products {
	margin: 0 10px;
}
.main-filter {
	margin: 50px 0;
	font-size: 0;
}
.main-filter p {
	color: #b2b2b2;
	font: 300 14px "Source Sans Pro", sans-serif;
}
.main-filter-button {
	display: inline-block;
	border: 1px solid #c9c9c9;
	padding: 7px 20px;
	border-radius: 2px;
	font: 400 16px "Source Sans Pro", sans-serif;
	margin: 20px 20px 0 0;
	cursor: pointer;
}
/* END list product */