@media (max-width: 1300px) {
    .my-igb h2 {
        font-size: 40px;
    }
    .my-igb h1 {
        font-size: 80px;
    }
    .main-img {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        opacity: 0.2;
    }
    .my-igb {
        width: 100%;
        padding: 0 20px;
    }
    .screen2 .s2b-list:nth-child(3) {
        display: none;
    }
    .s2b-list {
        padding: 0 20px;
    }
    .screen2 {
        padding: 0;
    }
    .screen1, .screen2, .screen3, .screen4, .screen5 {
        padding: 100px 0;
    }
    .screen1 {
        margin:  0 0 100px;
        height: 100vh;
    }
}
@media (max-width: 1023px) {
    .qr-img {
        max-width: 70%;
        margin: 0;
    }
}
@media (max-width: 767px) {
    .my-igb h1 {
        font-size: 60px;
    }
    .my-igb h2 {
        font-size: 25px;
        margin-top: 30px;
    }
    h3 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .s2b-list {
        padding: 0 10px;
    }
    .screen5 a {
        padding: 0 10px;
    }
    .s5-button {
        line-height: 14px;
        padding: 15px 20px;
    }
    .screen5 a p:first-child {
        font-size: 12px;
    }
}