/*1600*/
@media (max-width: 1600px) {
    .slick-slide img {
        width: 100%;
    }
    .new-title h2 {
        font-size: 20px;
    }
    .footer-menu, .footer-social, .footer-pay, .footer-info {
        width: 21%;
    }
    .slider-home, .sale-brand-block {
        width: 100%;
    }
    .slider-block {
        margin: 0 10px;
    }
    .sale-brand-block {
        font-size: 0;
        margin: 20px 0 0 0;
    }
    .sale-block {
        margin-right: 1%;
    }
    .sale-block, .brand-block {
        display: inline-block;
        width: 49.5%;
        vertical-align: top;
    }
    .main-menu, .other-menu {
        display: none;
    }
    .icon-menu {
        margin-top: 64px;
    }
    .main-menu-mob, .other-menu-mob {
        display: block;
    }
}
@media (max-width: 1450px) {
    .product-buy, .product-hover {
        opacity: 1;
    }
    .product-fast-view {
        opacity: 0;
        pointer-events: none;
    }
    .products-block {
        margin-left: 0;
    }
    .h1-block h1 {
        margin-top: 60px;
    }
    .close-filter-block {
        display: block;
    }
    .filter-icon {
        display: inline-block;
        margin-top: 18px;
    }
    .filter-list {
        margin: 58px 0
    }
    .filter-block img {
        display: block;
        margin: 30px auto;
    }
    .desire-block, .basket-block {
        padding: 30px;
    }
    .filter-box-list {
        padding: 0 30px 0 20px;
    }
    .products-block {
        width: 100%;
    }
    .filter-block {
        position: fixed;
        top: 0;
        left: -420px;
        max-width: 400px;
        width: 100%;
        padding: 0 30px;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        z-index: 1000;
        overflow: auto;
        box-sizing: border-box;
        height: 100%;
    }
    .desire-list-product, .basket-list-product {
        width: 47%;
    }
    .basket-list, .desire-list {
        max-height: 400px;
    }
}
@media (max-width: 1200px) {
    .new-title {
        margin-bottom: 40px;
    }
}
@media (max-width: 1023px) {
    .products-list .product {
        width: 31%;
    }
    .search-block, .search-block form {
        max-width: 90%;
    }
    .desire-info-block, .basket-info-block {
        width: 66%;
    }
    .desire-block, .basket-block {
        padding: 50px 20px 50px 40px;
    }
    .home-news-inf-bl {
        width: 50%;
    }
    .home-news-img {
        width: 35%;
    }
    .sale-block img, .brand-block img {
        width: 50%;
        margin: 60px 25px 0 0;
    }
    .footer-info span {
        font-size: 12px;
        line-height: 18px;
    }
}
@media (max-width: 767px) {
    .product-buy {
        font-size: 12px;
    }
    .product-buy:before {
        margin: -3px 15px 0 0;
    }
    .bread-crumbs {
        margin: 15px 0 50px;
    }
    .filter-icon {
        font-size: 14px;
    }
    .sort-block div {
        font-size: 10px;
    }
    .bread-crumbs span {
        font-size: 12px;
    }
    .h1-block h1 {
        font-size: 18px;
    }
    .products-list .product {
        width: 47%;
    }
    .sb-content {
        overflow-x: hidden;
    }
    .desire-list-product, .basket-list-product {
        width: 90%;
    }
    .home-news-title {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .home-news-text {
        font-size: 12px;
    }
    .new-product-block {
        margin: 60px 10px;
    }
    .footer-social h4, .footer-pay h4 {
        display: none;
    }
    .footer-menu, .footer-social, .footer-pay, .footer-info {
        display: block;
        width: 95%;
        margin: 30px 0 50px 10px;
    }
    .footer-menu div{
        font-size: 14px;
    }
    .footer-menu {
        margin: 60px 0 60px 10px;
    }
    .footer-social, .footer-pay, .footer-info {
        display: none;
    }
    .footer-social-title, .footer-pay-title, .footer-info-title {
        font: 700 14px "Comfortaa", sans-serif;
        margin: 20px 10px 0;
        display: block;
        text-align: left;
        cursor: pointer;
        position: relative;
        padding-top: 20px;
    }
    .footer-pay-title, .footer-info-title {
        border-top: 1px solid #d9d9d9;
    }
    .footer-social-title:before, .footer-pay-title:before, .footer-info-title:before {
        position: absolute;
        top: 26px;
        right: 20px;
        display: inline-block;
        width: 7px;
        height: 7px;
        content: "";
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .footer-hover:before {
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}
@media (max-width: 650px) {
    .login-reset-pass {
        margin: 30px 15px 15px 0;
        text-align: right;
    }
    .login-button-block {
        float: none;
        margin: 25px 0 0 15px;
    }
    .login-save {
        margin: 20px 0 0 0;
    }
    .inp-email input, .inp-pass input {
        box-sizing: border-box;
    }
    .inp-email, .inp-pass {
        width: 90%;
        margin: 0 auto;
    }
    .login-block {
        max-width: 300px;
        top: 100px;
    }
    .sum-price-basket {
        font-size: 16px;
    }
    .basket-list, .desire-list {
        max-height: none;
        box-sizing: border-box;
        margin: 50px 0 0;
    }
    .basket-list {
        height: 67%;
    }
    .desire-list {
        height: 85%;
        padding-bottom: 20px;
    }
    .basket-char-block {
        margin-top: 18px;
    }
    .desire-info-block h4, .basket-info-block h4 {
        min-height: auto;
        font-size: 12px;
    }
    .basket-info-block, .desire-info-block {
        margin-top: 10px;
    }
    .desire-block, .basket-block {
        height: 95%;
        padding: 20px;
        top: 10px;
    }
    .subscr-button {
        margin: 20px 0;
    }
    .subscribe input {
        margin: 25px auto 0;
        display: block;
    }
    .new-product h3, .sale-product h3 {
        font-size: 12px;
    }
    .sale-block-text h3:first-child, .brand-block-text h3:first-child {
        margin-bottom: 8px;
    }
    .arrow-back-bl, .arrow-next-bl {
        width: 50px;
    }
    .main-menu-mob, .other-menu-mob, .burger-menu-block {
        margin: 60px 0 0 0;
    }
    .header-login {
        margin: 0 0 5px;
    }
    .block-header-login span {
        display: block;
    }
    .block-header-login {
        margin: 0 15px;
    }
    .home-seo-text div {
        display: block;
        width: 100%;
        margin-top: 15px;
    }
    .pop-arrow-next, .arrow-next {
        right: 15px;
    }
    .pop-arrow-back, .arrow-back {
        left: 15px;
    }
    .pop-arrow-next-bl, .pop-arrow-back-bl {
        width: 50px;
    }
    .dots-pop-slider {
        margin-top: 40px;
    }
    .popular-block, .sale-home-block {
        margin-bottom: 80px;
    }
    .new-product-block {
        margin: 60px 10px 80px;
    }
    .all-new-products, .all-sale-products {
        margin: 40px 10px 0 0;
    }
    .new-product, .sale-product {
        margin-right: 0;
    }
    .sale-block, .brand-block {
        text-align: center;
    }
    .sale-block-text h3:first-child, .brand-block-text h3:first-child {
        font-size: 18px;
    }
    .sale-block-text, .brand-block-text {
        position: static;
        margin: 20px 0 0 20px;
    }
    .sale-block img, .brand-block img {
        margin: 25px 0 0 0;
        width: 60%;
    }
    .seo-button {
        display: block;
    }
    .seo-button {
        margin: 15px 0 0 10px;
        cursor: pointer;
    }
    .home-seo-text {
        position: relative;
        height: 290px;
        overflow: hidden;
    }
    .seo-button-click {
        height: auto;
        padding-bottom: 50px;
    }
    .home-seo-text:before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 50px;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        bottom: 0;
    }
    .home-news-img {
        width: 100%;
        margin-top: 30px;
    }
    .home-news-inf-bl {
        margin: 0;
        width: 100%;
    }
    .header-logo {
        margin: 30px auto 30px;
        display: block;
    }
    .header-nav {
        float: none;
        text-align: center;
    }
    .icon-menu {
        margin: 0 0 10px;
    }
    .topbar-language {
        float: none;
        display: block;
        margin-top: 12px;
    }
    .container-header {
        padding: 11px 0;
    }
    .header-topbar {
        text-align: center;
    }
}
@media (max-width: 450px) {
    .sort-block-price {
        top: 45px;
    }
    .price {
        font-size: 12px;
    }
    .sell-price {
        font-size: 10px;
    }
    .sale-status, .new-status {
        font-size: 11px;
    }
    .sort-block {
        float: none;
        margin-bottom: 40px;
        display: inline-block;
    }
    .filter-icon {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        display: block;
        margin: 0;
        text-align: center;
        padding: 15px 0;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
    .product h3 {
        font-size: 12px;
    }
    .desire-info-block, .basket-info-block {
        width: 100%;
    }
    .topbar-language {
        margin-top: 20px;
    }
    .topbar-location, .topbar-phone {
        display: block;
        text-align: left;
    }
    .topbar-phone {
        display: inline-block;
    }
    .topbar-location {
        margin: 0 0 10px;
    }
    .icon-menu {
        margin: 0 0 10px;
        float: none;
    }
    .search-block input {
        font-size: 14px;
        padding: 25px 20px 20px 60px;
    }
    .search-block-img {
        top: 18px;
        left: 15px;
    }
}
@media (max-width: 400px) {
    .product-buy {
        text-align: left;
    }
    .arrow-next, .arrow-back {
        top: 42%;
    }
}
@media (max-width: 320px) {
    .footer-delivery a:nth-child(2) {
        margin-right: 10px;
    }
    .sale-block-text, .brand-block-text {
        margin: 10px 0 0 10px;
    }
    .block-header-login {
        margin: 0 5px;
    }
}
