/*Header*/
.for-woman, .for-man, .for-child, .other-menu a, .for-woman span:after, .for-man span:after, .for-child span:after {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.for-woman:hover, .for-man:hover, .for-child:hover, .other-menu a:hover {
    color: #009fe3;
}
.for-woman span:hover:after, .for-man span:hover:after, .for-child span:hover:after {
    background-position: 0 -21px;
}
/*END Header*/