/*Header*/
.for-woman, .for-man, .for-child, .other-menu a, .submenulist a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.for-woman span:after, .for-man span:after, .for-child span:after {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.other-menu a:hover {
    color: #009fe3;
}
.header-search:hover {
    background-position: -11px -21px;
}
.header-burger:hover {
    background-position: -80px -21px;
}
.topbar-language a:hover {
    color: #009fe3;
}
.submenulist a:hover {
    font-size: 13px;
    color: #009fe3;
}
/*END Header*/