/*Common style*/
.for-woman, .for-man, .for-child, .other-menu a, .submenulist a, .for-woman span, .border, .login-in, .close-login, .button-basket, .burger-reg, .subscr-button {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.brand-block, .sale-block, .arrow-next-bl, .arrow-back-bl {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.main-menu-icon {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.desire-block, .login-block, .basket-block {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.login-reset-pass:hover, .login-registration:hover, .desire-info-block h4:hover, .burger-login:hover, .burger-menu-block div:hover, .myprofile-sub div:hover, .exit-profile:hover, .new-product h3:hover, .sale-product h3:hover, .all-new-products:hover, .slider-popular h3:hover, .all-sale-products:hover, .home-news-button:hover, .footer-menu div:hover  {
    text-decoration: underline;
}
.other-menu a:hover, .topbar-language a:hover, .submenulist a:hover {
    color: #009fe3;
}
.button-basket:hover, .burger-reg:hover, .login-in:hover, .subscr-button:hover {
    background-color: #2cb9f6;
}
/*END Common style*/
/*Header*/
.sale-block:hover, .brand-block:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.10);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.02);
}
.sb-scrollbar:hover {
    background-color: #b2b2b2;
}
.close-login:hover {
    opacity: 0.6;
}
.header-search:hover {
    background-position: -11px -21px;
}
.header-burger:hover {
    background-position: -77.8px -21px;
}
.submenulist a:hover {
    font-size: 13px;
}
.login-save-inp:checked + .svg-point {
    background: #009fe3;
    border-color: #009fe3;
    animation: wave 0.4s ease;
}
.arrow-next-bl:hover, .arrow-back-bl:hover {
    opacity: 1;
}
/*END Header*/
/*HomePage*/
.footer-social a:nth-child(2):hover {
    background-position: -212.9px -26px;
}
.footer-social a:nth-child(3):hover {
    background-position: -240.9px -26px;
}
.footer-social a:nth-child(4):hover {
    background-position: -268.9px -26px;
}
.footer-delivery a:nth-child(2):hover {
    background-position: 0 -137px;
}
.footer-delivery a:nth-child(3):hover {
    background-position: -151px -137px;
}
/*END HomePgae*/