/* comfortaa-regular - cyrillic_latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/comfortaa-v22-cyrillic_latin-regular.eot'), /* IE9 Compat Modes */
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
/* comfortaa-700 - cyrillic_latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/comfortaa-v22-cyrillic_latin-700.eot'), /* IE9 Compat Modes */
    url('../fonts/comfortaa-v22-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/comfortaa-v22-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/comfortaa-v22-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/comfortaa-v22-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/comfortaa-v22-cyrillic_latin-700.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
/*Common style*/
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.basket-block, .cbx, .desire-block, .login-block, .burger-menu-sub, .new-product {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
body a {
    color: #000;
    text-decoration: none !important;
    outline: none;
}
body {
    overflow-x: hidden;
    font: 400 14px "Comfortaa", sans-serif;
}
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.arrow-back-bl, .arrow-next-bl  {
    z-index: 1;
}
.white-background, .sub-menu-backg, .pop-arrow-next, .pop-arrow-back {
    z-index: 2;
}
.burger-menu-sub, .desire-block, .basket-block, .for-woman-submenu, .for-man-submenu, .for-child-submenu, .login-block, .search-block {
    z-index: 3;
}
.burger-menu, .sub-menu-backg, .for-woman-submenu, .for-man-submenu, .for-child-submenu, .bg-load, .sub-child-mob, .active-desire, .inp-cbx, .white-background, .search-block, .burger-menu-sub, .myprofile-sub, .burger-logoff-block, .dots-pop-slider button, .main-menu-mob, .other-menu-mob, .main-menu-mob ul, .footer-social-title, .footer-pay-title, .footer-info-title, .seo-button {
    display: none;
}
.topbar-language, .topbar-language p, .topbar-left, .topbar-location, .topbar-phone, .baner, .submenulist, .for-child-block, .baner-for-child, .login-save, .login-button-block, .login-in, .login-registration, .header-logo, .main-menu, .other-menu, .icon-menu, .main-menu a, .main-menu-icon, .other-menu a:first-child, .block-header-search, .block-header-desire, #block-header-basket, .header-login, .header-burger, .block-header-login, .cbx span, .svg-point, .h-desire:before, .desire-info-block, .desire-list-product img, .sale-brand-block, .price, .sell-price, .h-basket:before, .basket-info-block, .basket-list-product img, .my-profile, .exit-profile, .desire-list-product, .basket-list-product, .quantity-del, .quantity-add, .quantity-block, .button-basket, .burger-logoff-block div, .burger-contact:before, .burger-news:before, .burger-faq:before, .burger-discont:before, .burger-company:before, .plus-minus, .icon-my-profile, .slider-home, .new-title div, .add-desire, .product-vote, .new-product, .all-new-products:after, .all-sale-products:after, .sale-product, .home-news-button:after, .home-news-img, .home-news-inf-bl, .subscr-button, .subscribe input, .footer-menu, .footer-social, .footer-pay, .footer-info, .footer-social a, .footer-pay span, .footer-pay p, .address:before, .day-work:before, .phone:before, .email:before, .footer-delivery a, .main-menu-mob div:before, .burger-pay:before, .burger-delivery:before, .burger-rules:before {
    display: inline-block;
}
.login-block, .inp-email label, .inp-pass label, .svg-point:before, .footer-info span, .sub-child-mob ul {
    display: block;
}
.topbar-location:before, .topbar-phone:before, .main-menu-icon, .header-login, .header-burger, .header-search, .header-desire, .header-basket, .search-block-img,
.h-desire:before, .close-login, .close-desire, .remove-desire, .h-basket:before, .close-basket, .remove-basket, .close-burger-menu, .burger-contact:before,
.burger-news:before, .burger-faq:before, .burger-discont:before, .burger-company:before, .icon-my-profile, .arrow-next, .arrow-back, .home-icon-bl, .all-new-products:after, .all-sale-products:after, .pop-arrow-next, .pop-arrow-back, .home-news-button:after, .footer-social a, .footer-pay span, .address:before, .day-work:before, .phone:before, .email:before, .footer-delivery a, .main-menu-mob div:before, .burger-pay:before, .burger-delivery:before, .burger-rules:before {
    background:url("../img/icon/sprite.svg") no-repeat;
}
.block-header-search, .block-header-desire, #block-header-basket, .header-login, .header-burger, .block-header-login, .close-login, .close-desire, .close-basket, .close-burger-menu,
.login-reset-pass, .login-in, .login-registration, .cbx, .remove-desire, .remove-basket, .quantity-del, .quantity-add, .button-basket, .sb-scrollbar, .burger-logoff-block div, .burger-menu-block div, .burger-login-block div, .sale-block, .brand-block, .arrow-next-bl, .arrow-back-bl, .add-desire, .all-new-products, .all-sale-products, .pop-arrow-next, .pop-arrow-back, .pop-arrow-next-bl, .pop-arrow-back-bl, .dots-pop-slider li, .subscr-button {
    cursor: pointer;
}
.arrow-back-bl, .arrow-next-bl {
    position: absolute;
}
.submenulist, .baner, .sale-brand-block, .desire-info-block, .desire-list-product img, .basket-info-block, .basket-list-product img, .footer-menu, .footer-social, .footer-pay, .footer-info, .desire-list-product, .basket-list-product {
    vertical-align: top;
}
.product-vote, .icon-menu div, .baner-for-child, .for-child-block, .cbx span, .svg-point, .burger-contact:before, .burger-news:before, .burger-faq:before, .burger-discont:before, .burger-company:before, .new-title div, .add-desire, .home-news-inf-bl, .home-news-img, .footer-pay span, .address:before, .phone:before, .email:before, .day-work:before {
    vertical-align: middle;
}
.baner, .baner-for-child, .login-block p, .quantity-num, .quantity-block, .basket-block, .desire-block, .popular-block, .sale-home-block, .home-news {
    text-align: center;
}
.footer-menu, .footer-menu, .footer-social, .footer-pay, .footer-info {
    text-align: left;
}
.address:before, .phone:before, .email:before, .day-work:before, .burger-pay:before, .burger-delivery:before, .burger-rules:before {
    content: "";
}
/*END Common style*/
/*Header*/
.container-header {
    padding: 8px 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}
.header-topbar {
    margin: 0 10px;
    font-size: 12px;
}
.topbar-language {
    float: right;
}
.topbar-location {
    margin-right: 50px;
}
.topbar-location:before {
    margin-right: 15px;
    float: left;
    content: "";
    width: 10px;
    height: 14px;
}
.topbar-phone:before {
    margin-right: 15px;
    float: left;
    content: "";
    width: 14px;
    height: 14px;
    background-position: -13px 0;
}
.topbar-language p {
    font-size: 10px;
    color: #808080;
}
.header-logo {
    margin: 30px 0 30px 50px;
}
.header-logo {
    max-width: 160px;
    width: 100%;
}
.header-nav {
    float: right;
}
.main-menu a {
    height: 78px;
}
.main-menu {
    font-size: 15px;
    margin-top: 64px;
}
.active-main-menu {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}
.for-woman, .for-man {
    margin-right: 50px;
}
.main-menu-icon {
    margin-left: 11px;
    width: 8px;
    height: 7px;
    background-position: -30px 0;
}
.border {
    margin-top: 10px;
    width: 65%;
    height: 2px;
    background-color: #000;
}
.other-menu a:first-child {
    margin-left: 28px;
    padding-left: 28px;
    border-left: 1px solid #bfbfbf;
}
.other-menu {
    font-size: 13px;
    margin-right: 32px;
}
.other-menu a{
    margin-right: 28px;
}
.block-header-search, .block-header-desire, #block-header-basket {
    width: 45px;
    height: 45px;
}
.header-search {
    background-position: -41px 0;
    width: 14px;
    height: 14px;
    margin: 15px 0 0 15px;
}
.header-desire {
    width: 15px;
    height: 14px;
    background-position: -58px 0;
    margin: 15px 0 0 15px;
}
.header-basket {
    background-position: -76px 0;
    width: 17px;
    height: 18px;
    margin: 12px 0 0 14px;
}
.header-login {
    width: 14px;
    height: 18px;
    background-position: -95px 0;
    margin-right: 11px;
}
.block-header-login {
    font-size: 10px;
    color: #808080;
    margin: 0 30px 0 15px;
}
.header-burger {
    width: 19px;
    height: 14px;
    margin-right: 10px;
    background-position: -110px 0;
}
#block-header-basket, .block-header-desire {
    position: relative;
}
.block-header-desire {
    width: 45px;
    height: 45px;
}
.desire-number span, .basket-number span {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.desire-number, .basket-number {
    position: absolute;
    font-size: 9px;
    right: 7px;
    bottom: 7px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    color: #fff;
}
.basket-number {
    background-color: #009fe3;
}
.desire-number {
    background-color: #e30613;
}
.sub-menu-backg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.9;
}
.for-woman-submenu, .for-man-submenu, .for-child-submenu {
    position: absolute;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    opacity: 0;
    margin-top: 20px;
    background-color: #fff;
    max-width: 1500px;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    left: 50%;
}
.blocksub h2 {
    display: table;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    margin-bottom: 40px;
    font: 700 15px "Comfortaa", sans-serif;
}
.blocksub {
    font-size: 0;
    padding: 80px;
}
.submenulist {
    font-size: 0;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    border-right: 1px solid #d9d9d9;
    margin-right: 80px;
    padding-right: 50px;
}
.baner img, .baner-for-child img {
    width: 100%;
    height: 100%;
    max-width: 382px;
    max-height: 236px;
}
.submenulist div {
    font-size: 12px;
    width: 135px;
    margin: 0 30px 26px 0;
}
.baner div, .baner-for-child div {
    margin: 20px 0 10px 0;
    font: 700 20px "Comfortaa", sans-serif;
}
.baner p, .baner-for-child p {
    color: #808080;
    font: 700 14px "Comfortaa", sans-serif;
}
.for-child-block h2:nth-child(3){
    margin-top: 40px;
}
.login-block {
    position: fixed;
    opacity: 0;
    -webkit-transform: translate(-50%, 0) scale(0);
    -moz-transform: translate(-50%, 0) scale(0);
    -ms-transform: translate(-50%, 0) scale(0);
    -o-transform: translate(-50%, 0) scale(0);
    transform: translate(-50%, 0) scale(0);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    max-width: 536px;
    width: 100%;
    top: 200px;
    left: 50%;
    background-color: #fff;
    border-radius: 2px;
}
.login-hover {
    -webkit-transform: translate(-50%, 0) scale(1);
    -moz-transform: translate(-50%, 0) scale(1);
    -ms-transform: translate(-50%, 0) scale(1);
    -o-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
}
.desire-block, .basket-block {
    position: fixed;
    box-sizing: border-box;
    padding: 50px 81px 50px;
    max-width: 1400px;
    width: 95%;
    top: 50px;
    left: 50%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%, 0) scale(0);
    -moz-transform: translate(-50%, 0) scale(0);
    -ms-transform: translate(-50%, 0) scale(0);
    -o-transform: translate(-50%, 0) scale(0);
    transform: translate(-50%, 0) scale(0);
    opacity: 0;
}
.desire-hover, .basket-hover {
    -webkit-transform: translate(-50%, 0) scale(1);
    -moz-transform: translate(-50%, 0) scale(1);
    -ms-transform: translate(-50%, 0) scale(1);
    -o-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
}
.close-login, .close-desire, .close-basket, .close-burger-menu{
    position: absolute;
    width: 14px;
    height: 14px;
    top: 25px;
    right: 25px;
    background-position: -28px -42px ;
}
.login-block p {
    font: 700 18px "Comfortaa", sans-serif;
    margin: 50px 0 30px;
}
.inp-email, .inp-pass {
    width: 340px;
    margin-left: 67px;
}
.inp-email {
    margin-bottom: 20px;
}
.inp-email input, .inp-pass input {
    font: 700 12px "Comfortaa", sans-serif;
    padding: 10px 30px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    width: 100%;
}
.inp-email label, .inp-pass label {
    font: 700 12px "Comfortaa", sans-serif;
    margin-bottom: 10px;
}
.login-save {
    margin: 40px 0 0 67px;
}
.login-reset-pass {
    clear: both;
    font-size: 12px;
    color: #808080;
    margin: 30px 0 50px 67px;
}
.login-in {
    padding: 8px 18px;
    background-color: #009fe3;
    color: #fff;
    border-radius: 3px;
    font: 700 12px "Comfortaa", sans-serif;
}
.login-button-block {
    margin: 33px 67px 0 0;
    float: right;
}
.login-registration {
    font: 700 12px "Comfortaa", sans-serif;
    color: #009fe3;
    margin-left: 16px;
}
.login-save span {
    font-size: 12px;
}
.svg-point {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    border: 1px solid #e5e5e5;
    transition: all 0.2s ease;
    background-color: #fff;
}
.svg-point svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}
.svg-point:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #009fe3;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.inp-cbx:checked + .svg-point {
    background: #009fe3;
    border-color: #009fe3;
    animation: wave 0.4s ease;
}
.inp-cbx:checked + .svg-point svg {
    stroke-dashoffset: 0;
}
.inp-cbx:checked + .svg-point:before {
    transform: scale(2.5);
    opacity: 0;
    transition: all 0.6s ease;
}
.white-background {
    position: fixed;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.cbx span {
    margin-left: 15px;
}
.search-block {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    top: 200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.search-block, .search-block form {
    max-width: 800px;
    width: 100%;
}
.search-block-img {
    position: absolute;
    top: 27px;
    left: 30px;
    width: 25px;
    height: 25px;
    background-position: 0 -42px;
}
.search-block input {
    font: 700 18px "Comfortaa", sans-serif;
    outline: none;
    border: none;
    padding: 30px 30px 25px 80px;
}
.h-desire, .h-basket {
    font: 700 18px "Comfortaa", sans-serif;
}
.h-desire:before, .h-basket:before {
    content: "";
    margin-right: 15px;
}
.h-basket:before {
    width: 16px;
    height: 18px;
    background-position: -76px 0;
}
.h-desire:before {
    width: 15px;
    height: 14px;
    background-position: -58px 0;
}
.basket-list {
    max-height: 622px;
}
.desire-list {
    max-height: 600px;
}
.desire-list, .basket-list {
    font-size: 0;
    margin: 60px 0 20px;
    text-align: left;
}
.desire-list-product, .basket-list-product {
    position: relative;
    width: 30.6%;
    text-align: left;
    margin: 0 4.1% 50px 0;
}
.desire-list-product:nth-child(3n), .basket-list-product:nth-child(3n) {
    margin-right: 0;
}
.desire-info-block, .basket-info-block {
    line-height: 20px;
    margin-top: 5px;
    width: 68%;
}
.desire-info-block h4, .basket-info-block h4 {
    font-size: 14px;
    min-height: 73px;
    margin-right: 15px;
}
.remove-desire, .remove-basket {
    position: absolute;
    top: 5px;
    right: 0;
    width: 8px;
    height: 8px;
    background-position: -28px -56px;
}
.desire-list-product img, .basket-list-product img{
    width: 100px;
    height: 100px;
}
.sell-price, .price {
    font: 700 14px "Comfortaa", sans-serif;
}
.sell-price {
    font-size: 12px;
    margin-right: 10px;
    color: #808080;
    text-decoration: line-through;
}
.basket-char-block {
    margin-top: 30px;
    font-size: 12px;
}
.basket-code span:first-child, .basket-size span:first-child, .basket-color span:first-child {
    font-size: 12px;
    margin-right: 10px;
}
.basket-code, .basket-size, .basket-color {
    margin-bottom: 15px;
}
.basket-color img {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 5px;
}
.basket-color {
    font-size: 0;
}
.basket-color span {
    vert-align: bottom;
}
.quantity-del, .quantity-add {
    position: relative;
    height: 25px;
    width: 20px;
    vertical-align: top;
}
.quantity-add {
    margin-left: 15px;
}
.quantity-del {
    margin-right: 15px;
}
.quantity-del:before, .quantity-add:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #000;
    top: 11px;
}
.quantity-add:before {
    left: 0;
}
.quantity-add:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 2px;
    background-color: #000;
    top: 7px;
    left: 4px;
}
.quantity-num {
    height: 20px;
    width: 30px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
}
.quantity-block {
    vertical-align: top;
    margin-left: 15px;
}
.availability {
    margin-top: 5px;
    font-size: 10px;
}
.sum-price-basket {
    font: 700 18px "Comfortaa", sans-serif;
    margin: 20px 0;
}
.button-basket {
    padding: 9px 18px;
    color: #fff;
    background-color: #009fe3;
    border-radius: 4px;
}

/*Scrollbar*/
.sb-container {
    position: relative;
    overflow: hidden;
    padding-right: 30px;
}
.sb-content {
    height: 100%;
    width: 120%;
    padding-right: 20%;
    overflow-y: scroll;
    box-sizing: border-box;
}
.sb-scrollbar-container {
    position: absolute;
    right: 5px;
    bottom: 5px;
    top: 5px;
    width: 5px;
    background-color: #e5e5e5;
}
.sb-scrollbar-container-hide {
    right: -20px;
}
.sb-scrollbar {
    position: absolute;
    right: 0;
    height: 30px;
    width: 5px;
    border-radius: 10px;
    background-color: #808080;
}
/*EndScrollbar*/
.burger-menu-sub {
    position: fixed;
    text-align: center;
    box-sizing: border-box;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
}
.burger-menu-sub img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.burger-logoff-block {
    margin-top: 60px;
}
.burger-logoff-block div {
    font-size: 12px;
}
.burger-reg {
    padding: 6px 15px;
    background-color: #009fe3;
    margin-left: 30px;
    color: #fff;
    border-radius: 4px;
}
.burger-menu-block {
    text-align: left;
    margin: 60px 0 0 40px;
}
.burger-menu-block div {
    margin-bottom: 30px;
}
.burger-contact:before, .burger-news:before, .burger-faq:before, .burger-discont:before, .burger-company:before {
    content: "";
}
.burger-contact:before {
    width: 17px;
    height: 11px;
    background-position: -42.3px -42px;
    margin-right: 15px;
}
.burger-news:before {
    width: 13px;
    height: 13px;
    background-position: -61.3px -42px;
    margin: 0 17px 0 2px;
}
.burger-faq:before {
    width: 13px;
    height: 13px;
    background-position: -77.3px -42px;
    margin: 0 17px 0 2px;
}
.burger-discont:before {
    width: 18px;
    height: 18px;
    background-position: -93.3px -42px;
    margin-right: 15px;
}
.burger-company:before {
    width: 12px;
    height: 13px;
    background-position: -114.3px -42px;
    margin: 0 16px 0 4px;
}
.burger-login-block {
    position: relative;
    margin-top: 45px;
}
.burger-login-block p, .myprofile-sub div {
    margin-bottom: 15px;
}
.exit-profile {
    margin-left: 30px;
    font-size: 12px;
}
.icon-my-profile {
    width: 8px;
    height: 11px;
    background-position: -99.5px -21px;
    margin-right: 10px;
}
.my-profile {
    color: #009fe3;
}
.myprofile-sub {
    font-size: 12px;
    position: absolute;
    background-color: #fff;
    padding: 15px 10px 5px;
    text-align: right;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.plus-minus {
    position: relative;
    width: 8px;
    height: 8px;
    margin-left: 10px;
}
.plus, .minus {
    position: absolute;
    background-color: #009fe3;
}
.plus {
    width: 2px;
    height: 8px;
    left: 3px;
}
.minus {
    height: 2px;
    width: 8px;
    top: 3px;
}
/*END Header*/
/*HOME page*/
.sale-brand-block {
    width: 25.875%;
    margin-left: 1.25%;
}
.sale-block img, .brand-block img {
    margin: 41px 14px 13px 0;
}
.sale-block {
    margin-bottom: 20px;
}
.sale-block, .brand-block {
    position: relative;
    background-color: #f5f5f5;
    text-align: right;
    padding-bottom: 10px;
}
.sale-block-text, .brand-block-text {
    position: absolute;
    top: 40px;
    left: 30px;
    text-align: left;
}
.sale-block-text h3:first-child, .brand-block-text h3:first-child {
    font-size: 24px;
    margin-bottom: 10px;
}
.sale-block-text h3:last-child, .brand-block-text h3:last-child {
    font: 700 12px "Comfortaa", sans-serif;
    color: #808080;
}
.slider-home {
    width: 71.625%;
    position: relative;
}

.arrow-back-bl, .arrow-next-bl {
    height: 100%;
    position: absolute;
    width: 150px;
    opacity: 0.5;
}
.arrow-next-bl {
    right: 0;
}
.arrow-next, .arrow-back {
    position: absolute;
    top: 50%;
}
.arrow-next {
    height: 23px;
    width: 32px;
    background-position: -132px 0;
    right: 30px;
}
.arrow-back {
    height: 23px;
    width: 32px;
    left: 30px;
    background-position: -132px 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.new-product-block {
    margin: 140px 10px;
    text-align: center;
}
.new-title h2 {
    font: 700 24px "Comfortaa", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.new-title {
    font-size: 0;
    margin-bottom: 60px;
}
.hr-line {
    height: 1px;
    background-color: #b5b5b5;
    width: 26.875%;
}
.new-title .home-icon-bl {
    margin: 0 30px;
    width: 30px;
    height: 30px;
    background-position: 0 -70px;
}
.new-product, .sale-product {
    position: relative;
    text-align: left;
    width: 18%;
    margin-right: 1.25%;
    padding: 10px;
    box-sizing: border-box;
}
.new-product img, .sale-product img {
    width: 100%;
}
.product-vote {
    margin: 26px 0;
}
.quantity-vote {
    font-size: 10px;
    color: #808080;
}
.new-product h3, .sale-product h3 {
    line-height: 20px;
}
.product-price {
    margin-top: 25px;
}
.add-desire {
    float: right;
    width: 15px;
    height: 14px;
    margin-top: 26px;
}
.new-status, .sale-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px 4px;
    color: #fff;
    border-radius: 4px;
}
.new-status {
    font: 700 12px "Comfortaa", sans-serif;
    background-color: #009fe3;
}
.sale-status {
    font: 700 14px "Comfortaa", sans-serif;
    background-color: #f15252;
}
.all-new-products, .all-sale-products {
    margin: 50px 10px 0 0;
    text-align: right;
}
.all-new-products:after, .all-sale-products:after, .home-news-button:after {
    content: "";
    width: 15px;
    height: 11px;
    background-position: -110.6px -21px;
    margin-left: 15px;
}
.popular-block, .sale-home-block, .home-news {
    margin-bottom: 140px;
}
.popular-block .home-icon-bl {
    width: 24px;
    height: 22px;
    background-position: -33px -70px;
}
.slider-popular-bl {
    position: relative;
}
.slider-popular {
    font-size: 0;
    margin: 0 auto;
    width: 60%;
}
.slider-popular-item {
   margin: 0 15px;
}
.slider-popular h3 {
    font-size: 14px;
    margin-top: 20px;
}
.slider-popular img {
    width: 100%;
}
.pop-arrow-next-bl, .pop-arrow-back-bl {
    position: absolute;
    height: 100%;
    width: 150px;
}
.pop-arrow-next-bl {
    right: 0;
}
.pop-arrow-next, .pop-arrow-back {
    position: absolute;
    width: 32px;
    height: 23px;
    background-position: -167px 0;
    top: 35%;
}
.pop-arrow-next {
    right: 50%;
}
.pop-arrow-back {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 50%;
}
.dots-pop-slider {
    margin-top: 70px;
}
.dots-pop-slider li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
}
.dots-pop-slider .slick-active {
    width: 13px;
    height: 13px;
}
.sale-home-block .home-icon-bl {
    width: 31px;
    height: 31px;
    background-position: -60px -70px;
}
.home-news .home-icon-bl {
    width: 19px;
    height: 19px;
    background-position: -94px -70px;
}
.home-news-inf-bl {
    width: 46%;
    margin-right: 8%;
}
.home-news-title {
    font: 700 24px "Comfortaa", sans-serif;
    line-height: 28px;
    margin-bottom: 50px;
}
.home-news-inf-bl {
    text-align: left;
}
.home-news-button {
    margin-top: 70px;
}
.home-news-text {
    line-height: 20px;
}
.home-news-img {
    width: 25%;
}
.home-news-img img{
    width: 100%;
}
.home-seo-text {
    margin: 0 10px;
}
.home-seo-text h1 {
    font: 700 16px "Comfortaa", sans-serif;
    margin-bottom: 30px;
}
.home-seo-text div {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    width: 48.125%;
}
.home-seo-text div:nth-child(2) {
    margin-right: 2.5%;
}
.subscribe {
    text-align: center;
    background-color: #f7f7f7;
    width: 100%;
    padding: 30px 0;
    margin-top: 140px;
}
.subscribe h4 {
    font-size: 18px;
}
.subscribe input {
    margin: 25px 10px 25px 0;
    border: 1px solid #009fe3;
    width: 300px;
    font-size: 12px;
    padding: 8px 15px;
    box-sizing: border-box;
    vertical-align: top;
}
.subscribe input::placeholder {
    color: #009fe3;
    font: 700 12px "Comfortaa", sans-serif;
}
.subscribe input:-ms-input-placeholder {
    color: #009fe3;
    font: 700 12px "Comfortaa", sans-serif;
}
.subscribe input::-ms-input-placeholder {
    color: #009fe3;
    font: 700 12px "Comfortaa", sans-serif;
}
.subscr-button {
    padding: 10px 15px 8px;
    background-color: #009fe3;
    color: #fff;
    font-size: 12px;
    margin-top: 25px;
}
.subscribe p {
    font-size: 12px;
    max-width: 354px;
    width: 100%;
    line-height: 18px;
    margin: 0 auto;
}
.footer-menu, .footer-menu, .footer-social, .footer-pay, .footer-info {
    margin-top: 120px;
    width: 15.625%;
}
.footer-social h4, .footer-pay h4, .footer-delivery h4 {
    font: 700 14px "Comfortaa", sans-serif;
    margin-bottom: 30px;
}
footer .container {
    text-align: center;
}
.footer-menu, .footer-menu, .footer-social, .footer-pay {
    margin-right: 3%;
}
.footer-pay span:nth-child(2) {
    width: 54px;
    height: 18px;
    background-position: -128.8px -54px;
    margin-right: 10px;
}
.footer-pay span:nth-child(3) {
    width: 38px;
    height: 24px;
    background-position: -116px -75px;
}
.footer-social a {
    width: 25px;
    height: 25px;
    background-position: -128.8px -54px;
}
.footer-social a:nth-child(2) {
    background-position: -128.9px -26px;
    margin-right: 10px;
}
.footer-social a:nth-child(3) {
    background-position: -156.9px -26px;
    margin-right: 10px;
}
.footer-social a:nth-child(4) {
    background-position: -184.9px -26px;
}
.footer-delivery {
    margin-top: 50px;
}
.footer-menu div {
    font-size: 12px;
    margin-bottom: 20px;
}
.footer-corp {
    margin: 100px 0 50px;
    font-size: 12px;
}
.footer-pay p {
    font-size: 12px;
}
.footer-pay p:last-child {
    color: #009fe3;
    text-decoration: underline;
}
.footer-pay div {
    margin-top: 30px;
}
.address, .day-work, .phone, .email {
    font: 700 14px "Comfortaa", sans-serif;
}
.address:before {
    width: 13px;
    height: 14px;
    background-position: -114.3px -42px;
}
.day-work:before {
    width: 14px;
    height: 14px;
    background-position: -174px -75px;
}
.phone:before {
    width: 14px;
    height: 14px;
    background-position: -157px -75px;
}
.email:before {
    width: 17px;
    height: 11px;
    background-position: -42.3px -42px;
}
.address:before, .phone:before, .email:before, .day-work:before {
    margin-right: 15px;
}
.footer-info span {
    margin: 10px 0 20px 30px;
}
.footer-delivery a:nth-child(2) {
    width: 148px;
    height: 25px;
    background-position: 0 -103px;
    margin-right: 40px;
}
.footer-delivery a:nth-child(3) {
    width: 118px;
    height: 31px;
    background-position: -151px -103px;
}
.main-menu-mob, .other-menu-mob {
    margin: 60px 0 0 40px;
    text-align: left;
}
.other-menu-mob div {
    margin-bottom: 20px;
}
.main-menu-mob div {
    position: relative;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 15px;
}
.main-menu-mob div:before {
    margin-right: 10px;
    content: "";
    width: 8px;
    height: 7px;
    background-position: -30px 0;
}
.main-menu-mob div:after {
    position: absolute;
    top: 6px;
    right: 20px;
    display: inline-block;
    width: 5px;
    height: 5px;
    content: "";
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.main-menu-mob ul {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 13px;
    padding-left: 16px;
}
.main-menu-mob ul li {
    margin-bottom: 15px;
    word-break: break-all;
    line-height: 18px;
}
.main-menu-mob div.arrow-hover:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(225deg);
}
.sub-child-mob:before, .sub-child-mob:after {
    content: none !important;
}
.title-child-menu {
    font-weight: 700;
}
.burger-pay:before {
    width: 5px;
    height: 13px;
    background-position: -191px -75px;
    margin: 0 21px 0 6px;
}
.burger-delivery:before {
    width: 16px;
    height: 11px;
    background-position: -199px -75px;
    margin-right: 15px;
}
.burger-rules:before {
    width: 14px;
    height: 14px;
    background-position: -218px -75px;
    margin-right: 18px;
}
.slider-sale-block, .home-news-bl {
    margin: 0 10px;
}
.basket-price, .desire-price {
    margin-top: 10px;
}
/*END Home page*/