/* comfortaa-regular - cyrillic_latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/comfortaa-v22-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/comfortaa-v22-cyrillic_latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
/* comfortaa-700 - cyrillic_latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/comfortaa-v22-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/comfortaa-v22-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/comfortaa-v22-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/comfortaa-v22-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/comfortaa-v22-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/comfortaa-v22-cyrillic_latin-700.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
/*Common style*/
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}
body a {
    color: #000;
    text-decoration: none !important;
    outline: none;
}
body {
    font: 400 14px "Comfortaa", sans-serif;
}
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.topbar-language, .topbar-language p, .topbar-left, .topbar-location, .topbar-phone, .baner, .submenulist, .for-child-block, .baner-for-child, .login-save, .login-button-block, .login-in, .login-registration, .header-logo, .main-menu, .other-menu, .icon-menu, .main-menu a, .main-menu-icon, .other-menu a:first-child, .block-header-search, .block-header-desire, .block-header-basket, .header-login, .header-burger, .block-header-login, .cbx span, .svg-point, .h-desire:before, .desire-info-block, .desire-list-product img, .sale-brand-block, .slider, .price, .sell-price, .h-basket:before, .basket-info-block, .basket-list-product img {
    display: inline-block;
}
.burger-menu, .sub-menu-backg, .for-woman-submenu, .for-man-submenu, .for-child-submenu {
    display: none;
}
.topbar-location:before, .topbar-phone:before, .main-menu-icon, .header-login, .header-burger, .header-search, .header-desire, .header-basket, .search-block-img,
.h-desire:before, .close-login, .close-desire, .remove-desire, .h-basket:before, .close-basket, .remove-basket {
    background:url("../img/icon/sprite.svg") no-repeat;
}
.bg-load {
    display: none;
}
.submenulist, .baner, .sale-brand-block, .slider, .desire-info-block, .desire-list-product img, .basket-info-block, .basket-list-product img {
    vertical-align: top;
}
/*END Common style*/
/*Header*/
.container-header {
    padding: 8px 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}
.header-topbar {
    margin: 0 10px;
    font-size: 12px;
}
.topbar-language {
    float: right;
}
.topbar-location {
    margin-right: 50px;
}
.topbar-location:before {
    margin-right: 15px;
    float: left;
    content: "";
    width: 10px;
    height: 14px;
}
.topbar-phone:before {
    margin-right: 15px;
    float: left;
    content: "";
    width: 14px;
    height: 14px;
    background-position: -13px 0;
}
.topbar-language p {
    font-size: 10px;
    color: #808080;
}
.header-logo {
    margin: 30px 0 30px 50px;
}
.header-logo {
    max-width: 160px;
    width: 100%;
}
.header-nav {
    float: right;
}
.main-menu a {
    height: 78px;
}
.main-menu {
    font-size: 15px;
    margin-top: 64px;
}
.active-main-menu {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}
.for-woman, .for-man {
    margin-right: 50px;
}
.main-menu-icon {
    margin-left: 11px;
    width: 8px;
    height: 7px;
    background-position: -30px 0;
}
.border {
    margin-top: 10px;
    width: 65%;
    height: 2px;
    background-color: #000;
}
.other-menu a:first-child {
    margin-left: 28px;
    padding-left: 28px;
    border-left: 1px solid #bfbfbf;
}
.other-menu {
    font-size: 13px;
    margin-right: 32px;
}
.other-menu a{
    margin-right: 28px;
}
.icon-menu div {
    vertical-align: middle;
}
.block-header-search, .block-header-desire, .block-header-basket, .header-login, .header-burger, .block-header-login {
    cursor: pointer;
}
.block-header-search, .block-header-desire, .block-header-basket {
    width: 45px;
    height: 45px;
}
.header-search {
    background-position: -41px 0;
    width: 14px;
    height: 14px;
    margin: 15px 0 0 15px;
}
.header-desire {
    width: 15px;
    height: 14px;
    background-position: -58px 0;
    margin: 15px 0 0 15px;
}
.header-basket {
    background-position: -77px 0;
    width: 17px;
    height: 18px;
    margin: 12px 0 0 14px;
}
.header-login {
    width: 14px;
    height: 18px;
    background-position: -95px 0;
    margin-right: 11px;
}
.block-header-login {
    font-size: 10px;
    color: #808080;
    margin: 0 30px 0 15px;
}
.header-burger {
    width: 19px;
    height: 14px;
    margin-right: 10px;
    background-position: -110px 0;
}
.block-header-basket, .block-header-desire {
    position: relative;
}
.block-header-desire {
    width: 45px;
    height: 45px;
}
.desire-number span, .basket-number span {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.desire-number, .basket-number {
    position: absolute;
    font-size: 9px;
    right: 7px;
    bottom: 7px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    color: #fff;
}
.basket-number {
    background-color: #009fe3;
}
.desire-number {
    background-color: #e30613;
}
.sub-menu-backg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.9;
}
.for-woman-submenu, .for-man-submenu, .for-child-submenu {
    position: absolute;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    opacity: 0;
    margin-top: 20px;
    background-color: #fff;
    max-width: 1500px;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    left: 50%;

}
.blocksub h2 {
    display: table;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    margin-bottom: 40px;
    font: 700 15px "Comfortaa", sans-serif;
}
.blocksub {
    font-size: 0;
    padding: 80px;
}
.submenulist {
    font-size: 0;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    border-right: 1px solid #d9d9d9;
    margin-right: 80px;
    padding-right: 50px;
}
.baner img, .baner-for-child img {
    width: 100%;
    height: 100%;
    max-width: 382px;
    max-height: 236px;
}
.baner-for-child, .for-child-block {
    vertical-align: middle;
}
.submenulist div {
    font-size: 12px;
    width: 135px;
    margin: 0 30px 26px 0;
}
.baner, .baner-for-child {
    text-align: center;
}
.baner div, .baner-for-child div {
    margin: 20px 0 10px 0;
    font: 700 20px "Comfortaa", sans-serif;
}
.baner p, .baner-for-child p {
    color: #808080;
    font: 700 14px "Comfortaa", sans-serif;
}
.for-child-block h2:nth-child(3){
    margin-top: 40px;
}
.login-block {
    position: fixed;
    display: block;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    max-width: 536px;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 2;
    border-radius: 2px;
}
.login-hover {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.desire-block, .basket-block {
    position: absolute;
    padding: 50px 81px 50px;
    max-width: 1200px;
    text-align: center;
    width: 100%;
    top: 170px;
    left: 50%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%, 0) scale(0);
    -moz-transform: translate(-50%, 0) scale(0);
    -ms-transform: translate(-50%, 0) scale(0);
    -o-transform: translate(-50%, 0) scale(0);
    transform: translate(-50%, 0) scale(0);
    z-index: 3;
    opacity: 0;
}
.desire-hover, .basket-hover {
    -webkit-transform: translate(-50%, 0) scale(1);
    -moz-transform: translate(-50%, 0) scale(1);
    -ms-transform: translate(-50%, 0) scale(1);
    -o-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
}
.close-login, .close-desire, .basket-hover{
    position: absolute;
    cursor: pointer;
    width: 14px;
    height: 14px;
    top: 25px;
    right: 25px;
    background-position: -28px -42px ;
}
.login-block p {
    font: 700 18px "Comfortaa", sans-serif;
    text-align: center;
    margin: 50px 0 30px;
}
.inp-email, .inp-pass {
    width: 340px;
    margin-left: 67px;
}
.inp-email {
    margin-bottom: 20px;
}
.inp-email input, .inp-pass input {
    font: 700 12px "Comfortaa", sans-serif;
    padding: 10px 30px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    width: 100%;
}
.inp-email label, .inp-pass label {
    font: 700 12px "Comfortaa", sans-serif;
    display: block;
    margin-bottom: 10px;
}
.login-save {
    margin: 40px 0 0 67px;
}
.login-reset-pass {
    cursor: pointer;
    clear: both;
    font-size: 12px;
    color: #808080;
    margin: 30px 0 50px 67px;
}
.login-in, .login-registration {
    cursor: pointer;
}
.login-in {
    padding: 8px 18px;
    background-color: #009fe3;
    color: #fff;
    border-radius: 3px;
    font: 700 12px "Comfortaa", sans-serif;
}
.login-button-block {
    margin: 33px 67px 0 0;
    float: right;
}
.login-registration {
    font: 700 12px "Comfortaa", sans-serif;
    color: #009fe3;
    margin-left: 16px;
}
.login-save span {
    font-size: 12px;
}
.cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.cbx span {
    vertical-align: middle;
}
.svg-point {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    transition: all 0.2s ease;
    background-color: #fff;
}
.svg-point svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}
.svg-point:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #009fe3;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.inp-cbx:checked + .svg-point {
    background: #009fe3;
    border-color: #009fe3;
    animation: wave 0.4s ease;
}
.inp-cbx:checked + .svg-point svg {
    stroke-dashoffset: 0;
}
.inp-cbx:checked + .svg-point:before {
    transform: scale(2.5);
    opacity: 0;
    transition: all 0.6s ease;
}
.inp-cbx {
    display: none;
}
.white-background {
    position: fixed;
    opacity: 0.9;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
}
.cbx span {
    margin-left: 15px;
}
.search-block {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    top: 200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 2;
}
.search-block, .search-block form {
    max-width: 800px;
    width: 100%;
}
.search-block-img {
    position: absolute;
    top: 27px;
    left: 30px;
    width: 25px;
    height: 25px;
    background-position: 0 -42px;
}
.search-block input {
    font: 700 18px "Comfortaa", sans-serif;
    outline: none;
    border: none;
    padding: 30px 30px 25px 80px;
    max-width: 690px;
    width: 100%;
}
.h-desire, .h-basket {
    font: 700 18px "Comfortaa", sans-serif;
}
.h-desire:before, .h-basket:before {
    content: "";
    width: 15px;
    height: 14px;
    background-position: -58px 0;
    margin-right: 15px;
}
.desire-list, .basket-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.desire-list-product, .basket-list-product {
    position: relative;
    width: 30.6%;
    text-align: left;
    margin: 0 4.1% 50px 0;
}
.desire-list-product:nth-child(3), .basket-list-product:nth-child(3) {
    margin-right: 0;
}
.desire-info-block, .basket-info-block {
    line-height: 20px;
    margin-top: 5px;
    width: 68%;
}
.desire-info-block h4, .basket-info-block h4 {
    min-height: 75px;
}
.remove-desire, .remove-basket {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 0;
    width: 8px;
    height: 8px;
    background-position: -28px -56px;
}
.desire-list-product img, .basket-list-product img{
    width: 100px;
    height: 100px;
}
.sell-price, .price {
    font: 700 14px "Comfortaa", sans-serif;
}
.sell-price {
    font-size: 12px;
    margin-right: 10px;
    color: #808080;
    text-decoration: line-through;
}
/*END Header*/
/*HOME page*/
.sale-brand-block {
    width: 25.875%;
    margin-left: 1.25%;
}
.sale-block {
    margin-bottom: 20px;
}
.sale-block, .brand-block {
    background-color: #f5f5f5;
}
/*END Home page*/