div#container
{
   max-width: 994px;
   width: 100%;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{

   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   text-align: center;
}
#index1Shape2
{
   border-width: 0;
}
#indexLayer4
{
   background-color: transparent;
   background-image: url(images/546546546547547333.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#indexImage15
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage5
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#страница1Shape1
{
   border-width: 0;
}
#страница1Layer2
{
   background-color: transparent;
   background-image: url(images/lily63.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#indexLayer11
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#indexLayer1
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#index1Layer3
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#indexLayer10
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#indexLayer9
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#index1Layer4
{
   background-color: #FFFFFF;
}
#index1Layer2
{
   background-color: transparent;
   background-image: url(images/098765434567890987654.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#index1Layer1
{
   background-color: transparent;
   background-image: url(images/8765434567876545465465435436.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#indexLayer14
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#страница1Layer1
{
   background-color: transparent;
   background-image: url(images/slide-1445333.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#indexLayer7
{
   background-color: transparent;
   background-image: url(images/435435346346.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#страница1Layer3
{
   background-color: transparent;
   background-image: url(images/435435346346.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#indexLayer2
{
   background-color: transparent;
   background-image: url(images/454546456565768678.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#indexLayer5
{
   background-color: #FFFFFF;
}
#wb_indexText6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText6 div
{
   text-align: left;
}
#wb_indexShape17 a img
{
   position: absolute;
}
#wb_indexShape17 span
{
   position: absolute;
}
#wb_indexShape17 a .hover
{
   visibility: hidden;
}
#wb_indexShape17 a:hover .hover
{
   visibility: visible;
}
#wb_indexShape17 a:hover span
{
   visibility: hidden;
}
#indexShape17
{
   border-width: 0;
}
#wb_indexText1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText1 div
{
   text-align: left;
}
#wb_indexText41 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText41 div
{
   text-align: center;
}
#wb_indexText21 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText21 div
{
   text-align: center;
}
#indexImage2
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText11 div
{
   text-align: left;
}
#indexImage3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText2 div
{
   text-align: center;
}
#wb_indexText3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText3 div
{
   text-align: center;
}
#indexLayer3
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#wb_indexText4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText4 div
{
   text-align: center;
}
#wb_indexText7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText7 div
{
   text-align: center;
}
#wb_indexText8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText8 div
{
   text-align: center;
}
#wb_indexText10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText10 div
{
   text-align: center;
}
#wb_indexText14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText14 div
{
   text-align: center;
}
#wb_indexText15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText15 div
{
   text-align: center;
}
#indexShape7
{
   border-width: 0;
}
#indexShape8
{
   border-width: 0;
}
#indexShape9
{
   border-width: 0;
}
#indexShape10
{
   border-width: 0;
}
#indexShape11
{
   border-width: 0;
}
#indexShape12
{
   border-width: 0;
}
#indexImage20
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage21
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage22
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage23
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage24
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage25
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexForm3
{
   background-color: transparent;
   background-image: url(images/435435346346.jpg);
   background-repeat: repeat;
   background-position: left top;
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
#indexButton3
{
   border: 3px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #000000;
   background: -moz-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: -webkit-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: -o-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: -ms-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: linear-gradient(bottom,#000000 0%,#000000 100%);
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 19px;
}
#indexEditbox6
{
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Verdana;
   font-size: 19px;
   padding: 15px 15px 15px 15px;
   text-align: left;
   vertical-align: middle;
}
#indexEditbox5
{
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Verdana;
   font-size: 19px;
   padding: 15px 15px 15px 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_indexText17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText17 div
{
   text-align: center;
}
#wb_indexText18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText18 div
{
   text-align: left;
}
#wb_страница1Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_страница1Text3 div
{
   text-align: left;
}
#wb_страница1Form1
{
   background-color: transparent;
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
#страница1Button1
{
   border: 3px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #000000;
   background: -moz-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: -webkit-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: -o-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: -ms-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: linear-gradient(bottom,#000000 0%,#000000 100%);
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 19px;
}
#страница1Editbox1
{
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Verdana;
   font-size: 19px;
   padding: 15px 15px 15px 15px;
   text-align: left;
   vertical-align: middle;
}
#страница1Editbox2
{
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Verdana;
   font-size: 19px;
   padding: 15px 15px 15px 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_страница1Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_страница1Text4 div
{
   text-align: center;
}
#wb_indexText16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText16 div
{
   text-align: left;
}
#wb_indexText22 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText22 div
{
   text-align: left;
}
#indexImage4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage7
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText29 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText29 div
{
   text-align: left;
}
#wb_indexText32 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText32 div
{
   text-align: left;
}
#indexImage16
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText5 div
{
   text-align: left;
}
#indexImage6
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage8
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexShape1
{
   border-width: 0;
}
#wb_indexText23 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText23 div
{
   text-align: left;
}
#indexShape2
{
   border-width: 0;
}
#indexLayer8
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#wb_indexText24 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText24 div
{
   text-align: center;
}
#wb_index1Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_index1Text1 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_index1Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_index1Text2 div
{
   text-align: center;
}
#index1Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_index1Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_index1Text3 div
{
   text-align: center;
}
#wb_index1Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_index1Text4 div
{
   text-align: center;
   white-space: nowrap;
}
#index1Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_index1Form1
{
   background-color: transparent;
   background-image: url(images/435435346346.jpg);
   background-repeat: repeat;
   background-position: left top;
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
#index1Button1
{
   border: 3px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #000000;
   background: -moz-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: -webkit-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: -o-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: -ms-linear-gradient(bottom,#000000 0%,#000000 100%);
   background: linear-gradient(bottom,#000000 0%,#000000 100%);
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 19px;
}
#index1Editbox1
{
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Verdana;
   font-size: 19px;
   padding: 15px 15px 15px 15px;
   text-align: left;
   vertical-align: middle;
}
#index1Editbox2
{
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Verdana;
   font-size: 19px;
   padding: 15px 15px 15px 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_index1Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_index1Text5 div
{
   text-align: center;
   white-space: nowrap;
}
#index1Image3
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#index1Shape1
{
   border-width: 0;
}
#index1Shape3
{
   border-width: 0;
}
#index1Shape4
{
   border-width: 0;
}
#wb_index1Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_index1Text6 div
{
   text-align: right;
}
#index1Shape5
{
   border-width: 0;
}
#wb_index1Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_index1Text7 div
{
   text-align: left;
}
#wb_index1Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_index1Text8 div
{
   text-align: center;
}
#index1Image4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_index1Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_index1Text9 div
{
   text-align: center;
}
#wb_index1Text10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_index1Text10 div
{
   text-align: center;
}
#indexImage9
{
   border: 0px #000000 solid;
   -webkit-animation: transform-bounch-in 1900ms linear 0ms infinite normal;
   -moz-animation: transform-bounch-in 1900ms linear 0ms infinite normal;
   -ms-animation: transform-bounch-in 1900ms linear 0ms infinite normal;
   animation: transform-bounch-in 1900ms linear 0ms infinite normal;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText9 div
{
   text-align: left;
}
#wb_indexShape3 a img
{
   position: absolute;
}
#wb_indexShape3 span
{
   position: absolute;
}
#wb_indexShape3 a .hover
{
   visibility: hidden;
}
#wb_indexShape3 a:hover .hover
{
   visibility: visible;
}
#wb_indexShape3 a:hover span
{
   visibility: hidden;
}
#indexShape3
{
   border-width: 0;
}
#wb_indexShape4 a img
{
   position: absolute;
}
#wb_indexShape4 span
{
   position: absolute;
}
#wb_indexShape4 a .hover
{
   visibility: hidden;
}
#wb_indexShape4 a:hover .hover
{
   visibility: visible;
}
#wb_indexShape4 a:hover span
{
   visibility: hidden;
}
#indexShape4
{
   border-width: 0;
}
#wb_indexShape6 a img
{
   position: absolute;
}
#wb_indexShape6 span
{
   position: absolute;
}
#wb_indexShape6 a .hover
{
   visibility: hidden;
}
#wb_indexShape6 a:hover .hover
{
   visibility: visible;
}
#wb_indexShape6 a:hover span
{
   visibility: hidden;
}
#indexShape6
{
   border-width: 0;
}
#indexImage18
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText12 div
{
   text-align: left;
}
#indexLayer12
{
   background-color: transparent;
   background-image: url(images/4367678976.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#wb_indexText13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText13 div
{
   text-align: left;
}
#indexShape13
{
   border-width: 0;
}
#wb_indexShape14 a img
{
   position: absolute;
}
#wb_indexShape14 span
{
   position: absolute;
}
#wb_indexShape14 a .hover
{
   visibility: hidden;
}
#wb_indexShape14 a:hover .hover
{
   visibility: visible;
}
#wb_indexShape14 a:hover span
{
   visibility: hidden;
}
#indexShape14
{
   border-width: 0;
}
#indexShape15
{
   border-width: 0;
}
#indexLayer13
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#indexLayer15
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#indexLayer6
{
   background-color: transparent;
   background-image: url(images/slider-bg-2-pattern.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#wb_indexText19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText19 div
{
   text-align: left;
}
#indexImage10
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText20 div
{
   text-align: left;
}
#wb_indexText25 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText25 div
{
   text-align: left;
}
#wb_indexText26 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText26 div
{
   text-align: left;
}
#wb_indexShape5 a img
{
   position: absolute;
}
#wb_indexShape5 span
{
   position: absolute;
}
#wb_indexShape5 a .hover
{
   visibility: hidden;
}
#wb_indexShape5 a:hover .hover
{
   visibility: visible;
}
#wb_indexShape5 a:hover span
{
   visibility: hidden;
}
#indexShape5
{
   border-width: 0;
}
#wb_indexText27 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText27 div
{
   text-align: left;
}
#wb_indexText28 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText28 div
{
   text-align: left;
}
.tarif {
    margin-top: -33px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
 }