body
{
   background-color: #F0F0F0;
   background-image: url(images/43243243253253252.jpg);
   background-position: center top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
}
#wb_indexForm1
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#indexEditbox1
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#696969;
   font-family: 'PT Sans Narrow';
   font-weight: bold;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexEditbox2
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#696969;
   font-family: 'PT Sans Narrow';
   font-weight: bold;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexButton1
{
   border: 0px #A9A9A9 solid;
   background-color: #FFFF00;
   background: -moz-linear-gradient(bottom,#FFFF00 0%,#FFFFA0 100%);
   background: -webkit-linear-gradient(bottom,#FFFF00 0%,#FFFFA0 100%);
   background: -o-linear-gradient(bottom,#FFFF00 0%,#FFFFA0 100%);
   background: -ms-linear-gradient(bottom,#FFFF00 0%,#FFFFA0 100%);
   background: linear-gradient(bottom,#FFFF00 0%,#FFFFA0 100%);
   color: #000000;
   font-family: 'PT Sans Narrow';
   font-weight: bold;
   font-size: 19px;
}
#wb_indexText39 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText39 div
{
   text-align: center;
}
