@media (max-width: 1600px) {
    .subscribe-block {
        padding: 55px 10px;
    }
    .sb-text div:nth-child(2) {
        margin: 0 60px 10px 0;
    }
    .subscribe-block .m-container {
        justify-content: center;
    }
    .subscribe-block img {
        display: none;
    }
    .mvb-content div {
        width: 50%;
    }
    .call-back {
        left: auto;
        bottom: 80px;
        right: 3px;
    }
    .cp-manager-item {
        width: 33.3%;
        padding: 0 20px 30px 0;
    }
    .cp-main-info-contacts {
        margin-right: 150px;
    }
    .cp-main-info-callback {
        max-width: 100%;
        flex: 1;
    }
    .cp-main-info-block {
        padding: 0;
    }
    .pp-item {
        width: 25%;
    }
    .plp-item-img h3 {
        font-size: 14px;
    }
    .nlp-item {
        width: 33.3%;
        padding: 0 10px 80px 0;
    }
    .pp-main-info-block {
        margin-left: 3%;
    }
    .active-catalog-main-menu {
        background-color: #fff;
    }
    .close-catalog-block, .catalog-main-menu-item-block-m {
        display: block;
    }
    #open-product-cart {
        margin-right: 10px;
    }
    .h-search {
        margin: 0 10px 0 20px;
    }
    .h-main-menu a, .h-main-menu-line {
        display: none;
    }
    .h-main-menu-mob a{
        display: inline-block;
    }
    .h-main-menu a:last-child {
        margin-right: 0;
    }
    /* .parts-title {
        margin: 50px 10px 0 10px;
    }
    .parts-page-other-product {
        margin: 100px 0 0 10px;
    } */
    .main-categories, .main-news {
        padding-top: 100px;
    }
    .main-category-block {
        margin-top: 30px;
    }
    .main-news-item h3 {
        margin: 20px 0;
        line-height: 20px;
    }
}
@media (max-width: 1220px) {
    .active-sort {
        color: #009fe3;
        padding: 5px 10px;
        border-bottom: 2px solid #009fe3;
        border-radius: 0;
        font-weight: 600;
        font-size: 14px !important;
        margin-top: 5px;
        background-color: #fff;
    }
    .mfb-reset {
        display: inline-block;
        border: 2px solid #009FE3;
        font-weight: 700;
        color: #009FE3;
        font-size: 12px;
        padding: 10px 20px;
        border-radius: 50px;
        margin-top: 20px;
    }
    .selected-filter {
        display: none;
    }
    .selected-filter-m {
        display: block;
        margin: 0 10px;
    }
    .cp-main-info-contacts {
        margin: 0 0 150px;
    }
    .cp-main-info-block {
        display: block;
    }
    .cp-manager-item {
        width: 50%;
    }
    .npc-other-news {
        margin-left: 30px;
    }
    .pp-img-block {
        max-width: 100%;
    }
    .pp-main-info-block {
        flex: none;
        margin: 0;
        width: 100%;
        margin-top: 50px;
    }
    .range-filter input {
        width: 128px;
    }
    .rent-teh-item {
        width: 50%;
    }
    .chb-mob-ico {
        display: block;
        flex: none;
        margin-left: 30px;
    }
    .ch-menu, .ch-language, .range-button {
        display: none !important;
    }
    .main-corp {
        margin: 80px 0 80px 0;
    }
    .fliter-mob-button {
        display: block;
        width: 100%;
        background-color: #009fe3;
        text-align: center;
        padding: 15px 0;
        font: 700 16px "Roboto", sans-serif;
        /*box-shadow: 0 0 5px 0 rgba(0,159,227,.4);*/
        color: #fff;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .filter-block {
        position: fixed;
        top: 0;
        left: -340px;
        background-color: #fff;
        height: 100%;
        padding: 0 0 150px 0;
        margin: 0;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
        overflow: auto;
        z-index: 4;
    }
    .filter-block {
        display: none;
        width: 100%;
        left: 0;
    }
    .filter-list, .manager-filter-block {
        padding: 40px 20px 0;
    }
    .manager-filter-block {
        margin-top: 40px;
    }
    .n-modal-filter-header, .mob-filter-buttons {
        display: block;
    }
    .products-list-block {
        justify-content: flex-start;
        width: 100%;
        margin: 10px 0 0 0;
    }
    .plb-list a {
        width: 25%;
    }
    .plb-list {
        margin-bottom: 20px;
    }
    .special-offer a:nth-child(5) {
        display: none;
    }
    
    /* .parts-flex-block a, .parts-flex-block-pr a {
        width: 25%;
    } */
    .catalog-main-menu-item-block-m .catalog-main-menu-item-m:last-child {
        margin-bottom: 40px;
    }

    .catalog-modal {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    }
    .catalog-modal {
        width: 100%;
    }
    .catalog-block {
        background-color: #fff;
    }
    .catalog-block .m-container, .catalog-modal {
        height: 100%;
    }
    .catalog-submenu-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .catalog-block {
        position: fixed;
        top: 0;
    }
    .catalog-modal {
        margin-top: 50px;
    }
    .close-catalog-block, .catalog-block {
        z-index: 4;
    }
}
@media (max-width: 1023px) {
    .sb-text div:nth-child(3) {
        font-size: 16px;
    }
    .subscribe-block button {
        margin: 10px 0 0 0;
        width: 100%;
    }
    .subscribe-block p {
        top: -40px;
    }
    .subscribe-block form {
        display: block;
    }
    .sb-text {
        text-align: center;
    }
    .sb-text div:nth-child(2) {
        margin: 0 0 10px 0;
    }
    .subscribe-block {
        padding: 40px 20px; 
    }
    .subscribe-block form {
        width: 100%;
        margin-top: 50px;
    }
    .subscribe-block .m-container {
        display: block;
    }
    .nhib-price {
        margin: 0 0 0 50px;
    }
    .nhb-item-block {
        padding: 0;
    }
    .services-item {
        width: 33.3%;
    }
    .rpb-fv-video:before {
        width: 50px;
        height: 50px;
    }
    .home-p-title a {
        margin-top: 40px;
        font-size: 14px;
        padding: 12px 25px;
    }
    .home-p-title p {
        font-size: 24px;
        line-height: 30px;
    }
    .n-video-bkg {
        height: 300px;
    }
    .npc-text ul, .npc-text ol {
        margin: 40px 0 40px 25px;
    }
    .news-page .m-container {
        display: block;
    }
    .news-page-content {
        width: 100%;
    }
    .rpb-container {
        margin: 0;
    }
    .main-rent-block a, .sub-category-block a {
        width: 33%;
    }
    .n-modal-basket-content {
        margin: 20px auto 70px;
    }
    .plb-list a {
        width: 33.3%;
    }
    .special-offer a:nth-child(4), .npc-other-news {
        display: none;
    }
    /* .parts-flex-block a, .parts-flex-block-pr a {
        width: 33%;
    } */
    .main-category-block a {
        width: 33%;
    }
    .main-news-item h3 {
        font-size: 15px;
    }
}
@media (max-width: 900px) {
    .nps-name, .nps-pice {
        margin: 0 10px;
    }
    .n-modal-item-name {
        max-width: 100%;
    }
    .n-modal-item {
        margin: 0 20px;
        padding: 50px 30px 50px 0;
    }
    .n-modal-item-name, .n-modal-item-price {
        margin: 0 10px;
    }
    .h-main-menu-mob {
        display: none;
    }
    .catalog-submenu-list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .sublistmenu {
        margin: 0 0 50px 0;
    }
    .catalog-main-menu {
        width: 55%;
    }
    .catalog-submenu {
        width: 45%;
    }
}
@media (max-width: 767px) {
    .plb-item .pp-sale, .plb-item .pp-exclusive, .plb-item  .pp-topprice,
    .plb-item .plb-video {
        padding: 6px 10px;
    }
    .plb-item .pp-sale:before, .plb-item .pp-exclusive:before, .plb-item  .pp-topprice:before, .plb-item .plb-video:before{
        margin: 0 6px -5px 0;
    }
    .ppmib-m h1, .ppmib-m h2, .ppmib-m h3, .ppmib-m h4, .ppmib-m h5 {
        font-size: 18px;
    }
    .ppmib-video iframe:first-child, .pp-video iframe:first-child {
        height: 50vw;
    }
    .ppmib-video iframe, .pp-video iframe {
        height: 20vw;
    }
    .ppmib-video iframe, .ppmib-video iframe, .pp-video iframe {
        padding: 5px;
    }
    .ppmib-video-title span:nth-child(2), .pp-video-title span {
        display: none;
    }
    .ppmib-video, .pp-video {
        padding: 10px;
        margin: 0 auto 50px;
    }
    .delivery-form-description {
        font-size: 14px;
        padding: 20px 10px;
        border-radius: 0;
    }
    .ps-button {
        width: 100%;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .ps-info-block td, .ps-products-block td {
        padding: 12px 10px;
    }
    .pay-successful {
        font-size: 12px;
    }
    .pay-successful h1 {
        font-size: 20px;
        margin: 50px 0 30px;
    }
    .pay-successful img {
        margin: 50px auto;
    }
    .seo-block img {
        width: 46%;
    }
    .ps-number {
        font-size: 20px;
    }
    .ps-info-block {
        margin: 40px 0;
    }
    .go-top {
        bottom: 20px;
        left: 20px;
    }
    .faq-block {
        padding: 20px;
        margin: 50px 10px;
    }
    .faq-block__title {
        font-size: 18px;
    }
    .faq-block__question {
        font-size: 16px;
    }
    .seo-block h2 {
        font-size: 18px;
    }
    .scroll-block {
        white-space: nowrap;
        overflow: auto;
    }
    /*.plb-item .pp-exclusive, .plb-item .pp-new, .plb-item .pp-not-available, .plb-item .pp-sale {*/
    /*    font-size: 12px;*/
    /*}*/
    .n-close-modal-basket, .close-mob-menu, .close-ncb, .chb-close, .close-filter-block, .close-n-callback-block, .close-n-login {
        top: 15px;
        right: 15px;
    }
    .footer-info {
        margin: 0;
    }
    .footer-info-block {
        display: block;
    }
    .nhib-price {
        margin: 0 0 0 20px;
        max-width: 100px;
    }
    .nhb-sum-prise div:last-child {
        margin-top: 8px;
    }
    .nhb-delivered {
        margin: 0;
        font-size: 14px;
    }
    .nhb-item-main span {
        display: block;
        margin: 0 0 13px 0;
        font-size: 12px;
    }
    .nhbib-item {
        padding: 10px 0;
        font-size: 12px;
    }
    .nhib-name {
        margin: 0 10px;
    }
    .nhib-img {
        display: none;
    }
    .nhb-sum-prise {
        margin: 0 10px;
    }
    .nhb-toggle-block {
        right: 0;
        width: 25px;
        height: 25px;
    }
    .nhb-toggle-block img {
        width: 25px;
    }
    .n-history-block {
        margin: 50px 10px;
    }
    .nhb-item-info {
        padding: 20px 40px 20px 0;
    }
    .service-page-block h3 {
        font-size: 24px;
        padding: 50px 0;
    }
    .services-item h4 {
        font-size: 14px;
        line-height: 18px;
    }
    .services-item p {
        font-size: 12px;
    }
    .service-img-block {
        height: 450px;
    }
    .services-item {
        padding: 20px 10px;
        width: 50%;
    }
    .nps-item {
        font-size: 12px;
    }
    .n-parts-search .n-modal-item-quantity {
        display: none;
    }
    #passForm, #formEdit, #orderForm {
        padding: 30px 20px;
    }
    .delivery-form-title  {
        padding: 50px 10px 0;
        font-size: 30px;
    }
    .call-back {
        display: none;
    }
    .n-video-bkg {
        height: 200px;
    }
    .home-p-title a {
        font-size: 12px;
        margin-top: 20px;
    }
    .home-p-title p {
        padding-left: 10px;
        font-size: 16px;
        line-height: 19px;
    }
    .ppmib-m table {
        margin: 30px 0;
    }
    .ppmib-m table tr:first-child td {
        font-size: 14px;
    }
    .ppmib-m table td {
        padding: 15px 10px;
        font-size: 12px;
    }
    .ppmib-m-title, .ppmib-video-title, .pp-video-title {
        margin: 10px 0;
        font-size: 24px;
    }
    .cpmti-sub-block a {
        font-size: 20px;
    }
    .cpmti-sub-block {
        padding: 0;
    }
    .cpmti-sub-block div {
        margin: 10px 0 10px;
    }
    .cpmti-title-block img {
        margin-right: 20px;
    }
    .cpmti-title-block {
        padding: 20px 35px 20px 10px;
    }
    .cpmti-arrow {
        right: 10px;
    }
    .cpmti-title {
        font-size: 14px;
    }
    .n-callback-block {
        width: 95%;
    }
    .nap-text {
        font-size: 14px;
        line-height: 24px;
    }
    .cpmi-mail a {
        font-size: 15px;
    }
    .cp-main-info-callback input::placeholder, .cp-main-info-callback textarea::placeholder {
        font-size: 15px;
    }
    #map {
        margin-top: 150px;
    }
    .cpmi-callback-title {
        font-size: 24px;
    }
    .cp-main-info-contacts {
        margin: 0 0 100px;
    }
    .cpmi-phone a {
        font-size: 20px;
        margin-top: 20px;
    }
    .cp-address a, .cpmi-schedule div {
        font-size: 15px;
    }
    .cp-manager-title, .cp-main-info-title {
        font-size: 24px;
        margin: 30px 0 30px;
    }
    .pay-delivery-page h2 {
        font-size: 24px;
        margin: 50px 0;
    }
    .pdp-delivery-logo a {
        margin: 20px;
        max-width: 150px;
    }
    .pdp-delivery-logo {
        justify-content: center;
    }
    .pay-box-item div {
        font-size: 12px;
    }
    .pdp-delivery-text {
        font-size: 14px;
    }
    .pdp-delivery-box h3 {
        font-size: 16px;
    }
    .cp-phone {
        margin: 20px 0 15px;
    }
    .cp-manager-info div:nth-child(2), .cp-phone, .cp-mail {
        font-size: 14px;
    }
    .cp-manager-info div:first-child {
        font-size: 16px;
    }
    .cp-manager-info {
        width: 68%;
        padding: 0 0 0 10px;
    }
    .cp-manager-img {
        max-width: 100%;
        width: 30%;
    }
    .cp-manager-item {
        width: 100%;
        padding: 0 0 30px 0;
    }
    .pp-item {
        width: 50%;
        padding: 5px;
    }
    .plp-item-img h3 {
        margin: 10px;
    }
    .plp-item {
        width: 100%;
    }

    .nlp-item p {
        font-size: 12px;
    }
    .nlp-item {
        width: 50%;
        padding: 0 10px 60px 0;
    }
    .npc-text {
        font-size: 14px;
    }
    .npc-sub-img a {
        width: 25%;
    }
    .pp-more-info-block {
        margin-top: 50px;
    }
    .pp-list, .pp-table, .pp-text {
        margin: 50px 0;
    }
    .pp-other-products {
        margin: 150px auto 0;
    }
    .ppop-slider .plb-item {
        padding: 0;
    }
    .pp-sib-brand-block a {
        margin: 5px 10px 5px 0;
    }
    .pp-sub-info-item span:first-child {
        max-width: 100%;
        width: 30%;
    }
    .ppbb-main {
        display: block;
    }
    .product-page {
        margin: 30px 10px;
    }
    .pp-sib-value {
        margin-left: 20px;
    }
    .pp-sib-name {
        flex: 1;
    }
    .pp-sub-info-block {          
        padding: 30px 15px;
    }
    .pp-price-block {
        margin: 15px 0 30px;
    }
    .pp-price-block div {
        display: block;
        margin: 0;
    }
    .pp-sub-img-block a {
        width: 25%;
    }
    .pp-main-img-block {
        padding: 0;
    }
    .pp-list div {
        margin: 0 0 20px 0;
    }
    .pp-table-item div {
        padding: 0 20px 20px 0;
    }
    .pp-table-item div:last-child {
        padding: 0 0 20px 20px;
    }
    .pp-table-item {
        margin: 0 0 34px 0;
    }
    .pp-table h3, .pp-list h3 {
        font-size: 20px;
    }
    .pp-table h3 span, .pp-list h3 span {
        display: none;
    }
    .pp-buy, .pp-buy-old {
        max-width: 100%;
        margin: 0 0 15px 0;
    }
    .pp-buy, .pp-consul, .pp-buy-old {
        text-align: center;
        padding: 13px 20px;
    }
    .plb-item img {
        position: static;
        width: 100%;
        transform: none;
    }
    .plb-item-img {
        height: auto;
    }
    .main-category-item img {
        max-height: 60px;
        max-width: 60px;
    }
    .rent-page-block .main-category-item img {
        max-height: 100px;
        max-width: 100px;
    }
    .sub-category-block .main-category-item img {
        width: 100%;
        max-width: 150px;
        max-height: 100%;
    }
    .rentlogo {
        height: 32px;
    }
    .ch-logo img {
        max-width: 240px;
    }
    .rpb-fv, .pdp-delivery-photo a, .spb-photo a {
        width: 33%;
        padding: 5px;
    }
    .rpb-2-item {
        padding: 15px 15px;
        margin: 0 10px 20px;
        font-size: 14px;
        width: 100%;
    }
    .rpb-container h3 {
        font-size: 20px;
        padding: 0 10px;
    }
    .rme-block, #rent3 {
        justify-content: start;
    }
    .rme-block div {
        padding: 25px 10px;
        width: 50%;
    }
    .rme-h div p:first-child {
        font-size: 16px;
        margin-top: 20px;
    }
    .rme-h div p:first-child, .rme-h div p:nth-child(2) {
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .rme-h img {
        border: none;
        margin: 0;
        padding: 0;
    }
    .rti-img {
        margin-bottom: 40px;
    }
    .rti-number {
        width: 60px;
        height: 60px;
        font-size: 22px;
        bottom: -30px;
    }
    .rent-teh-item p:nth-child(2) {
        font-size: 15px;
    }
    .rent-teh-item p:nth-child(3) {
        font-size: 12px;
    }
    .rent-teh-item {
        padding: 10px;
    }
    .chb-info-block p {
        font: 700 18px "Roboto", sans-serif;
    }
    .rent-page-block .main-category-item {
        padding: 15px;
    }
    .main-category-item h4 {
        font-size: 14px;
    }
    .rpb-container .main-category-item {
        width: 50%;
    }
    .crumbs-block {
        margin: 30px 10px 0;
    }
    .crumbs-block h1, .ppop-title, .napc-title {
        font-size: 18px;
    }
    .nap-certificate p {
        font-size: 12px;
    }
    .rpb-container {
        padding-top: 100px;
    }
    .chb-more, .chb-order {
        padding: 20px;
        font-size: 15px;
    }
    .chb-more {
        margin: 0 0 10px;
    }
    .chb-button-block {
        display: flex;
        flex-direction: column;
    }
    .chb-info-block {
        top: 50%;
        left: auto;
        width: 100%;
        bottom: auto;
        margin-right: auto;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 10px;
    }
    .chb-header {
        padding: 30px 10px;
    }
    .rme-h {
        flex-wrap: wrap;
    }
    .chb-title {
        font-size: 24px;
    }
    .main-rent-block a, .sub-category-block a {
        width: 50%;
        padding: 30px 5px 15px;
    }
    .basket-return {
        margin: 0;
    }
    .n-modal-basket-button {
        margin: 0 0 10px;
    }
    .nmb-buttons-block {
        margin: 0 20px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .n-modal-item-close {
        top: 30px;
        right: 0;
    }
    .n-modal-item-price div:first-child {
        margin-bottom: 5px;
        font: 700 14px "Roboto", sans-serif;
    }
    .n-modal-item-quantity {
        display: inline-block;
        margin: 20px 0;
    }
    .n-modal-item-name {
        margin: 20px 0;
    }
    .nmin-number {
        margin: 10px 0 5px;
    }
    .n-modal-item {
        display: block;
        padding: 40px 0;
    }
    .n-modal-item-price {
        margin: 0;
    }
    .n-modal-basket-title:before {
        display: block;
    }
    .n-close-modal-basket:before, .n-close-modal-basket:after {
        display: none;
    }
    .n-close-modal-basket {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .n-modal-basket-header {
        background-color: #009FE3;
        color: #fff;
        padding: 20px 0;
        border: none;
    }
    .n-modal-basket-title {
        font-size: 18px;
        text-align: center;
    }
    .n-modal-basket-content {
        margin: 0;
        width: 100%;
    }
    .h-main-menu {
        margin: 0;
    }
    #open-product-cart:after {
        background-position: -131.6px -61.2px;
        width: 19px;
        height: 19px;
    }
    #open-product-cart, .m-account, .m-account-on {
        margin-right: 10px;
        position: absolute;
        left: -60px;
        top: 0;
        margin: 0;
        border: none;
    }
    .m-account, .m-account-on {
        display: none;
        left: -110px;
    }
    .m-account:after, .m-account-on:after {
        width: 12px;
        height: 16px;
        background-position: -244.5px 0;
        top: 10px;
        left: 14px;
    }
    .m-account span, .m-account-on span {
        font-size: 10px;
        color: #666;
        bottom: -2px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    #basket-number {
        width: 20px;
        height: 20px;
        top: 20px;
        right: 0;
    }
    #basket-number span {
        font-size: 10px;
    }
    .catalog-b, #open-product-cart, .m-account, .m-account-on {
        width: 40px;
        height: 40px;
    }
    .catalog-b {
        margin: 0;
        background-color: #fff;
        padding: 0;
    }
    .catalog-b:before {
        margin: 11px 0 0 10px;
        background-position: -153.6px -61.2px;
        width: 20px;
        height: 18px;
    }
    .catalog-b span {
        display: none;
        margin: 0;
    }
    .sort-block div {
        font-size: 12px;
    }
    .special-offer a:nth-child(3) {
        display: none;
    }
    .arrow-back-bl, .arrow-next-bl {
        width: 70px;
    }
    .plb-list {
        margin: 20px 0 20px;
    }
    /* .parts-flex-block a, .parts-flex-block-pr a {
        width: 50%;
    }
    .parts-flex-block a {
        padding: 10px;
    } */
    .seo-block div {
        line-height: 20px;
        font-size: 12px;
    }
    .main-social div, .footer-time {
        margin: 0;
    }
    .main-footer p {
        margin-bottom: 50px;
    }
    .footer-menu {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .title-main-social, .title-footer-info {
        font: 700 14px "Roboto", sans-serif;
    }
    .footer-info-block {
        text-align: left;
        margin: 0 10px;
    }
    .main-social, .footer-info {
        position: relative;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }
    .footer-address, .main-social-hover {
        margin-top: 20px !important;
    }
    .title-main-social:after, .title-footer-info:after {
        position: absolute;
        content: "";
        right: 20px;
        display: inline-block;
        width: 7px;
        height: 7px;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        top: 5px;
    }
    .main-social {
        margin: 50px 0 20px;
    }

    .main-social-hover, .footer-info-hover {
        display: none;
    }
    .title-footer-info, .main-social, .footer-info, .main-social:after, .footer-info:after {
        display: block;
    }
    .h-search-block {
        max-width: 100%;
    }
    
    .catalog-main-menu {
        width: 50%;
    }
    .catalog-submenu {
        padding: 40px 5px;
        font-size: 12px;
        width: 50%;
    }
    .catalog-main-menu h4 {
        font-size: 14px;
        margin: 0 0 10px 5px;
    }
    .catalog-main-menu-item  {
        padding: 10px 20px 10px 40px;
    }
    .catalog-main-menu-item:after {
        right: 10px;
    }
    .catalog-main-menu-item img {
        left: 5px;
    }
    .main-news-item:last-child {
        display: none;
    }
    .main-category-block a {
        width: 50%;
        padding: 30px 5px 15px;
    }
    .main-category-item h3 {
        font-size: 13px;
        margin: 20px 0 15px;
    }
    .main-category-item p {
        font-size: 11px;
        line-height: 14px;
    }
    .main-categories, .main-news {
        padding-top: 30px;
    }
    .title-block h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .title-block p {
        font-size: 14px;
    }
    .main-category-block {
        margin: 20px 5px 0;
    }
    .main-category-but {
        font-size: 12px;
        padding: 10px 15px 10px;
        margin-top: 20px;
    }
    .main-news-item {
        width: 49.2%;
    }
    .main-news-item:nth-child(3) {
        margin: 50px 0 0 1.5%;
    }
    .main-news-item h3 {
        height: auto;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 14px;
        margin: 15px 0;
    }
    .main-news-item p {
        font-size: 12px;
        line-height: 18px;
    }
    .main-news-but {
        margin-top: 20px;
        font-size: 14px;
    }
    .seo-block h1 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .main-footer img {
        width: 250px;
    }
    .main-footer p {
        font-size: 12px;
        line-height: 16px;
    }
    .sort-block, .sort-block-price {
        left: 0;
        right: auto;
    }
    .sort-price {
        display: block;
    }
    .catalog-b:hover {
        background-color: #fff;
    }
}
@media (max-width: 600px) {
    .m-account, .m-account-on {
        display: block;
    }
    
    .n-login-on, .n-login {
        display: none;
    }
    .nps-img img {
        display: none;
    }
    .ppmib-m iframe {
        width: 100%;
    }
    .plb-item h3 {
        font-size: 14px;
        height: auto;
    }
    .product-list-page {
        margin: 20px 10px 0;
    }
    .ncb-send {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }
    .ncb-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 20px 20px 53px;
    }
    .ncb-info-block {
        flex-direction: column;
        align-items: center;
    }
    .ncb-info-block img {
        width: 150px;
    }
    .ncb-right {
        margin: 0;
        text-align: center;
    }
    .ncb-phone {
        margin: 20px 0 10px;
    }
    .flex-header {
        align-items: flex-end;
    }
    .h-logo img {
        max-width: 190px;
    }
    .plb-list a {
        width: 50%;
        padding: 20px 5px;
    }
    .price {
        font-size: 16px;
    }
}
@media (max-width: 380px) {
    .h-logo img {
        max-width: 155px;
    }
    #open-product-cart {
        left: -50px;
    }
    .m-account, .m-account-on {
        left: -95px;
    }
}



