.h-main-menu a, .h-main-menu a:before, .language a, .main-rent-block a, .main-category-block a, .main-category-but, .main-category-but:after, .main-news-but, .footer-menu a, .parts-login, .parts-flex-block a, .parts-product-item, .parts-flex-block-pr a, .range-button, .all-sales-button a, .catalog-b, .catalog-main-menu-item-m a, .basket-return, .n-modal-basket-button, .ncb-right input, .n-consultation-block textarea, .ncb-send, .float-header, .chb-more, .chb-order, .ch-menu a:before, .ch-language a, .ch-menu a, .successful-button-error, .successful-button, .checkbox-list, .filter-category a, .range-filter input, .plb-list a, .main-consultation-button, .sub-category-block a, .pp-buy, .pp-consul, .pp-callback, .pp-sib-brand-block a, .pp-commercial, .cp-main-info-callback input, .cp-main-info-callback textarea, .cpmi-button, .cpmi-button, .n-callback-block input, .n-callback-button, .sft-reset-filter, .selected-filter-block div, .cpmti-arrow, .cpmti-title-block, .home-p-title a, #form-p-send-manager input, #form-p-send-manager textarea, #login-form-user input, .login-in, .button-registration button, #passForm input, #passForm textarea, #formEdit input, #orderForm input, #orderForm textarea, .confirm-delivery button, #form-registration input, .nps-button, .n-modal-item-close, .link-block a, .fbi-turn, .go-top, .ps-button, .pp-buy-old, .subscribe-block button {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.go-top:hover {
    opacity: 1;
}
.successful-button-error:hover {
    background-color: #f9555d;
}
.successful-button:hover, .pp-buy:hover, .pp-consul:hover, .nps-button:hover, .pp-buy-old:hover  {
    background-color: #17c844;
}
.n-modal-item-close:hover {
    background-color: #f5fbff;
}
.pp-callback:hover {
    color: #17c844;
}
.selected-filter-block div:hover, .link-block a:hover {
    background-color: #eaf6fe;
    border-color: #009fe3;
}
.ncb-right input:focus, .n-consultation-block textarea:focus, .cp-main-info-callback input:focus, .cp-main-info-callback textarea:focus, #form-p-send-manager input:focus, #form-p-send-manager textarea:focus, #login-form-user input:focus, #passForm input:focus, #passForm textarea:focus, #formEdit input:focus, #orderForm input:focus, #orderForm textarea:focus, #form-registration input:focus {
	border-bottom: 2px solid #009fe3;
}
.range-filter input:focus {
	border: 2px solid #009fe3;
}
.n-callback-block input:focus {
    border: 1px solid #009fe3;
}
.language a:hover, .footer-menu a:hover, .h-main-menu a:hover, .sublistmenu a:hover, .catalog-main-menu-item-m a:hover, .chb-header2 .ch-menu a:hover, .ch-language a:hover, .ch-menu a:hover, .pp-sib-brand-block a:hover {
    color: #009fe3;
}
.pp-sib-brand-block a:hover {
    border-color: #009fe3;
}
.range-button:hover, .catalog-b:hover, .basket-return:hover, .n-modal-basket-button:hover, .ncb-send:hover, .chb-more:hover, .chb-order:hover, .main-consultation-button:hover, .cpmi-button:hover, .n-callback-button:hover, .sft-reset-filter:hover, .home-p-title a:hover, .login-in:hover, .button-registration button:hover, .confirm-delivery button:hover, .ps-button:hover, .subscribe-block button:hover {
    background-color: #0bbbef;
}
.pp-commercial:hover, #pp-active-brand:hover {
    background-color: #eaf6fe;
}
.main-news-but:hover {
    color: #0bbbef;
}
.basket-return:hover, .pp-consul:hover, .sft-reset-filter:hover {
    color: #fff;
}
.main-viber:hover {
    background-position: -309px -75px;
}
.main-telegram:hover {
    background-position: -266px -65px;
}
.main-facebook:hover {
    background-position: -86px -18.2px;
}
.main-youtube:hover {
    background-position: -129px -18.2px;
}
.main-instagram:hover {
    background-position: -411px 0;
}
.sublistmenu a:hover, .sort-block div:hover, .cb-stroke a:hover, .npc-other-item a:hover, .cp-main-info-contacts a:hover, .cpmti-sub-block a:hover, .cp-manager-info a:hover, .ppop-category:hover, .plb-item h3:hover, .footer-address div:nth-child(2):hover, .footer-tel div:nth-child(2):hover, .footer-mail div:nth-child(2):hover, .main-news-item h3:hover, .account-sub div:hover, .nps-name a:hover, .nmin-title:hover {
    text-decoration: underline;
}
 .h-main-menu a:hover, .sublistmenu a:hover {
     color: #009fe3;
 }
.h-search:hover {
    background-position: -18px 0;
}
.h-main-menu a:hover:before, .ch-menu a:hover:before {
    width: 100%;
}
.main-category-but {
    position: relative;
}
.main-category-but:after {
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background-color: #0bbbef;
}
.main-category-but:hover:after {
    width: 100%;
}
.main-category-but:hover {
    color: #ffff;
    border-color: #0bbbef;
    box-shadow: 0 0 7.2px 0.8px rgba(0,113,186,.25);
}

@media (min-width: 1220px) {
    .main-category-block a:hover, .main-rent-block a:hover, .sub-category-block a:hover {
        box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.1);
    }
    .plb-list a:hover {
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    }
    .checkbox-list:hover, .filter-category a:hover, .cpmti-title-block:hover {
        background-color: #eaf6fe;
    }
}