/* Parts-home*/
.parts-logoff, .close-sidebar {
    display: none;
}
/*.parts-logon {*/
/*display: none;*/
/*}*/
.close-basket-modal,.close-history-modal {
    position: relative;
    float: right;
    cursor: pointer;
    content: "";
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-basket-modal div,.close-history-modal div  {
    position: absolute;
    background-color: #000;
}
.close-basket-modal div:first-child, .close-history-modal div:first-child {
    width: 14px;
    height: 2px;
    top: 6px;
}
.close-basket-modal div:last-child,.close-history-modal div:last-child  {
    width: 2px;
    height: 14px;
    left: 6px;
}
.modal-basket, .modal-history {
    display: none;
    max-height: 568px;
    position: fixed;
    padding: 60px 30px 30px;
    text-align: center;
    top: 100px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 768px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.modal-basket h3,.modal-history h3 {
    font: 700 24px "Roboto", sans-serif;
    margin-bottom: 60px;
}
.modal-basket .parts-category-block,.modal-history .parts-category-block{
    max-height: 302px;
    overflow-y: auto;
}
.modal-basket .parts-category-block,.modal-history .parts-category-block{
    margin: 0;
}
.modal-basket .parts-list-block,.modal-history .parts-list-block{
    margin: 0 auto;
    width: 100%;
}
.mycabinet {
    margin: 30px 50px 0 0;
    height: 30px;
}
.mycabinet span, .mybasket {
    cursor: pointer;
}
.mycabinet, .mybasket, .mycabinet span {
    position: relative;
    display: inline-block;
    font-size: 14px;
}
.mycabinet:before, .mybasket:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 14px;
    height: 19px;
    background: url("../img/parts/mycabinete.svg");
    margin: 0 15px 3px 0;
}
.mycabinet:before {
    width: 14px;
    height: 19px;
    background: url("../img/parts/mycabinete.svg");
}
.mybasket:before {
    width: 20px;
    height: 19px;
    background: url("../img/parts/mybasket.svg");
}
.parts-basket-point {
    position: absolute;
    display: block;
    top: 10px;
    left: 11px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0070ba;
}
.parts-basket-point span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font: 700 9px "Roboto", sans-serif;
}
.parts-account {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    height: 170px;
    width: 100%;
    background: url("../img/parts/parts-login-bg.jpg") center;
}
.parts-account-title {
    font: 700 18px "Roboto", sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.parts-account p {
    font-size: 14px;
    margin: 15px 0 25px;
    color: #808080;
}
.parts-login, .parts-reg {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.parts-login {
    padding: 10px 22px;
    background-color: #0070ba;
    box-shadow: 0 0 7.2px 0.8px rgba(0, 113, 186, 0.25);
    border-radius: 3px;
    color: #fff;
    margin-right: 20px;
}
.parts-reg:hover {
    text-decoration: underline;
}
.parts-login:hover {
    background-color: #009fe3;
}
.parts-search {
    position: relative;
    margin: 80px auto 50px;
    max-width: 550px;
    width: 100%;
}
.parts-search input {
    height: 46px;
    max-width: 550px;
    width: 100%;
    border-radius: 23px !important;
    outline: none;
    border: 2px solid #0070ba;
    padding: 0 20px 0 58px;
}

.parts-search input::-webkit-input-placeholder {
    color: #009fe3;
}
.parts-search input::placeholder {
    color: #009fe3;
}
.parts-search-icon {
    position: absolute;
    top: 14px;
    left: 25px;
    width: 18px;
    height: 18px;
    background: url("../img/parts/parts-search.svg");
}
.parts-title h1, .parts-page-other-product h2 {
    font: 700 18px "Roboto", sans-serif;
    text-align: left;
    text-transform: uppercase;
}

.parts-title {
    margin-top: 50px;
}
.parts-h {
    font-size: 14px;
    margin: 15px 0 25px;
}
.parts-h a, .parts-h span {
    color: #9c9b9b;
}
.active-page {
    color: #0070ba !important;
}
.parts-title-hr {
    height: 1px;
    background-color: #e5e5e5;
    max-width: 531px;
    width: 100%;
}
.parts-category-block, .parts-category-block-p {
    margin: 60px 10px 150px;
    font-size: 0;
}
.parts-category-block .container {
    display: flex;
}
.parts-category-block a, .parts-category-block-p a {
    color: #000;
}
.parts-category-block-h {
    margin: 60px 0 150px;
    font-size: 0;
}
.parts-category-block-h a {
    color: #000;
}
.parts-category {
    position: relative;
    font-size: 0;
}
.parts-category-h2 {
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
    height: 53px;
    background-color: #fafafa;
}
.parts-category h2 {
    position: relative;
    z-index: 2;
    padding-top: 17px;
    margin:0 0 80px 10px;
    text-align: left;
    font-size: 16px;
}
.parts-flex-block, .parts-flex-block-pr {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 50px;
}
.parts-flex-block a, .parts-flex-block-pr a {
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.parts-flex-block a {
    width: 20%;
    padding: 20px;
}
.parts-flex-block-pr a {
    padding: 10px 10px 30px 10px;
    width: 20%;
}
.products-block .parts-flex-block-pr a {
    width: 25%;
}
.parts-category-item:nth-child(4n) {
    margin-right: 0;
}
.parts-category-item img {
    /*max-width: 262px;*/
    /*width: 100%;*/
    display: block;
    margin: 0 auto;
    width: 100%;
}
.parts-category-item a {
    color: #000;
}
.parts-category-item h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    height: 34px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.parts-flex-block-pr .parts-category-item h3 {
    margin: 10px 0 20px;
    font-size: 14px;
}
.parts-seo-text {
    font-size: 12px;
    color: #808080;
    line-height: 19px;
    margin: 0 10px 150px;
}
.desc-reg {
    font-size: 14px;
    text-align: center;
    color: #808080;
    padding: 0 20px;
    line-height: 15px;
}
.registration {
    max-width: 500px;
    width: 100%;
}
.select-reg-title {
    margin: 40px 0 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.select-reg-title div:first-child {
    color: #b2b2b2;
}
.reg-direction-title {
    position: relative;
    margin-top: 15px;
    padding: 10px 40px;
    box-shadow: 0 0 8px 0 rgba(0, 159, 227, 0.2);
    color: #009fe3;
    display: inline-block;
}
.reg-direction-title:before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-top: 1px solid #009fe3;
    border-left: 1px solid #009fe3;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 13px;
    right: 16px;
}
.reg-drop div:last-child {
    border: none;
}
.reg-drop div {
    margin-top: 25px;
    font-size: 13px;
    cursor: pointer;
}
.reg-drop {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    display: none;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 20px 20px;
    width: 300px;
    box-shadow: 0 0 8px 0 rgba(0, 112, 186, 0.40);
}
.reg-drop div:hover {
    text-decoration: underline;
}
.reg-phone {
    text-align: center;
    margin-top: 30px;
    font: 700 20px "Roboto", sans-serif;
}
.reg-phone div:first-child {
    display: block;
}
.reg-phone div {
    display: none;
}
.help-block {
    position: absolute;
    font: 400 12px "Roboto", sans-serif;
    margin-top: 5px;
    right:0;
    color: #d20707;
}
#loginform-rememberme {
    margin-right: 15px;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.login-block, .registration {
    position: fixed;
    display: block;
    opacity: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 4;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.registration {
    height: 320px;
}
.login-block  {
    height: 360px;
}
.login-hover {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.close-login, .close-reg, .close-sidebar {
    position: absolute;
    cursor: pointer;
    width: 14px;
    height: 14px;
    top: 25px;
    right: 25px;
}
.close-login:before, .close-reg:before, .close-sidebar:before {
    position: absolute;
    top: 50%;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-login:after, .close-reg:after, .close-sidebar:after {
    position: absolute;
    left: 50%;
    content: "";
    width: 2px;
    height: 16px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.login-block p, .registration p {
    font: 700 18px "Roboto", sans-serif;
    text-align: center;
}
.login-block p {
    margin: 40px 0 30px;
}
.registration p {
    margin: 50px 0 10px;
}
.field-loginform-username, .field-loginform-password {
    position: relative;
}
.field-loginform-username, .field-loginform-password {
    width: 340px;
    margin: 0 67px;
}
.field-loginform-username {
    margin-bottom: 20px;
}
.inp-email input, .inp-pass input {
    padding: 10px 30px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    width: 100%;
}
.inp-email label, .inp-pass label {
    display: block;
    margin-bottom: 10px;
}
.field-loginform-rememberme {
    display: inline-block;
     margin: 30px 0 0 67px;
    font-size: 14px;
}
.field-loginform-rememberme label {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
#login-form div:nth-child(5) {
    float: right;
    margin: 20px 67px 0 0;
}
.login-in {
    padding: 8px 18px;
    background-color: #009fe3;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
}
.control-label {
    font: 700 14px "Roboto", sans-serif;
    margin-bottom: 10px;
}
.cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.cbx span {
    display: inline-block;
    vertical-align: middle;
}
.svg-point {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    transition: all 0.2s ease;
    background-color: #fff;
}
.svg-point svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}
.svg-point:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #009fe3;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.inp-cbx:checked + .svg-point {
    background: #009fe3;
    border-color: #009fe3;
    animation: wave 0.4s ease;
}
.inp-cbx:checked + .svg-point svg {
    stroke-dashoffset: 0;
}
.inp-cbx:checked + .svg-point:before {
    transform: scale(2.5);
    opacity: 0;
    transition: all 0.6s ease;
}
.inp-cbx {
    display: none;
}
.white-background {
    position: fixed;
    opacity: 0.9;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
}
.cbx span {
    margin-left: 15px;
}

.login-save-inp:checked + .svg-point {
    background: #009fe3;
    border-color: #009fe3;
    animation: wave 0.4s ease;
}
.login-reset-pass:hover {
    text-decoration: underline;
}
.login-in:hover {
    background-color: #2cb9f6;
}
.close-login:hover {
    opacity: 0.6;
}
.login-in, .close-login, .parts-consultation-button, .button-parts, .parts-page-shop, .parts-other-product div, .button-checkout {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.login-in {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.mycabinet span:hover, .mybasket:hover {
    text-decoration: underline;
}
/* END parts-home*/
/* parts-list*/

.parts-sidebar {
    display: inline-block;
    width: 290px;
    margin: 0 20px 0 10px;
}
.parts-list-block {
    display: inline-block;
    vertical-align: top;
    width: 72.5%;
    margin-right: 10px;
}
.parts-list-block tr {
    cursor: pointer;
}
.sidebar-category {
    margin-bottom: 50px;
}
.sidebar-category h2 {
    text-transform: none;
    font-size: 16px;
    text-align: left;
}
.sidebar-category h2:hover {
    color: #0070ba;
}
.sidebar-category-list div {
    margin: 20px 0 0 15px;
    font-size: 14px;
}
.sidebar-category-list div:hover {
    text-decoration: underline;
}
.sidebar-category-list div:before {
    display: inline-block;
    margin: 0 9px 2px 0;
    width: 6px;
    height: 6px;
    content: "";
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.sidebar-active {
    color: #0070ba;
}
.parts-consultation {
    margin-top: 100px;
}
.parts-consultation-title {
    text-transform: uppercase;
    font: 700 18px "Roboto", sans-serif;
}
.parts-consultation-title:before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 13px;
    margin-right: 10px;
    background: url("../img/parts/parts-managers.svg");
}
.parts-consultation p {
    font-size: 14px;
    color: #808080;
    margin: 8px 0 20px;
}
.parts-consultation-button {
    cursor: pointer;
    display: inline-block;
    background-color: #0070ba;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 0 7.2px 0.8px rgba(0, 113, 186, 0.25);
}
.parts-consultation-button:hover {
    background-color: #009fe3;
}
.parts-product-img {
    padding-right: 15px;
}
.parts-product-code, .parts-product-manufac, .parts-product-quantity, .parts-product-name,
.parts-product-price, .close-basket {
    font-size: 12px;
    padding: 0 10px;
    height: 50px;
    word-break: break-all;
    vertical-align: middle;
}
.parts-product-name {
    word-break: normal;
    line-height: 20px;
}
.close-basket {
    position: relative;
    cursor: pointer;
}
.close-basket div {
    position: absolute;
    top: 36%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-basket div:after, .close-basket div:before {
    position: absolute;
    display: block;
    content: "";
    background-color: #000;
}
.close-basket div:after {
    width: 2px;
    height: 10px;
    margin-left: 4px;
}
.close-basket div:before {
    width: 10px;
    margin-top: 4px;
    height: 2px;
}
.parts-product-code, .parts-product-manufac, .parts-product-quantity, .parts-product-name {
    border-right: 1px solid #d9d9d9;
}
.parts-product-code {
    word-break: inherit;
}
.parts-product-img, .parts-product-img img {
    width: 50px;
    height: 50px;
}
.parts-product-status, .parts-product-date, .parts-product-status-d {
    font: 700 14px "Roboto", sans-serif;
    color: #1cc301;
}
.parts-product-date {
    color: #000;
    margin-right: 50px;
}
.parts-product-status-d {
    color: #da0000;
}
.parts-list-product, .parts-list-product-basket {
    width: 100%;
    text-align: center;
}
.list-block-sort, .list-block-history, .list-block-basket {
    border: none !important;
}
.parts-list-product tr, .parts-list-product-basket tr {
    border-bottom: 1px solid #d2d2d2;
}
.parts-list-product-basket td {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list-block-sort td, .list-block-history td, .list-block-basket td{
    padding-bottom: 25px;
    cursor: pointer;
}
.list-block-sort td {
    position: relative;
    padding:0 15px 25px 10px;
}
.list-block-history {
    color: #808080;
}
.parts-list-code:after, .parts-list-manufac:after, .parts-list-quantity:after, .parts-list-name:after, .parts-list-price:after {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 0;
    width: 6px;
    height: 6px;
    content: "";
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.list-block-sort, .list-block-history {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}
.list-block-basket td{
    font-size: 12px;
    text-align: left;
    padding: 0 10px 25px;
}
.parts-product-item {
    cursor: pointer;
    display: inline-block;
    width: 33.3%;
    margin: 0;
    font-size: 0;
    padding: 2%;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.parts-product-item:nth-child(3n) {
    border-right: none;
}
.parts-product-item img {
    width: 100%;
}
.parts-product-item-name {
    margin: 25px 0;
    font-size: 14px;
    line-height: 20px;
}
.parts-product-item-price {
    font: 700 16px "Roboto", sans-serif;
}
/* END parts-list*/
/* Parts-page*/
.parts-page-other-product {
    margin-top: 100px;
}
.parts-page-other-product h2 {
    margin-bottom: 20px;
}
.parts-page-img img, .parts-page-img {
    display: inline-block;
    max-width: 500px;
    width: 100%;
}
.parts-page-right {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 50px 0 0 150px;
}
.parts-page-right-name, .parts-page-right-value {
    display: inline-block;
}
.parts-page-right-name, .parts-product-description span {
    color: #808080;
}
.parts-product-description p {
    line-height: 22px;
    margin: 15px 0 70px;
}
.parts-page-right-name div, .parts-page-right-value div {
    margin-bottom: 30px;
}
.parts-page-right-value {
    margin-left: 25px;
}
.parts-page-shop {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background-color: #13a538;
    color: #fff;
    padding: 10px 20px 10px 44px;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(19, 165, 56, 0.25);
    margin-left: 30px;
}
.parts-page-shop:hover, .button-checkout:hover {
    background-color: #12be3e;
}
.parts-page-shop:before {
    position: absolute;
    top: 9px;
    left: 20px;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/parts/parts-shop.svg") no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.parts-other-product {
    margin-top: 50px;
}
.parts-other-product img {
    max-width: 253px;
    width: 100%;
}
.parts-other-product div {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    width: 23.58%;
    padding: 15px 15px 20px;
    margin-right: 1.4%;
}
.parts-other-product h3 {
    font-size: 16px;
}
.parts-other-product div:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.parts-accaunt-sub {
    display: none;
    position: absolute;
    top: 30px;
    text-align: left;
    min-width: 160px;
    padding: 28px 20px 0;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.parts-accaunt-sub div {
    cursor: pointer;
    margin-bottom: 20px;
}
.parts-accaunt-sub div:hover {
    text-decoration: underline;
}
.button-checkout {
    display: inline-block;
    margin-top: 50px;
    float: right;
    background-color: #13a538;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(19, 165, 56, 0.25);
    cursor: pointer;
}
.button-checkout a {
    color: #fff;
}
.basket-del, .basket-add {
    display: inline-block;
    width: 60px;
    height: 14px;
}
.basket-add:before, .basket-del:before {
    display: inline-block;
    width: 7px;
    height: 7px;
    content: "";
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}
.basket-add:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.basket-del:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.basket-availability {
    margin-top: 5px;
    font-size: 11px;
    color: #808080;
}
.quantity-num {
    height: 20px;
    width: 30px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    text-align: center;
}
.parts-product-block-status {
    text-align: left;
    margin-bottom: 40px;
}
.parts-product-block-status div {
    display: inline-block;
}
.parts-history-block {
    margin-bottom: 60px;
}
.parts-product-block-status span:nth-child(1), .parts-product-block-status span:nth-child(3) {
    font-size: 12px;
    color: #808080;
    margin-right: 3px;
}
.parts-product-number {
    color: #808080;
    height: 30px;
    border: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}
.sum-price {
    font: 700 14px "Roboto", sans-serif;
    text-align: right;
    margin-top: 20px;
}
.parts-list-product a {
    position: relative;
    display: block;
    height: 50px;
}
.parts-list-product a div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inp-email, .inp-pass {
    position: relative;
}
.message-email, .message-pass {
    display: none;
    position: absolute;
    top: -15px;
    font-size: 12px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.parts-product-quantity {
    position: relative;
    width: 158px;
    padding: 0;
}
.icon-sidebar{
    display: none;
}
.icon-sidebar div {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 14px;
    background: url("../img/parts/parts-burger.svg");
    margin-right: 15px;
}
.icon-sidebar span {
    font: 700 14px "Roboto", sans-serif;
    vertical-align: middle;
}
.icon-sidebar {
    margin-bottom: 60px;
}
.parts-product-button {
    position: relative;
    width: 41px;
}
.button-parts {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button-parts {
    cursor: pointer;
    display: block;
    width: 41px;
    height: 28px;
    background-color: #13a538;
    border-radius: 5px;
}
.button-parts:hover {
    background-color: #12be3e;
}
.button-parts img {
    float: right;
    padding: 7px 14px 0 0;
}
.manufacturer-block div {
    display: inline-block;
    margin: 0 15px 0 0;
    cursor: pointer;
}
.active-manufac {
    background-color: #0070ba;
    padding: 5px 10px;
    border-radius: 3px;
}
.active-manufac a {
    color: #fff;
}
/* END parts-page*/
/*CheckOut*/
.title span {
    display: inline-block;
    font: 700 18px "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.checkout-form {
    text-align: left;
    margin: 0 auto;
}
.delivery-form {
    text-align:center;
    max-width: 1000px;
    width: 100%;
    margin: 80px auto 120px;
}
.btn {
    float: right;
    background-color: #0071ba;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}
.btn:hover, .result-block a:hover {
    background-color: #009fe3;
}
.form-group, #newPost, .city-wrapper {
    margin-bottom: 20px;
}
.select2-container--krajee .select2-selection__clear {
    top: 0.2rem !important;
    cursor: pointer;
}
.result-block {
    max-width: 500px;
    width: 100%;
    margin: 130px auto;
    text-align: center;
}
.result-title {
    font: 700 20px "Roboto", sans-serif;
}
.result-block h3 {
    font-size: 16px;
    margin: 20px 0;
    color: #808080;
}
.result-block a {
    cursor: pointer;
    display: inline-block;
    background-color: #0070ba;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 0 7.2px 0.8px rgba(0, 113, 186, 0.25);
    margin-top: 20px;
}
.result-block img {
    width: 60px;
    margin-bottom: 20px;
}
/*MEDIA*/
@media (max-width: 1123px) {
    .parts-other-product h3 {
        word-break: normal;
        font-size: 14px;
        line-height: 20px;
    }
    .parts-category-block-p {
        text-align: center;
    }
    .parts-page-img {
        width: 45%;
    }
    .parts-page-right {
        margin-left: 5%;
        text-align: left;
    }
    .close-sidebar {
        display: block;
    }
    .parts-category-block .container {
        display: block;
    }
    .parts-list-product-basket {
        font-size: 12px;
    }
    .parts-list-block {
        width: 100%;
        margin: 0;
    }
    .icon-sidebar {
        display: inline-block;
    }
    .parts-sidebar {
        padding: 70px 0 0 20px;
        display: none;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
        background-color: #fff;
        height: 100%;
        overflow: auto;
        z-index: 10;
    }
    .parts-account p {
        line-height: 20px;
    }
}
@media (max-width: 767px) {
    .modal-basket {
        left:0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .field-loginform-rememberme {
        margin: 28px 0 0 20px;
    }
    #login-form div:nth-child(5) {
        margin: 0;
    }
    .parts-product-item {
        width: 50%;
    }
    .parts-product-item:nth-child(3n) {
        border-right: 1px solid #f2f2f2;
    }
    .parts-product-item:nth-child(2n) {
        border-right: none;
    }
    .modal-basket h3 {
        font-size: 18px;
    }
    .parts-page-other-product h2 {
        font-size: 16px;
    }
    .parts-page-shop {
        margin-left: 20px;
    }
    .parts-page-right {
        margin: 20px 0 0 0;
    }
    .parts-page-img {
        width: 100%;
    }
    .basket-del, .basket-add {
        width: 25px;
    }
    .list-block-basket td{
        text-align: center;
    }
    .parts-account-title {
        font-size: 16px;
    }
    .parts-account p {
        font-size: 12px;
        margin: 15px 0 20px;
    }
    .parts-account {
        padding: 20px 0;
    }
    .parts-search {
        margin: 50px auto 50px;
        padding: 0 10px;
    }
    .parts-search input {
        font-size: 12px;
        padding: 0 20px 0 45px;
    }
    .parts-title h1 {
        font-size: 16px;
    }
    .parts-h {
        font-size: 12px;
    }
    .login-block, .registration {
        width: 310px;
    }
    .field-loginform-username, .field-loginform-password {
        width: auto;
        margin: 0 20px 30px;
    }
    .login-in {
        margin: 20px 20px 0 0;
        float: right;
    }
    
    .parts-product-block-status div:nth-child(2) {
        margin-top: 10px;
    }
    .parts-product-number {
        text-align: left;
    }
    .parts-history-block .parts-product-name {
        text-align: left;
    }
    .parts-product-number td {
        padding-left: 10px;
    }
    .parts-category-item:nth-child(4n) {
        margin-right: 1.6%;
    }
    .parts-category-item:nth-child(2n) {
        margin-right: 0;
    }
    .parts-category h2 {
        font-size: 14px;
    }
    .parts-category-h2 {
        width: 60%;
    }
    .parts-seo-text {
        font-size: 10px;
        line-height: 15px;
    }
    .mycabinet, .mybasket {
        font-size: 12px;
    }
    .mycabinet {
        margin-right: 30px;
    }
}

@media (max-width: 500px) {
    .modal-basket {
        padding: 60px 10px 30px;
    }
    .parts-product-img, .list-block-basket td:first-child {
        display: none;
    }
    .parts-product-quantity {
        width: 110px;
    }
    .parts-category-h2 {
        width: 90%;
    }
    .parts-product-item-price {
        font-size: 14px;
    }
    .parts-product-name {
        word-break: break-all;
    }
    .modal-basket .parts-product-name {
        text-align: left;
    }
}
@media (max-width: 370px) {
    .parts-product-date {
        margin: 0;
    }
    
}