/* fira-sans-condensed-300 - latin_cyrillic */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/fira-sans-condensed-v4-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed Light'), local('FiraSansCondensed-Light'),
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-300.svg#FiraSansCondensed') format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-regular - latin_cyrillic */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fira-sans-condensed-v4-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'),
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-regular.svg#FiraSansCondensed') format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-500 - latin_cyrillic */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/fira-sans-condensed-v4-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'),
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-500.svg#FiraSansCondensed') format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-600 - latin_cyrillic */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/fira-sans-condensed-v4-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed SemiBold'), local('FiraSansCondensed-SemiBold'),
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-600.svg#FiraSansCondensed') format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-700 - latin */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/fira-sans-condensed-v4-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed Bold'), local('FiraSansCondensed-Bold'),
    url('../fonts/fira-sans-condensed-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans-condensed-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans-condensed-v4-latin-700.svg#FiraSansCondensed') format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-800 - latin */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/fira-sans-condensed-v4-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed ExtraBold'), local('FiraSansCondensed-ExtraBold'),
    url('../fonts/fira-sans-condensed-v4-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans-condensed-v4-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans-condensed-v4-latin-800.svg#FiraSansCondensed') format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-900 - latin_cyrillic */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fira-sans-condensed-v4-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed Black'), local('FiraSansCondensed-Black'),
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans-condensed-v4-latin_cyrillic-900.svg#FiraSansCondensed') format('svg'); /* Legacy iOS */
}
/*Common style*/
body a {
    text-decoration: none;
    color: #000;
}
body {
    font: 400 16px "Fira Sans Condensed", sans-serif;
}
.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.main-page-block, #products-block, #contacts-block {
    margin: 0 10px;
}
.kkal-block, .right-arrow, .left-arrow {
    z-index: 1;
}
.background {
    z-index: 2;
}
.consultation {
    z-index: 3;
}
.img-hover, .background, .consultation {
    display: none;
}
.right-arrow div:after, .right-arrow div:before, .left-arrow div:after, .left-arrow div:before, .instagram, .location:before {
    display: block;
}
.main-page-logo, .products-menu:before, .contacts-menu:before, .company-menu:before, .order-button, #products-block h2:after, .products-block-tabs div, .kkal-block, .products-main-info div, .products-item-button, .photo-gallery-slider-item, .contacts-block h2, .number a, .callback, .contacts-block, .map, .products-item, .number a:before, .email:before, .location p {
    display: inline-block;
}
.products-item {
    vertical-align: top;
}
.products-menu:before, .contacts-menu:before, .company-menu:before, #products-block h2:after {
    vertical-align: bottom;
}
.email:before, .location:before {
    vertical-align: middle;
}
.main-page-h1-block, #products-block h2, .products-block-tabs, .kkal-block, .products-main-info, .footer-block {
    text-align: center;
}
.main-page-h1-block p, .products-item {
    text-align: right;
}
.products-item h3, .products-consist div:last-child {
    text-align: left;
}
.products-menu:before, .contacts-menu:before, .company-menu:before, #products-block h2:after, .instagram, .number a:before, .email:before, .location:before, .close-pop-up {
    background: url("../img/sprite.svg") no-repeat;
}
.products-menu:before, .contacts-menu:before, .company-menu:before, #products-block h2:after, .right-arrow div:after, .right-arrow div:before, .left-arrow div:after, .left-arrow div:before, .number a:before, .email:before, .location:before {
    content: "";
}
.order-button, .products-block-tabs div, .products-item-button, .right-arrow, .left-arrow, .callback, .products-item, .email, .location, .close-pop-up {
    cursor: pointer;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.9;
}
.consultation {
    position: fixed;
    max-width: 450px;
    width: 100%;
    padding: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.09);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    top: 200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-radius: 5px;
}
.close-pop-up {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-position: -75px -31px;
}
.products-item, .order-button, .main-page-menu a, .products-item-button, .instagram, .callback {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
/*END Common style*/
.products-menu:before {
    width: 14px;
    height: 10px;
    background-position: 0 0;
    margin: 0 12px 7px 0;
}
.contacts-menu:before {
    width: 19px;
    height: 15px;
    background-position: -17px 0;
    margin: 0 12px 5px 0;
}
.company-menu:before {
    width: 15px;
    height: 17px;
    background-position: -39px 0;
    margin: 0 12px 5px 0;
}
.main-page-menu {
    float: right;
    margin-top: 59px;
    font-size: 0;
}
.main-page-menu a {
    color: #afca0b;
    margin-right: 50px;
    font: 600 22px "Fira Sans Condensed", sans-serif;
}
.main-page {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/sow-grow-fon.jpg) no-repeat center;
    background-size: cover;
    padding-top: 40px;
}
.main-page-h1-block {
    position: absolute;
    max-width: 644px;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    clear: both;
}
.main-page-h1-block h1 {
    font: 900 55px "Fira Sans Condensed", sans-serif;
}
.main-page-h1-block p {
    color: #afca0b;
    font: 900 30px "Fira Sans Condensed", sans-serif;
}
.h1-block-desc {
    font: 300 24px "Fira Sans Condensed", sans-serif;
    margin: 35px 0;
}
.order-button {
    font-size: 20px;
    box-shadow: 0 0 13.5px 1.5px rgba(149, 193, 31, 0.5);
    padding: 9px 32px;
    background-color: #afca0b;
    color: #fff;
    border-radius: 5px;
}
#products-block {
    padding: 100px 0;
}
#products-block h2 {
    font: 900 36px "Fira Sans Condensed", sans-serif;
    text-transform: uppercase;
}
#products-block h2:after {
    width: 41px;
    height: 43px;
    background-position: 0 -20px;
    margin-left: 22px;
}
.products-block-tabs {
    margin: 70px 0 40px;
}
.active-tabs {
    border-bottom: 3px solid #afca0b;
}
.products-block-tabs div {
    font: 600 24px "Fira Sans Condensed", sans-serif;
    padding-bottom: 5px;
}
.products-item {
    position: relative;
    width: 24.6875%;
    padding-bottom: 35px;
    margin-bottom: 15px;
}
.img-products-block img {
    width: 100%;
}
.kkal-block {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #afca0b;
    font-size: 18px;
    border-radius: 0 0 100%;
    padding: 10px 30px 23px 10px;
}
.img-products-block {
    position: relative;
}
.products-main-info {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    width: 100%;
}
.products-main-info div {
    margin: 0 20px;
}
.products-main-info div p {
    color: #808080;
    font: 300 17px "Fira Sans Condensed", sans-serif;
}
.products-main-info div p:last-child {
    color: #afca0b;
    font: 900 18px "Fira Sans Condensed", sans-serif;
    margin-top: 5px;
}
.products-item h3 {
    font: 600 22px "Fira Sans Condensed", sans-serif;
    margin: 25px 20px;
}
.consist-title {
    font: 600 18px "Fira Sans Condensed", sans-serif;
    color: #999999;
    float: left;
    margin:0 20px;
}
.products-consist div:last-child {
    overflow: hidden;
    font: 300 18px "Fira Sans Condensed", sans-serif;
    margin: 0;
}
.products-item-button {
    margin: 30px 20px 0 0;
    color: #afca0b;
    font: 500 18px "Fira Sans Condensed", sans-serif;
    border-bottom: 2px solid #afca0b;
}
.photo-gallery-slider-item {
    position: relative;
    height: 358px;
    overflow: hidden;
    margin-right: 36px;
}
.photo-gallery-slider-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
}
.photo-gallery-slider {
    position: relative;
    font-size: 0;
}
.right-arrow, .left-arrow {
    position: absolute;
    background-color: #afca0b;
    width: 50px;
    height: 100px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.right-arrow {
    right: 0;
    border-radius: 50px 0 0 50px;
}
.left-arrow {
    left: 0;
    border-radius: 0 50px 50px 0;
}
.right-arrow div:after, .right-arrow div:before, .left-arrow div:after, .left-arrow div:before {
    background-color: #fff;
}
.right-arrow div:after, .left-arrow div:after {
    width: 28px;
    height: 3px;
}
.right-arrow div:before, .left-arrow div:before {
    width: 3px;
    height: 25px;
}
.right-arrow div {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    margin: 30px 10px 0 0;
}
.left-arrow div {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 40px 0 0 10px;
}
#contacts-block {
    padding-top: 150px;
}
.contacts-block h2 {
    font: 900 30px "Fira Sans Condensed", sans-serif;
    padding-bottom: 2px;
    border-bottom: 3px solid #afca0b;
    text-transform: uppercase;
}
.number {
    font: 600 24px "Fira Sans Condensed", sans-serif;
    margin-top: 50px;
}
.callback {
    font: 400 18px "Fira Sans Condensed", sans-serif;
    color: #afca0b;
    text-decoration: underline;
    margin-left: 60px;
}
.email {
    margin: 25px 0;
}
.email, .location {
    font: 400 24px "Fira Sans Condensed", sans-serif;
}
.about-us h2 {
    margin: 100px 0 50px 0;
}
.about-us p {
    font: 300 16px "Fira Sans Condensed", sans-serif;
    line-height: 20px;
}
.contacts-block {
    margin-right: 5%;
}
.contacts-block, .map {
    width: 47%;
}
.footer-block {
    margin: 200px 0 100px;
}
.footer-block img {
    width: 321px;
}
.social {
    margin: 80px 0;
}
.instagram {
    width: 45px;
    height: 45px;
    background-position: -115px 0;
    margin: 0 auto;
}
.footer-menu a {
    font: 400 22px "Fira Sans Condensed", sans-serif;
    color: #afca0b;
}
.footer-menu a:nth-child(2) {
    margin: 0 48px;
}
.footer-menu {
    margin-bottom: 100px;
}
.products-list {
    font-size: 0;
}
.number a:before, .email:before, .location:before {
    margin-right: 20px;
}
.number a:before {
    width: 28px;
    height: 28px;
    background-position: -44px -25px;
}
.email:before {
    width: 27px;
    height: 22px;
    background-position: -57px 0;
}
.location:before {
    float: left;
    width: 25px;
    height: 28px;
    background-position: -87px 0;
}
.corp {
    font: 400 16px "Fira Sans Condensed", sans-serif;
    color: #808080;
}
.location p {
    overflow: hidden;
    display: block;
}