@media (max-width:1355px) {
	.text-slider {
		width: auto;
	}
}
@media (min-width:1200px) {
	.filter-slider {
		padding-right: 10px;
	}
}
@media (max-width:1600px) {
	.products-next {
	right: 10px;
    }
	.products-prev {
		left: 10px;
	}
	.category-production {
		max-width: 1208px;
		margin: 80px auto;
	}
	.category {
		margin: 0;
	}
}
/*---------------1024-1200------------------*/
@media (max-width:1200px) {
	.filter-next {
		margin-right: 10px;
	}
	.filter-prev {
		margin-left: 10px;
	}
	.copyright {
		margin: 100px 0px 20px 20px;
	}
	.social {
		margin: 100px 20px 0px 0px;
	}
	.slider-img {
		max-width: 483px;
	}
	.text-slider {
		margin: 90px 10px 0px 0px;
	}
	.text-slider h3 {
		width: 400px;
	}
	.filter-category {
		margin: 10px 5px;
	}
	.proposition4 {
		display: block;
		margin: 60px auto 0px;
	}
	.proposition3 {
		margin-right: 0px;
	}
	.equipment-left {
		margin: 150px 0px 0px 20px;
	}
	.equipment-right {
		margin: 100px 20px 0px 0px;
	}
	.news h2 {
		margin-left: 20px;
	}
	.all-news {
		margin-right: 20px;
	}
	.block-news {
		margin: 60px auto 0px;
    	max-width: 770px;
		width: 100%;
	}
	.new:last-child {
		margin-top: 46px;
		text-align: left;
	}
	.new:nth-child(2) {
		margin-right: 0px;
	}
	.about-us-text {
		display: block;
		margin: 0 auto;
	}
	.about-us-video {
		position: relative;
		transform: none;
		margin: 60px auto 0px;
		max-width: 560px;
		width: 100%;
		right: 10px;
	}
	.category-production {
		max-width: 908px;
	}
}
/*---------------END 1024-1200------------------*/
/*---------------768-1023------------------*/
@media (max-width: 1023px) {
	.text-slider {
		text-align: left;
		float: none;
		margin: 20px 0px 0px 20px;
	}
	.slider form {
		margin: 20px 0px 0px;
	}
	.slider-novelty {
		margin-bottom: 250px;
	}
	.slider-img {
		margin: 0 10px;
	}
	.text-slider h3 {
		width: auto;
	}
	.slider-novelty {
		text-align: center;
	}
	.filter-button:last-child {
		margin-top: 20px;
	}
	.p-filter {
		margin: 10px 0px 0px 10px !important;
	}
	.proposition4 {
		display: inline-block;
	}
	.proposition2 {
		margin-right: 0;
	}
	.proposition3 {
		margin-right: 60px;
	}
	.stats1, .stats3 {
		float: none;
		margin: 40px 0px 0px;
	}
	.stats2 {
		margin: 40px;
	}
	.new {
		margin-right: 26px;
	}
	.new:nth-child(1), .new:nth-child(3) {
		margin-left: 10px;
	}
	.right-box, .menu {
		display: none;
	}
	.open-menu {
		display: inline-block;
	}
	.firstpage h1 {
		padding: 0 10px;
	}
	.category-production {
		text-align: center;
	}
}
/*---------------END 768-1023------------------*/
/*---------------300-767------------------*/
@media (max-width:767px) {
	.head-1 img,  .head-2 img{
		margin: 35px 0px 0px 20px;
    	width: 170px;
	}
	.h-slider {
		right: 90px;
		font-size: 16px;
		margin-top: 5px;
	}
	.slider-img {
		margin: 0;
		max-width: 280px;
	}
	.text-slider h3 {
		font-size: 18px;
	}
	.text-slider p {
		font-size: 14px;
	}
	.texture, .video-responsive {
		height: 700px
	}
	.scroll {
		bottom: 80px;
	}
	.filter-home h2, .proposition h2 {
		font-size: 18px;
		margin: 0 10px 40px;
	}
	.slider-novelty {
		margin-bottom: 150px;
	}
	.filter-prev, .filter-next {
		margin-top: 160px;
	}
	.filter-home p {
		margin-left: 10px;
	}
	.filter-button:nth-child(3), .filter-button:nth-child(4) {
		margin-top: 20px;
	}
	/*--------------------------------------------------------------*/
	.proposition1, .proposition2, .proposition3, .proposition4  {
		margin: 0 5px 50px;
		width: 62px;
		display: inline-block;
	}
	.select-proposition {
		margin: 0 auto;
    	width: 300px;
    	position: relative;
	}
	.select-proposition h3 {
		left: 50%;
    	margin-right: -50%;
    	transform: translate(-50%, -50%);
		position: absolute;
		font-size: 14px;
		margin-top: 0px;
	}
	.proposition2 h3, .proposition3 h3, .proposition4 h3 {
		display: none;
	}
	.select-proposition img {
		height: 36px;
		margin-bottom: 25px;
	}
	.text-proposition {
		font-size: 13px;
	}
	.line-proposition {
		display: none;
	}
	.proposition {
		margin-bottom: 280px;
	}
	.equipments {
		-webkit-background-size: cover;
    	-moz-background-size: cover;
   		-o-background-size: cover;
    	background-size: cover;
		height: 1050px;
	}
	.equipments h2 {
		font-size: 18px;
		padding: 100px 0px 40px;
	}
	.equipments p {
		font-size: 13px;
		margin-left: 10px;
	}
	.equipment-left {
		margin: 30px 0px 0px 10px;
		text-align: left;
	}
	.equip-tab1, .equip-tab2, .equip-tab3, .equip-tab4 {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.characteristic div {
		display: block;
		font-size: 14px;
		margin: 0 0 20px 0;
	}
	.characteristic {
		text-align: center;
	}
	.characteristic img {
		float: none;
		margin-bottom: 10px;
	}
	.equipment-right {
		float: none;
		max-width: 300px;
		margin: 30px 0 0 0;
	}
	.characteristics1, .characteristics2, .characteristics3, .characteristics4 {
		left: 50%;
    	margin-right: -50%;
    	transform: translate(-50%);
	}
	.equipment-stats {
		padding: 50px 0;
		height: auto;
	}
	.stats1, .stats2, .stats3 {
		margin: 0 auto;
		display: block;
	}
	.stats1, .stats2 {
		margin-bottom: 50px
	}
	.stats-number1, .stats-number2, .stats-number3 {
		font-size: 50px;
	}
	.stats1 p, .stats2 p, .stats3 p {
		font-size: 14px;
		margin-top: 10px;
	}
	.news h2 {
		font-size: 18px;
		margin-left: 10px;
	}
	.all-news {
		margin-right: 10px;
		margin-top: 2px;
	}
	.block-news {
		text-align: center;
		max-width: none;
	}
	.new {
		margin: 0 0 50px;
		width: 100%;
	}
	.new img {
		max-width: none;
	}
	.new:nth-child(1), .new:nth-child(3) {
		margin: 0 0 50px;
	}
	.new p, .new h3 {
		padding: 0 10px;
	}
	.new h3 {
		font-size: 16px;
	}
	.button-news {
		margin: 30px 0 0 10px;
	}
	.about-us-text h2 {
		font-size: 18px;
		margin-left: 10px;
	}
	.about-us-text p {
		margin: 30px 0 0 10px;
	}
	.logo-footer {
		width: 250px;
	}
	.copyright {
		font-size: 12px;
	}
	.facebook {
		margin: 0;
	}
	.menu-footer li {
		margin: 17px 17px 0;
	}
	.production h2, .best-selling h2 {
		max-width: 250px;
		font: 400 18px "Open Sans", sans-serif;
	}
	.production p, .best-selling p {
		font: 400 14px "Open Sans", sans-serif;
	}
	.category-production {
		margin: 30px auto;
	}
	.best-selling .square {
		vertical-align: middle;
	}
	.best-selling h2 {
		vertical-align: middle;
	}
	.category  {
		max-width: 280px;
	}
}
/*---------------END 300-767------------------*/
@media (max-width:560px) {
	.about-us-video {
		position: relative;
    	overflow: hidden;
    	padding-top: 56.25%;
		height: auto;
		width: auto;
		right: 0;
	}
	.about-us-video iframe{
		position: absolute;
   	 	top: 0;
   	 	left: 0;
    	width: 100%;
    	height: 100%;
    	border: 0;
	}
}
@media (max-width:454px) {
	.filter-prev, .filter-next {
		margin-top: 180px;
	}
}
@media (max-width:440px) {
	.firstpage h1 {
		font-size: 18px;
	}
	.scroll {
		left: 48%;
	}
	.firstpage img {
		width: 85%;
		margin-top: 60px;
	}
}
@media (max-width:374px) {
	.video-responsive, .texture {
		height: 600px;
	}
}
@media (max-width:330px) {
	.social {
		float: none;
		margin: 100px 0 0 0;
		text-align: center;
	}
	.copyright {
		margin:  100px 0px 20px 10px;
	}
}