.download_button, .button_text, .facebook, .twitter, .youtube {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.download_button:hover {
	background-color: #fff;
}
.button_text:hover {
	color: #000;
}