/*----------------------SCROLL--------------------------------*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.circle {
	animation-duration: 2s;
	animation-iteration-count:infinite;
}
/*-----------------------END SCROLL--------------------------------*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*-----------------------Fade UP--------------------------------*/
/*-----------------------END FADE UP--------------------------------*/
/*CHEKBOX*/
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
/*END CHEKBOX*/
/*head-1*/
.drop-language a, #active-language a, .arrow-click, .search, .menu a,
.next:hover, .prev:hover, .facebook, .twitter, .youtube,
.menu-footer a, .button-news, .all-news, .language-now, .video-product, .product-menu, .instagram {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.slider button, .filter-home-button, .filter-hover, .category, .button-order, .product, .reset, .apply, .main-category,
.pr-page-consul, .compatibility div, .close-consultation, .consultation-container textarea, .consultation-container input, .send,
.left-contacts input, .left-contacts textarea, .left-contacts button, .menu-direct-acrive, .share-facebook, .share-twitter, .media-content div,
.button-404{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.arrow-click {
	border-top: 1px solid #009fe3;
	border-left: 1px solid #009fe3;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.language-now-click {
	color: #009fe3;
}
.drop-language a:hover, #active-language a:hover {
	color: #83d0f5;
} 
.search:hover {
	background: url(../img/search_blue.svg);
}
.menu a:hover, .menu-footer a:hover, .product-menu:hover {
	color: #009fe3;
}
@media (min-width:1199px){
	.language-now:hover {
		color: #009fe3;
	}
	.category:hover {
		box-shadow: 0px 1px 9.9px 0.1px rgba(0, 0, 0, 0.15);
	}
	.media-content div:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	}
}
/* END Head-1*/
/* SLIDER*/
.slider button:hover, .left-contacts button:hover {
	background-color: #009fe3;
	color: #fff;
}
.next:hover, .prev:hover {
	border-top: 1px solid #000;
    border-left: 1px solid #000;
}
/* END Sliader*/
/* Filter home */
.filter-home-button:hover {
	background-color: #0071ba;
}
/* END Filter home */
.all-news:hover {
	color: #009fe3;
}
.product h3:hover, .menu-list li:hover, .tags div:hover, .files-block div:hover, .event-item span:hover, .item-last-news span:hover {
	text-decoration: underline;
}
/*PRODUCTS*/
.button-order:hover, .button-news:hover {
	background-color: #009fe3;
	border-color: #009fe3;
	color: #fff;
}
.video-product:hover {
	background: url(../img/icon/video-icon-hover.svg);
}
.product:hover {
	box-shadow: 0px 1px 9.9px 0.1px rgba(0, 0, 0, 0.15);
}
/*END PRODUCTS*/
/*CATEGORY*/
.reset:hover, .apply:hover {
	background-color: #009fe3;
	color: #fff;
	border-color: #009fe3;
}
.main-category:hover {
	box-shadow: 0px 1px 9.9px 0.1px rgba(0, 0, 0, 0.15);
}
/*END CATEGORY*/
/*PRODUCT*/
.pr-page-consul:hover {
	color: #fff;
	background-color: #009fe3;
}
.compatibility div:hover {
	opacity: .7;
}
.close-consultation:hover {
	background-color: #0071ba;
}
.consultation-container textarea:focus, .consultation-container input:focus {
	box-shadow: 0px 2px 9.9px 0.1px rgba(0, 0, 0, 0.25);
}
.send:hover {
	background-color: #009fe3;
}
.left-contacts input:focus, .left-contacts textarea:focus {
	border-bottom: 2px solid #009fe3;
	color: #009fe3;
}
/*END PRODUCT*/
/*NEW-PAGE*/
.share-facebook:hover, .share-twitter:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
/*END NEW-PAGE*/
/*404*/
.button-404:hover {
	color: #009fe3;
	border: 1px solid #009fe3;
	background-color: #fafafa;
}
/*END 404*/
/* Footer */
.facebook:hover {
	background: url(../img/icon/facebook-blue.svg);
}
.twitter:hover {
	background: url(../img/icon/twitter-blue.svg);
}
.youtube:hover {
	background: url(../img/icon/youtube-blue.svg);
}
.instagram:hover {
	background: url(../img/icon/instagram_blue.svg);
}
/* END Footer */ 