/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Light/OpenSans-Light.woff2?v=1.101") format("woff2"), 
	   url("../fonts/Light/OpenSans-Light.woff?v=1.101") format("woff"),
	   url("../fonts/Light/OpenSans-Light.eot?iefix") format("eot"),
	   url("../fonts/Light/OpenSans-Light.ttf") format("truetype"),
	   url("../fonts/Light/OpenSans-Light.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Regular/OpenSans-Regular.woff2?v=1.101") format("woff2"), 
	   url("../fonts/Regular/OpenSans-Regular.woff?v=1.101") format("woff"),
	   url("../fonts/Regular/OpenSans-Regular.eot?iefix") format("eot"),
	   url("../fonts/Regular/OpenSans-Regular.ttf") format("truetype"),
	   url("../fonts/Regular/OpenSans-Regular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/SemiBold/OpenSans-SemiBold.woff2?v=1.101") format("woff2"),
	   url("../fonts/SemiBold/OpenSans-SemiBold.woff?v=1.101") format("woff"),
	   url("../fonts/SemiBold/OpenSans-SemiBold.eot?iefix") format("eot"),
	   url("../fonts/SemiBold/OpenSans-SemiBold.ttf") format("truetype"),
	   url("../fonts/SemiBold/OpenSans-SemiBold.svg#webfont") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Bold/OpenSans-Bold.woff2?v=1.101") format("woff2"), 
	   url("../fonts/Bold/OpenSans-Bold.woff?v=1.101") format("woff"),
	   url("../fonts/Bold/OpenSans-Bold.eot?iefix") format("eot"),
	   url("../fonts/Bold/OpenSans-Bold.ttf") format("truetype"),
	   url("../fonts/Bold/OpenSans-Bold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*Common style*/
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}
#page-preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #000;
	z-index: 100500;
}

#page-preloader .spinner {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url(../img/loader.svg) no-repeat 50% 50%;
	margin: -16px 0 0 -16px;
}
body a {
	color: #000;
	text-decoration: none !important;
	-webkit-text-decoration: none !important;
	-moz-text-decoration: none !important;
	-ms-text-decoration: none !important;
	-o-text-decoration: none !important;
	outline: none;
}
body {
	background-color: #fafafa;
	font: 400 14px "Open Sans", sans-serif;
}
.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}
.container-relative {
	position: relative;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}
.container1200 {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.bg-preloader {
	background: url(../img/icon/facebook-blue.svg), url(../img/icon/twitter-blue.svg), url(../img/icon/youtube-blue.svg),
	url(../img/search_blue.svg), url(../img/icon/icon1.svg), url(../img/icon/icon2.svg), url(../img/icon/icon3.svg), url(../img/icon/icon4.svg),
	url(../img/icon/icon5.svg), url(../img/close-menu.svg), url(../img/icon/video-icon-hover.svg);
}
.proposition1, .proposition2, .proposition3, .proposition4, .filter-button, .prev, .next,
.equip-tab1, .equip-tab2, .equip-tab3, .equip-tab4, .open-menu, .close-menu{
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-tap-highlight-color: transparent;
}
.bg-dark {
	display: none;
	background-color: #000;
	opacity: .8;
	z-index: 1002;
	width: 100%;
    height: 500%;
    position: fixed;
    top: 0;
    left: 0;
}
/*------------------------------------------HOME PAGE-----------------------------------------------*/
/*Video*/
.video-responsive {
	position: relative;
    top: 0;
    right: 0;
	bottom: 0;
    left: 0;
    overflow: hidden;
	background: url(../img/backgraund_img.jpg);
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 1100px;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto; 
}
@supports (object-fit: cover) {
     .video-responsive > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
	}
}
/*END Video*/
.texture {
	z-index: 1;
	position: relative;
	width: 100%;
    height: 1100px;
    top: 0;
    left: 0;
	background: url(../img/texture.png);
}
.firstpage {
	z-index: 3;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.firstpage img {
	width: 100%;
	max-width: 519px;
	display: block;
	margin: 0 auto;
}
.firstpage h1 {
	text-align: center;
	margin: 32px 0px 52px;
	font: 400 22px "Open Sans", sans-serif;
	color: #fff;
}
.scroll {
	position: absolute;
	z-index: 3;
	left: 50%;
    margin-right: -50%;
	bottom: 180px;
	height: 41px;
	width: 24px;
	background-image:url(../img/srcoll.svg);
}
.circle {
	width: 7px;
	height: 7px;
	background-color: #fff;
	border-radius: 50%;
	margin: 18px auto 0px;
}
/*Header*/
.container-menu {
	position: relative;
	width: 100%;
	height: 96px;
	max-width: 1600px;
	margin: 0 auto;
}
.head-2 {
	position: fixed;
	top: 0;
}
.head-1, .head-2 {
	width: 100%;
	height: 96px;
	background-color: #fff;
	z-index: 1000;
	box-shadow: 0px 1px 9.9px 0.1px rgba(0, 0, 0, 0.2);
}
.head-1 img, .head-2 img {
	margin: 30px 0px 0px 20px;
}
.right-box {
	margin-right: 10px;
	float: right;
	width: 102px;
}
.language {
	float: right;
}
.language-now{
	position: relative;
	margin: 40px 12px 20px 16px;
	float: left;
	cursor: pointer;
}
.arrow{
	display: inline-block;
	margin: 0px 0px 1px 12px;
	width: 5px;
    height: 5px;
	content: "";
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.drop-language li {
	padding: 10px 0px 10px 16px;
}
.drop-language {
	display: none;
	position: absolute;
	margin-top: 30px;
	padding: 39px 0px 10px 0px;
	background-color: #fff;
	box-shadow: 0px 2px 9.9px 0.1px rgba(0, 0, 0, 0.15);
	list-style-type: none;
	width: 72px;
}
#active-language {
	background-color: #009fe3;
	padding: 10px 0px 10px 16px;
	margin-left: 0px;
}
#active-language a {
	color: #fff;
}
.search {
	cursor: pointer;
	margin: 43px 15px 0px 0px;
	width: 15px;
	height: 15px;
	background: url(../img/search.svg);
}
.menu {
	float: right;
	list-style-type: none;
	margin: 39px 69px 0px 0px;
}
.menu li{
	margin-right: 30px;
	display: inline-block;
}
.drop-search {
	display: none;
	position: absolute;
	top: 29px;
	right: 88px;
	width: 559px;
	height: 43px;
	background-color: #fff;
	box-shadow: 0px 1px 9.9px 0.1px rgba(0, 0, 0, 0.2);
}
.drop-search input {
	width: 486px;
	font: 400 14px "Open Sans", sans-serif;
	outline: none;
	border: none;
	margin: 11px 0px 0px 20px;
}
.button-search {
	cursor: pointer;
	margin: 14px 10px 0px 0px;
	float: right;
	border: 0;
	outline: 0;
	padding: 0;
	background-color: transparent;
	width: 15px;
	height: 15px;
	background-image: url(../img/search_blue.svg);
}
.drop-menu {
	position: fixed;
	z-index: 1003;
	height: 100%;
	top: 0;
	right: 0;
	display: none;
	width: 300px;
	box-shadow: 0px 1px 9.9px 0.1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}
.search-mobile {
	display: inline-block;
	width: 230px;
	height: 31px;
	background-color: #fff;
	box-shadow: 0px 1px 4.95px 0.05px rgba(0, 0, 0, 0.2);
	margin: 33px 0 0 12px;
}
.button-search-mobile {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/search_blue.svg);
	margin: 8px 12px 0px 8px;
}
.search-mobile input {
	display: inline-block;
	width: 184px;
	font: 400 13px "Open Sans", sans-serif;
	outline: none;
	border: none;
	margin-top: 6px;
    vertical-align: top;
	padding: 0;
}
.open-menu {
	display: none;
	float: right;
	margin: 41px 20px 0 0;
	width: 19px;
	height: 17px;
	background: url(../img/open-menu.svg);
}/*
.close-menu {
	margin: 35px 0 0 15px;
	vertical-align: top;
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/close-menu.svg);
}*/
.menu-mobile, .language-mobile {
	list-style-type: none;
}
.menu-mobile {
	margin: 47px 0 48px 44px;
}
.menu-mobile li {
	margin-top: 35px;
	font: 600 16px "Open Sans", sans-serif;
}
.menu-mobile li:nth-of-type(1):before {
	margin: 5px 23px 0 0;
	float: left;
	content: "";
	width: 20px;
	height: 13px;
	background:url(../img/icon/icon1.svg);
}
.menu-mobile li:nth-child(2):before {
	margin: 0 26px 0 0;
	float: left;
	content: "";
	width: 17px;
	height: 17px;
	background:url(../img/icon/icon2.svg);
}
.menu-mobile li:nth-child(3):before {
	margin: 5px 26px 0 0;
	float: left;
	content: "";
	width: 17px;
	height: 11px;
	background:url(../img/icon/icon3.svg);
}
.menu-mobile li:nth-child(4):before {
	margin: 3px 26px 0 0;
	float: left;
	content: "";
	width: 17px;
	height: 14px;
	background:url(../img/icon/icon4.svg);
}
.menu-mobile li:nth-child(5):before {
	margin: 5px 26px 0 0;
	float: left;
	content: "";
	width: 17px;
	height: 13px;
	background:url(../img/icon/icon5.svg);
}
.language-mobile li{
	position: relative;
	display: inline-block;
	margin: 0 18px;
	vertical-align: middle;
}
.language-mobile {
	text-align: center;
	margin-bottom: 35px;
}
#active-language-mobile {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #009fe3;
	vertical-align: middle;
}
#active-language-mobile a {
	font: 300 14px "Open Sans", sans-serif;
	position: absolute;
	top: 48%;
    left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	color: #fff;
}
/* END Header*/
/* SLIDER */
.slider-novelty {
	margin: 201px 0;
}
.slider {
	position: relative;
	padding-top: 60px;
	height: 357px;
}
.slide-control {
	z-index: 1;
	position: relative;
}
.h-slider {
	position: absolute;
	right: 119px;
	display: inline-block;
	font: 600 24px "Open Sans", sans-serif;
}
.arrow-slider{
	position: absolute;
	right: 0;
	display: inline-block;
	margin: 9px 20px 0px 0px;
}
.prev {
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
	width: 15px;
    height: 15px;
    content: "";
    border-top: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.next {
	display: inline-block;
	cursor: pointer;
	width: 15px;
    height: 15px;
    content: "";
    border-top: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
	-webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.text-slider {
	float: right;
	width: 550px;
	margin: 90px 50px 0px 0px;
}
.text-slider h3 {
	font: 300 24px "Open Sans", sans-serif;
	margin-bottom: 10px;
}
.text-slider p {
	font: 300 18px "Open Sans", sans-serif;
}

.slider-img {
	display: inline-block;
	margin-left: 100px;
	max-height: 357px;
	max-width: 560px;
	width: 100%;
	height: 100%;
}
.slider form {
	margin: 93px 0px 0px 273px;
}
.slider button {
	outline: none;
    font: 300 14px "Open Sans", sans-serif;
    color: #009fe3;
    cursor: pointer;
    width: 99px;
    height: 36px;
	border: none;
    border-bottom: 2px solid #009fe3;
	background: transparent;
}
/* END SLIDER */
/* Filter Category */
.filter-home, .container-news {
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.help-filter {
	margin-bottom: 150px;
	font-size: 0;
}
.filter-slider {
	margin: 0 auto;
	max-width: 1144px;
	width: 100%;
	margin-bottom: 50px;
}
.filter-category {
	cursor: pointer;
	margin: 10px 10px;
	width: 150px;
	height: 160px;
	border: 1px solid #eee;
	background-color: #fafafa;
}
.filter-hover {
	box-shadow: 0px 2px 9.9px 0.1px rgba(0, 1, 0, 0.25);
}
.filter-home h2, .proposition h2 {
	text-transform: uppercase;
	font: 300 24px "Open Sans", sans-serif;
	text-align: center;
	margin-bottom: 60px;
}
.filter-home p {
	font: 300 14px "Open Sans", sans-serif;
	margin: 0px 0px 5px 38px;
}
.filter-prev, .filter-next {
	position: absolute;
	z-index: 1;
	margin-top: 180px;
	cursor: pointer;
	width: 28px;
	height: 34px;
	background-color: #009fe3;
}
.prevp, .nextp {
	position: absolute;
	margin-top: 283px;
	z-index: 1;
	cursor: pointer;
	width: 28px;
	height: 34px;
	background-color: #000;
}
.products-prev, .products-next, .category-next, .category-prev {
	position: absolute;
	margin-top: 230px;
	z-index: 1;
	cursor: pointer;
	width: 28px;
	height: 34px;
	background-color: #000;
}
.category-next, .category-prev {
	position: absolute;
	margin-top: 130px;
	z-index: 1;
	cursor: pointer;
	width: 28px;
	height: 34px;
	background-color: #009fe3;
}
.filter-next, .nextp, .products-next, .category-next {
	right: 0;
}
.filter-prev div, .prevp div, .products-prev div, .category-prev div {
	position: absolute;
	margin: 12px 0px 0px 10px;
	width: 10px;
    height: 10px;
    content: "";
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.filter-next div, .nextp div, .products-next div, .category-next div {
	position: absolute;
	margin: 12px 0px 0px 5px;
	width: 10px;
    height: 10px;
    content: "";
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
	-webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.filter-category h3{
	text-align: center;
	font: 300 14px "Open Sans", sans-serif;
	margin-top: 10px;
	padding: 0 10px;
}
.filter-button {
	cursor: pointer;
	font: 400 14px "Open Sans", sans-serif;
	display: inline-block;
	padding: 0px 16px;
	height: 36px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	margin-right: 20px;
}
.filter-button img, .filter-button h4 {
	display: inline-block;
}
.filter-button img {
	margin-top: 8px;
}
.filter-button h4 {
	margin: 8px 11px 0px 0px;
	float: left;
}
.filter-buttons {
	margin-left: 10px;
}
.filter-buttons p {
	margin: 0px 0px 15px 0px;
}
.filter-home button {
	outline: none;
	cursor: pointer;
	font: 400 14px "Open Sans", sans-serif;
	display: inline-block;
	padding: 14px 22px 12px;
	margin: 50px 30px 0px 10px;
	color: #fff;
	border: none;
	border-radius: 2px;
	background-color: #009fe3;
}
.p-filter {
	display: inline-block;
	font: 300 14px "Open Sans", sans-serif;
	color: #666;
}
/* END Filter Category */
/* Proposition */
.proposition1 h3{
	color: #009fe3;
}
.serv-img1-active {
	display: none;
}
.proposition {
	text-align: center;
	margin-bottom: 227px;
}
.select-proposition {
	margin-bottom: 60px;
}
.proposition1, .proposition2, .proposition3 {
	display: inline-block;
	cursor: pointer;
	width: 215px;
	margin-right: 60px;
}
.proposition4 {
	cursor: pointer;
	display: inline-block;
	width: 215px;
}
.select-proposition h3 {
	font: 600 16px "Open Sans", sans-serif;
	text-align: center;
	margin-top: 40px;
}
.serv-img2 {
	display: none;
}
.serv-img1, .serv-img2 {
	height: 76px;
	width: auto;
	background-repeat: no-repeat;
    background-position: center; 
}
.line-proposition {
	margin: 0 auto 25px;
	width: 146px;
	height: 2px;
	background-color: #009fe3;
}
.text-proposition {
	position: relative;
	color: #808080;
}
.text-proposition1, .text-proposition2, .text-proposition3, .text-proposition4 {
	position: absolute;
	margin: 0 10px;
}
.text-proposition2, .text-proposition3, .text-proposition4 {
	display: none;
}
/* END Proposition */
/* MAIN EQUIPMENTS */
.container-equip {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.equipments h2 {
	text-transform: uppercase;
	font: 300 24px "Open Sans", sans-serif;
	text-align: center;
	padding: 150px 0px 40px;
	color: #fff;
}
.equipments p {
	font: 400 14px "Open Sans", sans-serif;
	text-align: center;
	color: #808080;
	margin: 0 10px;
}
.equipments {
	background: url(../img/bg-equipment.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
	width: 100%;
	height: 898px;
}
.equip-tab1, .equip-tab2, .equip-tab3, .equip-tab4 {
	cursor: pointer;
	font: 400 18px "Open Sans", sans-serif;
	padding: 8px 18px;
	color: #fff;
	margin-bottom: 15px;
}
.active-equip-tab {
	background-color: #fff;
	color: #000;
	border-radius: 2px;
}
.equipment-stats {
	width: 100%;
	height: 202px;
	background-color: #000;
}
.equipment-left {
	display: inline-block;
	margin: 150px 0px 0px 10px;
}
.equipment-right {
	max-width: 400px;
	width: 100%;
	float: right;
	margin: 100px 10px 0px 0px;
}
.equipment-right p {
	text-align: left;
	margin: 0px 0px 25px 0px;
}
.characteristic {
	clear: both;
}
.characteristic div {
	font: 400 16px "Open Sans", sans-serif;
	display: inline-block;
	color: #fff;
	margin: 24px 0px 0px 40px;
}
.characteristic img {
	float: left;
	margin-bottom: 30px;
}
.characteristics2, .characteristics3, .characteristics4 {
	display: none;
}
.characteristics1, .characteristics2, .characteristics3, .characteristics4 {
	position: absolute;
}
.stats-block {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.stats1 {
	float: left;
	margin-left: 100px;
}
.stats3 {
	float: right;
	margin-right: 100px;
}
.stats1, .stats2, .stats3 {
	width: 200px;
	display: inline-block;
	color:#fff;
	vertical-align: top;
	margin-top: 40px;
}
.stats1 p, .stats2 p, .stats3 p {
	font: 300 16px "Open Sans", sans-serif;
	color: #b3b3b3;
	margin-top: 30px;
}
.stats-number1, .stats-number2, .stats-number3 {
	font: 300 60px "Open Sans", sans-serif;
	color: #009ee2;
	line-height: 43px;
}
.text-stats {
	width: 200px;
	color: #fff;
}
/* END MAIN EQUIPMENTS */
/* NEWS */
.news {
	margin-top: 150px;
}
.news h2 {
	display: inline-block;
	font: 300 24px "Open Sans", sans-serif;
	text-transform: uppercase;
	margin-left: 10px;
}
.all-news {
	float: right;
	margin-right: 10px;
	font: 300 14px "Open Sans", sans-serif;
	text-transform: uppercase;
	margin-top: 11px;
}
.block-news {
	margin: 60px 10px 0px;
}
.new {
	display: inline-block;
	width: 360px;
	text-align: left;
	margin-right: 46px;
}
.new:last-child {
	margin-right: 0px;
}
.new img{
	max-width: 360px;
	width: 100%;
}
.new h3 {
	margin: 30px 0px;
	font: 600 18px "Open Sans", sans-serif;
}
.new p {
	font: 300 14px "Open Sans", sans-serif;
	line-height: 24px;
}
.button-news {
	display: inline-block;
	margin-top: 30px;
	padding: 5px 22px;
	background-color: #000;
	color: #fff;
}
/* END NEWS */
/* About us */
.about-us {
	margin-top: 75px;
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
	padding: 75px 0px;
}
.about-us-text {
	display: inline-block;
	margin-left: 10px;
	max-width: 590px;
	width: 100%;
}
.about-us-text h2 {
	font: 300 24px "Open Sans", sans-serif;
	text-transform: uppercase;
	margin-bottom: 60px;
}
.about-us-text p {
	font: 300 14px "Open Sans", sans-serif;
	line-height: 24px;
	margin-top: 30px;
}
.about-us-video {
	top: 50%;
    right: 0;
    transform: translate(0%, -50%);
	position: absolute;
	height: 315px;
	width: 560px;
}
.about-us-video iframe{
	border: none;
}
/* END About us */
/*Footer*/
.logo-footer {
	display: block;
	width: 338px;
	height: 54px;
	margin: 180px auto 46px; 
}
.menu-footer {
	text-align: center;
	list-style: none;
}
.menu-footer li {
	display: inline-block;
	margin: 0px 17px;
}
.copyright {
	margin: 100px 0px 20px 10px;
	font: 300 14px "Open Sans", sans-serif;
	display: inline-block;
}
.social {
	float: right;
	margin: 100px 10px 0px 0px;
}
.facebook, .twitter, .youtube {
	display: inline-block;
	margin-left: 30px;
}
.facebook {
	width: 8px;
	height: 17px;
	background: url(../img/icon/facebook.svg);
}
.twitter {
	width: 21px;
	height: 17px;
	background: url(../img/icon/twitter.svg);
}
.youtube {
	width: 24px;
	height: 17px;
	background: url(../img/icon/youtube.svg);
}
/* END Footer*/
/*------------------------------------------ END HOME PAGE-----------------------------------------------*/
/*------------------------------------------ PRODUCTION -----------------------------------------------*/
/*SLIDER*/

.slider-production {
	margin-top: 96px;
	height: 600px;
}
.arrow-slider-production {
	position: relative;
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}
/*END SLIDER*/
/*CRUMBS*/
.bread-crumbs {
	margin: 50px 0;
}
.bread-crumbs2 {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	margin: 146px 0 50px;
	padding-right: 10px;
}
.crumbs-scroll {
	overflow: auto;
}
.bread-crumbs img, .bread-crumbs2 img{
	margin: 0 10px;
}
.bread-crumbs span, .bread-crumbs2 span {
	margin: 0 10px;
}
.active-bread {
	color: #009fe3;
}
/*END CRUMBS*/
/*CATEGORY PRODUCTS*/
.production {
	font-size: 0;
}
.square {
	display: block;
	float: left;
	margin: 0 20px 0 10px;
	width: 22px;
	height: 22px;
	background-color: #009fe3;
}
.production h2, .best-selling h2, .category-slider h2 {
	display: block;
	text-transform: uppercase;
	font: 400 27px "Open Sans", sans-serif;
	color: #5e5f5f;
    line-height: 20px;
	overflow: hidden;
}
.production p, .best-selling p, .category-slider p {
	font: 400 15px "Open Sans", sans-serif;
	color: #999999;
	line-height: 15px;
    margin: 12px 0 0 10px;
}
.category-production {
	margin-top: 80px;
}
.category {
	display: inline-block;
	width: 280px;
	vertical-align: top;
	padding: 10px;
	
	margin: 9px;
}
.icon-product {
	position: relative;
	height: 187px;
}
.icon-product img {
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translate(-50%, 0%);
}
.text-category {
	text-align: center;
	margin: 27px 0 21px;
}
.text-category span {
	font: 300 16px "Open Sans", sans-serif;
	margin-bottom: 5px;
}
.text-category h3 {
	font: 600 18px "Open Sans", sans-serif;
	margin-top: 3px;
}
/*END CATEGORY PRODUCTS*/
/*BEST SELLING*/
.best-selling {
	background-color: #f2f2f2;
	padding: 65px 0;
	margin-top: 80px;
}
.best-selling .square, .category-slider .square {
	display: inline-block;
	margin: 0 20px 0 10px;
	width: 22px;
	height: 22px;
	background-color: #5e5f5f;
}
.best-selling p {
	margin-left: 10px;
}
.product-list {
	margin: 40px 10px 0;
	font-size: 0;
}
.product {
	display: inline-block;
	vertical-align: top;
	max-width: 280px;
	background: #fff;
	margin: 10px 20px 10px 0;
	padding: 10px 10px 30px;
	border-radius: 3px;
}
.product:last-child {
	margin-right: 0;
}
.top-product, .action-bar {
	position: relative;
	height: 33px;
}
.video-product {
	position: absolute;
	top: 50%;
    transform: translate(0%, -50%);
	width: 23px;
	height: 15px;
	background: url(../img/icon/video-icon.svg);
}
.status {
	position: absolute;
	top: 50%;
	right: 0;
    transform: translate(0%, -50%);
	padding: 7px 10px 9px;
	font: 600 15px "Open Sans", sans-serif;
	line-height: 12px;
	background-color: #ffed00;
}
.product img {
	max-width: 280px;
	width: 100%;
}
.info-bar {
	margin: 30px 0;
}
.number-product, .status-product, .status-product-no {
	font: 400 12px "Open Sans", sans-serif;
}
.status-product {
	float: right;
	color: #0fc747;
}
.status-product-no {
	float: right;
	color: #808080;
}
.product h3 {
	font: 400 18px "Open Sans", sans-serif;
}
.action-bar {
	margin-top: 30px;
}
.price {
	display: inline-block;
	font: 700 18px "Open Sans", sans-serif;
	margin-top: 5px;
}
.price-old {
	display: inline-block;
	font: 700 14px "Open Sans", sans-serif;
	color: #808080;
	text-decoration: line-through;
	margin-right: 10px;
}
.button-order {
	display: inline-block;
	float: right;
	border-radius: 3px; 
	padding: 12px 12px 11px;
	font: 600 14px "Open Sans", sans-serif;
	line-height: 12px;
	background-color: #5e5f5f;
	color: #fff;
}
.seo-text {
	margin: 50px 10px;
	font: 400 13px "Open Sans", sans-serif;
	color: #808080;
	line-height: 19px;
	text-indent: 30px;
}
/*END BEST SELLING*/
/*------------------------------------------ END PRODUCTION -----------------------------------------------*/
/*------------------------------------------ CATEGORY -----------------------------------------------*/
.sidebar {
	width: 300px;
	margin: 90px 20px 0 10px;
	float: left;
}
.filter img {
	display: none;
	max-width: 180px;
    float: left;
    margin: 30px 20px 50px;
}
.filter-list {
	margin: 20px 10px 0 10px;
	border-bottom: 1px dashed #b2b2b2;
	border-width: 1px;
}
.filter-name {
	position: relative;
	display: inline-block;
	font: 400 15px "Open Sans", sans-serif;
	margin: 0 10px 20px 10px;
	width: 270px;
	cursor: pointer;
	user-select: none;
}
.filter-plus {
	position: relative;
	display: inline-block;
	height: 10px;
	float: right;
    margin: 6px 10px 0 0;
}
.plus {
	position: absolute;
    width: 10px;
    height: 2px;
    background-color: #009fe3;
	top: 4px;
	right: 0;
}
.minus {
	position: absolute;
    width: 10px;
    height: 2px;
    background-color: #009fe3;
	top: 4px;
	right: 0px;
}
.rotate {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	transform: rotate(90deg);
}
.filter-list {
	font: 400 14px "Open Sans", sans-serif;
}
.filter-list input {
	display: none;
}
.checkbox-list {
	margin-top: 15px;
}
.checkbox-list:last-child {
	margin-bottom: 30px;
}
.checkbox-list:first-child{
	margin-top: 0;
}
.cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.svg-point {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    transition: all 0.2s ease;
	background-color: #fff;
}
.svg-point svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}
.svg-point:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #009fe3;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.cbx span:last-child {
    padding-left: 17px;
}
.inp-cbx:checked + .svg-point {
    background: #009fe3;
    border-color: #009fe3;
    animation: wave 0.4s ease;
}
.inp-cbx:checked + .svg-point svg {
    stroke-dashoffset: 0;
}
.inp-cbx:checked + .svg-point:before {
    transform: scale(2.5);
    opacity: 0;
    transition: all 0.6s ease;
}
/*SLIDER RANGE*/
.price-slider {
	font: 400 15px "Open Sans", sans-serif;
	margin: 15px 10px 0 10px;
	padding-bottom: 30px;
	user-select: none;
	font-size: 0;
	border-bottom: 1px dashed #b2b2b2;
    border-width: 1px
}
.price-slider span{
	display: block;
	font: 400 15px "Open Sans", sans-serif;
    margin: 0 0 20px 10px;
    user-select: none;
}
.price-slider p{
	display: inline-block;
	font: 400 13px "Open Sans", sans-serif !important;
	color: #000;
	margin: 0 7px;
}
.right-max-price {
	display: inline-block;
    float: right;
}
/* Ширина слайдера */
#slider {
	width: 261px;
	margin: 20px auto;
}
/* Контейнер слайдера */
.ui-slider {
	position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #009fe3;
	border: none;
	cursor: pointer;
	outline: none;
}
.ui-slider-handle:before {
	content: "";
	position: absolute;
	z-index: 2;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #009fe3;
	border: none;
	cursor: pointer;
	opacity: .5;
	right: -7px;
    top: -7px;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
	 height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
	top: -5px;
	margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 4px !important;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 
	height: 2px !important;
	background-color: #dcdcdc;
	border: none !important;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
	height: 4px;
	background-color: #009fe3;
	border: none !important;
}
/* скругление для полосы слайдера */
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#minCost, #maxCost {
	display: inline-block;
	width: 65px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	text-align: center;
	font: 400 15px "Open Sans", sans-serif;
	border-radius: 2px;
}
/*END SLIDER RANGE*/
.filter-buttons-category {
	font: 400 14px "Open Sans", sans-serif;
	margin: 30px 0 50px 10px;
	line-height: 14px;
}
.reset {
	display: inline-block;
	padding: 10px 12px 8px;
	color: #009fe3;
	border: 1px solid #83d0f5;
	cursor: pointer;
	border-radius: 2px;
}
.apply {
	display: inline-block;
	padding: 10px 12px 8px;
	color: #009fe3;
	border: 1px solid #83d0f5;
	cursor: pointer;
	margin-left: 14px;
	border-radius: 2px;
}
.products-category {
	font-size: 0;
	max-width: 1260px;
	width: 100%;
	margin: 80px 0;
	display: inline-block;
	float: right;
}
.sales {
	opacity: .5;
}
.products-category .product:nth-child(4n) {
	margin-right: 0;
	}
/*CATEGORY SLIDER*/
.category-slider {
	background-color: #f2f2f2;
	padding: 65px 0 100px;
	clear: both;
}
.main-category-list {
	margin-top: 30px;
	padding-right: 10px;
}
.main-category {
	cursor: pointer;
	margin: 10px 10px;
	width: 200px;
	height: 217px;
	padding-bottom: 10px;
	background-color: #fff;
	border-radius: 3px;
}
.main-category  h3{
	text-align: center;
	font: 600 14px "Open Sans", sans-serif;
	margin-top: 5px;
	padding: 0 10px;
}
.main-category  span{
	display: block;
	text-align: center;
	font: 300 13px "Open Sans", sans-serif;
	margin: 20px 10px 0;
}
.open-filter {
	display: none;
	margin: 80px 0 0 10px;
	padding: 5px 25px 5px 15px;
	background-color: #009fe3;
	border-radius: 2px;
}
.open-filter img{
	display: inline-block;
	margin: 4px 16px 0 0;
}
.open-filter p{
	display: inline-block;
	font: 400 16px "Open Sans", sans-serif !important;
	color: #fff;
	margin: 0;
	line-height: 14px;
	vertical-align: top;
}
.close-filter, .close-menu {
	position: relative;
	width: 30px;
    height: 30px;
    background-color: #009fe3;
	float: right;
	border-radius: 2px;
}
.close-filter {
	display: none;
    margin: 30px 10px 0 0;
}
.close-menu {
	margin: 33px 13px 0 0;
}
.close-filter:before, .close-menu:before {
	position: absolute;
	content: "";
	top: 14px;
	left: 6px;
	width: 19px;
	height: 2px;
	background-color: #fff;
	transform: rotate(45deg);
}
.close-filter:after, .close-menu:after {
	position: absolute;
	content: "";
	top: 14px;
	left: 6px;
	width: 19px;
	height: 2px;
	background-color: #fff;
	transform: rotate(-45deg);
}

/*END CATEGORY SLIDER*/
/*------------------------------------------ END CATEGORY -----------------------------------------------*/